.hero-section {
    position: relative;
    background: url(../assets/images/img-hero-bg.png) no-repeat bottom center;
    background-size: auto;
    padding: 270px 0 160px;
    .main-title {
        text-align: left;
        h1 {
            font-size: 75px;
            font-weight: 500;
            letter-spacing: -0.03em;
            line-height: 1.35;
            margin-bottom: 32px;
            span {
                background: linear-gradient(261.85deg, #C960FB 0%, #9D60FB 98.28%);
                border-radius: 19px;
                font-size: 80px;
                color: #fff;
                padding: 6px 15px 10px;
                display: inline-block;
            }
        }
        .action {
            margin-top: 32px;
        }
    }
}