.dc-aws-header-section {
    background: url('../assets/images/img-aws-header-bg.png') no-repeat bottom right;
    background-size: auto;
    padding: 160px 0 100px;
    @media (max-width: 1200px) {
        padding: 130px 0 70px;
    }
    @media (max-width: 992px) {
        padding: 130px 0 40px;
    }
    .main-title {
        .aws-logo {
            margin-bottom: 45px;
            @media (max-width: 767px) {
                margin-bottom: 32px;
            }
            img {
                max-width: 340px;
                width: 100%;
                @media (max-width: 767px) {
                    max-width: 200px;
                }
            }
        }
        h1 {
            background: linear-gradient(90deg, #9D60FB 0%, #EC4899 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: 700;
            font-size: 80px;
            letter-spacing: -0.03em;
            display: block;
            margin-bottom: 40px;
            @media (max-width: 1200px) {
                font-size: 56px;
            }
            @media (max-width: 767px) {
                font-size: 36px;
                margin-bottom: 30px;
            }
        }
        .sort-info {
            font-weight: 600;
            font-size: 28px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #303245;
            margin-bottom: 40px;
            @media (max-width: 767px) {
                font-size: 20px;
                margin-bottom: 30px;
            }
        }
        .img-logo {
            margin-bottom: 40px;
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
            img {
                max-width: 575px;
                width: 100%;
                @media (max-width: 767px) {
                    max-width: 275px;
                }
            }
        }
        .action-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px 40px;
            .btn {                
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
}