.dc-content-img-section {
    .with-border-block {
        background: url('../assets/images/img-bg-cross-line.png') no-repeat top left, linear-gradient(180.27deg, rgba(#FAEEFC, 1) 0.25%, #fff 28.92%); 
        background-size: auto;
        border-width: 0px 1px;
        border-style: solid;
        border-color: #DEE0E9;
        padding: 90px 135px 0px;
        @media (max-width: 1440px) {
            padding: 90px 0px 0px;
            border: none;
        }
        @media (max-width: 992px) {
            padding: 70px 0px 0px;
        }
        @media (max-width: 767px) {
            background: url('../assets/images/img-bg-cross-line.png') no-repeat top center, linear-gradient(180.27deg, rgba(#FAEEFC, 1) 0.25%, #fff 28.92%); 
            padding: 40px 15px 10px;
            margin: 0 -15px;
            border-width: 0px;
        }
    }
    .main-title {
        .sort-info {
            font-weight: 500;
        }
    }
    .action {
        margin-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        @media (max-width: 992px) {
            margin-top: 25px;
            padding-bottom: 25px;
        }
    }
    .full-image-block {
        display: block;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .with-icon-list {
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
        @media (max-width: 767px) {
            gap: 40px;
        }
        .icon-list {
            flex: 0 0 auto;
            li {
                font-size: 20px;
                font-weight: 700;    
                white-space: nowrap;
                @media (max-width: 1200px) {
                    font-size: 16px;
                }
                @media (max-width: 767px) {
                    display: inline-flex;
                    margin-right: 25px;
                }
                &:not(:last-child) {
                    margin-bottom: 20px;
                    @media (max-width: 767px) {
                        margin-bottom: 12px;
                    }
                }
                span {
                    display: inline-block;
                    margin-right: 10px;
                    img {
                        width: 40px;
                        height: 40px;
                        flex: none;
                        @media (max-width: 1200px) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}