.dc-pricing-section {
    position: relative;
    background: url('../assets/images/img-pricing-header-bg.jpg') no-repeat top left;
    background-size: cover;
    padding-top: 80px !important;
    padding-bottom: 70px;
    @media (max-width: 992px) {
        padding-top: 50px !important;
        padding-bottom: 40px;
    }
    .main-title {
        max-width: 900px;
        margin: 0 auto 50px;
        h1 {
            font-size: 48px;
            @media (max-width: 992px) {
                font-size: 32px;
            }
        }
    }
    .icw-tab-block {
        max-width: 1170px;
        margin: 0 auto;
        .nav-tabs {
            margin: 0 auto;
            margin-bottom: 120px !important;
            max-width: max-content;
            border-radius: 50px !important;
            @media (max-width: 992px) {
                margin: 0 auto;
                margin-bottom: 40px !important;
            }
            @media (max-width: 767px) {
                padding: 2px 3px 3px;
                gap: 5px;
            }
            
        }
        .tab-content {
            .pricing-block {
                & > .row {
                    & >:first-child .pricing-box {
                        border-radius: 30px 0 0 30px;
                    }
                    & >:last-child .pricing-box {
                        border-radius: 0 30px 30px 0
                    }
                }
                .pricing-box {
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    padding: 50px 30px 70px;
                    background: #FFFFFF;
                    box-shadow: 0px 8px 50px rgba(114, 118, 133, 0.25);
                    border-radius: 30px;
                    @media (max-width: 992px) {
                        padding: 25px;
                        border-radius: 24px !important;
                        max-width: 550px;
                        margin: 0 auto 30px;
                        height: auto;
                    }
                    .pricing-info {
                        padding-bottom: 36px;
                        margin-bottom: 36px;
                        border-bottom: 1px solid rgba(48, 50, 69, .2);
                        width: 100%;
                        @media (max-width: 992px) {
                            padding-bottom: 30px;
                            margin-bottom: 25px;
                        }
                        h2 {
                            font-weight: 800;
                            letter-spacing: -0.02em;
                            margin-bottom: 16px;
                            @media (max-width: 767px) {
                                font-size: 28px;
                            }
                        }
                        .sort-info {
                            min-height: 46px;
                            margin-bottom: 24px;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.3;
                            @media (max-width: 992px) {
                                min-height: auto;
                            }
                            @media (max-width: 767px) {
                                font-size: 16px;
                            }
                        }
                        .action {
                            .btn {
                                min-width: 220px;
                                min-height: 56px;
                                border-radius: 15px;
                                font-size: 18px;
                                @media (max-width: 767px) {
                                    width: 100%;
                                }
                                .arrow-down {
                                    background: url('../assets/images/arrow-down-theme.svg') no-repeat;
                                    margin-left: 10px;
                                    margin-top: 0px !important;
                                    background-size: 12px;
                                    width: 12px;
                                    height: 12px;
                                    flex: none;
                                    position: relative;
                                    top: 2px;
                                    right: 0;
                                    display: inline-block;
                                    background-position: center right;
                                    transition: all 0.3s ease-in-out;
                                }
                                &.active {
                                    .arrow-down {
                                        transform: rotate(180deg) translateY(2px);
                                    }
                                }
                            }
                            .dropdown-action-block {
                                opacity: 0;
                                visibility: hidden;
                                transform: translateY(10px);
                                transition: all 0.3s ease-in-out;
                                height: 0;
                                max-width: 100%;
                                position: relative;
                                .icw-hubspot-form-shortcode {
                                    padding: 15px;
                                    border-radius: 0.25rem !important;
                                    border: 3px solid #E0CCFF;
                                    -moz-border-radius: 30px;
                                    -webkit-border-radius: 30px;
                                    -webkit-box-shadow: 0px 12px 40px rgba(134, 138, 144, 0.4);
                                    box-shadow: 0px 12px 40px rgba(134, 138, 144, 0.4);
                                    background-color: #fff;
                                    max-width: 570px;
                                    margin: 0 auto;
                                }
                            }
                            .dropdown-action.active+.dropdown-action-block {
                                opacity: 1 !important;
                                visibility: visible !important;
                                transform: translateY(5px) !important;
                                z-index: 3;
                            }
                        }
                    }
                    .list-title {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 1.3;
                        margin-bottom: 36px;
                        @media (max-width: 992px) {
                            margin-bottom: 25px;
                        }
                    }
                    .ul-check-list {
                        padding-bottom: 0 !important;
                        li {
                            font-size: 18px;
                            font-weight: 500;
                            color: #303245;
                            margin-bottom: 15px;
                            align-items: flex-start;
                            @media (max-width: 992px) {
                                margin-bottom: 10px;
                            }
                            &:last-child {
                                margin-bottom: 0;
                            }
                            &::before {
                                margin-top: 5px;
                            }
                        }
                    }
                    &.bg-purple {
                        margin-top: -70px;
                        border-radius: 30px 30px 0 0;
                        height: calc(100% + 70px);
                        color: #fff;
                        padding-top: 120px;
                        background: linear-gradient(193.23deg, rgba(251, 96, 233, 0.78) 1.47%, rgba(165, 96, 251, 0.78) 44.95%, rgba(201, 96, 251, 0.78) 94.71%), url('../assets/images/img-pricing-middle-card-bg.png') no-repeat top center;
                        background-size: cover;
                        border-radius: 30px 30px 0px 0px;
                        @media (max-width: 992px) {
                            margin-top: 0;
                            height: auto;
                            padding-top: 25px !important;
                        }
                        .pricing-info {
                            border-color: rgba(255, 255, 255, .2);
                        }
                        .list-title, 
                        .ul-check-list li {
                            color: #fff;
                        }
                        .ul-check-list li::before {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }
}