.dc-counter-section {
    background: #FBFBFB;
    border-top: 1px solid #DEE0E9;
    padding: 60px 0 80px;
    @media (max-width: 1440px) {
        border: none;
        padding: 0 0 80px;
    }
    @media (max-width: 992px) {
        padding: 0 0 60px;
    }
    @media (max-width: 767px) {
        background: url('../assets/images/img-bg-counter-m.png') no-repeat top left, linear-gradient(239.05deg, #9D60FB -0.54%, #E582BF 86.6%);
        background-size: cover;
        padding: 0px 0 50px;
        margin-bottom: 110px;
    }
    .container {
        @media (max-width: 1440px) {
            max-width: 100%;
        }
    }
    .bg-line-gradient-block {
        background: url('../assets/images/img-bg-counter.png') no-repeat top left, linear-gradient(239.05deg, #9D60FB -0.54%, #E582BF 86.6%);
        padding: 100px 180px 150px;
        border-radius: 30px;
        color: #fff;
        @media (max-width: 1440px) {
            padding: 100px 75px;
            border-radius: 0;
            margin: 0 -15px;
        }
        @media (max-width: 992px) {
            padding: 50px 30px 80px;
        }
        @media (max-width: 767px) {
            background: none;
            padding: 40px 60px;
        }
        .main-title {
            .sort-info {
                & > * {
                    font-size: 20px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                    }
                }
            }
        }
        .icon-content-item {
            max-width: 1170px;
            margin: 0 auto;
            margin-bottom: 10px;
            @media (max-width: 1440px) {
                margin-bottom: 80px;
            }
            @media (max-width: 767px) {
                margin-bottom: 0px;
            }
            .card-item {
                background: transparent;
                padding: 0;
                .card-icon {
                    width: 80px;
                    height: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto 8px;
                }
                .sort-info {
                    font-size: 18px;
                }
            }
        }
    }
    .counter-block {
        max-width: 1170px;
        margin: -140px auto 0;
        @media (max-width: 1440px) {
            margin: -140px auto 0;
        }
        @media (max-width: 1200px) {
            margin: -140px 30px 0;
        }
        @media (max-width: 767px) {
            margin: 0 30px -130px;
        }
        .counter-box {
            box-shadow: 0px 13.7273px 45.7575px 9.1515px rgba(123, 140, 149, 0.25);
            @media (max-width: 992px) {
                font-size: 60px;
                padding: 20px 15px;
            }          
            .count-number {
                font-size: 72px;
                color: #303245;    
                font-weight: 800;  
                @media (max-width: 992px) {
                    font-size: 60px;
                }          
            }
            .sort-info {
                color: #303245;
                font-size: 18px;
            }
        }
    }
    .action-btn {
        padding-top: 120px;
        @media (max-width: 1200px) {
            padding-top: 80px;
        }
        @media (max-width: 992px) {
            padding-top: 45px;
        }
        @media (max-width: 767px) {
            margin-top: 30px;
        }
    }
}