.case-studies-section {
    background: #FBFBFB url('../assets/images/img-bg-square-lg.png') no-repeat center center;
    padding: 60px 0;
    .main-title {
        h2 {
            letter-spacing: -0.03em;
        }
    }
    .case-studies-slider {
        @media (min-width: 1200px) {
            margin-left: -15px;
            margin-right: -15px;
        }
        .slick-list {
            border-radius: 20px;
            margin: 0 -15px;
        }
        .slick-track {
            display: flex;

            .slick-slide {
                height: inherit !important;
            }
        }
    }
}
.case-study-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    position: relative;
    border: 1px solid transparent;
    margin: 0 15px;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1;
    &::before {
        content: '';
        background-image: url('../assets/images/img-card-bg.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }
    .card-img {
        text-align: right;
        img {
            display: inline-block;
        }
    }
    .card-body {
        display: flex;
        gap: 22px;
        flex-direction: column;
        padding: 0;
        .action {
            a {
                transition: all 0.3s ease-in-out;
                display: inline-block;
            }
        }
        .card-title {
            font-size: 24px;
            font-weight: 500;
            color: #303245;
            margin-bottom: 0;
        }
        .sort-info {
            font-size: 18px;
            color: #303245;
        }
    }
    &:hover, &:focus {
        box-shadow: 4px 4px 16px rgba(165, 165, 165, 0.12);
        border-color: #DEE0E9;
        &::before {
            opacity: 1;
            visibility: visible;
        }
        .card-body {
            .action {
                a {
                    transform: translate(5px, -5px);
                }
            }
        }
    }
}