.dc-collapse-section {
    max-width: 100%;
    .theme-container {
        @media (max-width: 1440px) {
            max-width: 100%;
        }
    }
    .with-border-block {
        background: #FBFBFB;
        border-width: 1px 1px 0px 1px;
        border-style: solid;
        border-color: #DEE0E9;
        @media (max-width: 1440px) {
            margin: 0 -15px;
        }
        &.is-grid {
            display: flex;
            @media (max-width: 992px) {
                flex-direction: column;
            }
            & > * {
                width: 100%;
                max-width: 50%;
                flex: 1;
                @media (max-width: 992px) {
                    max-width: 100%;
                }
            }
        }
        .main-title {
            display: flex;
            align-items: center;
            background-image: url('../assets/images/img-bg-square.png');
            background-repeat: repeat;
            background-position: top left;
            background-size: contain;
            background-attachment: fixed;
            margin-bottom: 0;
            padding: 65px 55px;
            @media (max-width: 992px) {
                padding: 40px 15px;
            }

            h2 {
                margin-bottom: 0;
                max-width: 588px;
            }
        }
    }
    .collapse-block {
        .collapse-item {
            padding: 0;
            border-width: 1px 0 0px 1px;
            border-style: solid;
            border-color: #DEE0E9;
            @media (max-width: 991px) {
                border-left: 0;
            }
            &:first-child {
                @media (min-width: 991px) {
                    border-top: 0;
                }
            }
            .collapse-title {
                background-position: top right;
                background-repeat: no-repeat;
                background-size: cover;
                padding: 40px;
                @media (max-width: 1200px) {
                    padding: 20px 25px;
                }
                @media (max-width: 767px) {
                    padding: 20px 15px;
                }
                &::after {
                    content: none;
                }
                h3 {                    
                    font-size: 50px;
                    letter-spacing: -0.03em;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    padding-right: 0;
                    @media (max-width: 1440px) {   
                        font-size: 40px;
                        gap: 20px;
                    }
                    @media (max-width: 1200px) {   
                        font-size: 30px;
                    }
                    @media (max-width: 992px) {   
                        font-size: 24px;
                    }
                    .icon {
                        img {
                            max-height: 70px;
                            @media (max-width: 1200px) {  
                                max-height: 40px;
                            }
                        }
                    }
                }
            }
            &:nth-child(4n+1) {
                .collapse-title {
                    background-image: url('../assets/images/img-bg-collapse-purple.png');
                }
            }
            &:nth-child(4n+2) {
                .collapse-title {
                    background-image: url('../assets/images/img-bg-collapse-green.png');
                }
            }
            &:nth-child(4n+3) {
                .collapse-title {
                    background-image: url('../assets/images/img-bg-collapse-pink.png');
                }
            }
            &:nth-child(4n+4) {
                .collapse-title {
                    background-image: url('../assets/images/img-bg-collapse-orange.png');
                }
            }
            .collapse-body {
                margin-top: 0;
                padding: 40px;
                background: rgba(235, 222, 255, 0.2) url('../assets/images/img-collapse-body-bg.png') no-repeat top right;
                border-top: 1px solid #DEE0E9;
                @media (max-width: 1200px) {
                    padding: 20px 25px;
                }
                @media (max-width: 767px) {
                    padding: 15px;
                }
                .sort-info {
                    p {                        
                        font-weight: 400;
                        @media (max-width: 992px) {
                            font-size: 16px;
                        }
                    }
                    ul {
                        padding-left: 24px;
                        li {
                            list-style-type: disc;
                            font-size: 18px;
                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }
                            @media (max-width: 992px) {
                                font-size: 16px;
                            }
                        }
                    }
                }
                .action {
                    margin-top: 24px;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}