.logo-slider-section {
    padding: 40px 0;
    @media (max-width: 767px) {
        padding: 20px 0;
        border-bottom: 1px solid #DEE0E9;
    }
    &.with-border {
        border-width: 1px 0px;
        border-style: solid;
        border-color: #DEE0E9;
    }
    h2 {
        font-weight: 500;
        font-size: 24px;
        color: #7B7C88;
        text-transform: uppercase;
        margin-bottom: 48px;
        @media (max-width: 1200px) {
            margin-bottom: 32px;
        }
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 767px) {
            font-size: 16px;
            margin-bottom: 24px;
            text-align: center;
        }
    }
}