.hero-section {
    position: relative;
    background: url('../assets/images/img-hero-bg.png') no-repeat bottom center;
    background-size: cover !important;
    padding: 280px 0 160px;
    @media (max-width: 1440px) {
        padding: 200px 0 100px;
    }
    @media (max-width: 1200px) {
        padding: 150px 0 100px;
    }
    @media (max-width: 767px) {
        padding: 130px 0 30px;
        background: url('../assets/images/img-hero-bg-m.png') no-repeat bottom center;
    }
    .main-title {
        text-align: left;
        h1 {
            font-size: 50px;
            font-weight: 500;
            letter-spacing: 0.03em;
            line-height: 1.3;
            margin-bottom: 32px;
            @media (max-width: 1440px) {
                font-size: 48px;
            }
            @media (max-width: 1200px) {
                font-size: 36px;
            }
            @media (max-width: 992px) {
                font-size: 28px;
                margin-bottom: 24px;
            }
            span {
                background: linear-gradient(90deg, #9D60FB 0%, #EC4899 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                font-weight: 700;
                font-size: 80px;
                letter-spacing: -0.03em;
                display: block;
                @media (max-width: 1440px) {
                    font-size: 70px;
                }
                @media (max-width: 1200px) {
                    font-size: 58px;
                }
                @media (max-width: 992px) {
                    font-size: 45px;
                }
                @media (max-width: 767px) {
                    font-size: 40px;
                }
            }
        }
        .sort-info {
            max-width: 645px;
            font-size: 20px;
            @media (max-width: 1200px) {
                font-size: 18px;
            }
        }
        .action {
            margin-top: 32px;
        }
    }
    .image-block {
        dotlottie-wc {
            @media (max-width: 575px) {
                width: 340px !important;        
                height: 300px !important;
            }
        }
    }
}