.dc-tab-section {
    background: url('../assets/images/img-tab-bg.png') no-repeat top center;
    padding: 70px 0;    
    @media (max-width: 992px) {
        padding: 40px 0;   
    }
    .tab-slider-block {
        position: relative;
        .slider-tab-nav {            
            padding: 8px;            
            border-radius: 40px;
            margin-bottom: 20px;
            background: linear-gradient(90.31deg, rgba(250, 245, 255, 0.2) 7.88%, rgba(244, 233, 255, 0.2) 110.37%), rgba(255, 255, 255, 0.9);
            box-shadow: 0px 4px 4px rgba(76, 53, 112, 0.34);
            .slick-list {
                padding: 0 9px;
                .slick-track {
                    // display: flex;
                    // align-items: center;
                    padding: 9px;
                    @media (min-width: 1600px) {                        
                        // width: 100% !important;
                        // transform: unset !important;
                    }
                    @media (max-width: 992px) {
                        padding: 8px; 
                    }
                }
            }
            .slide-tab-link {
                display: flex;
                align-items: center;
                gap: 11px;
                padding: 12px 34px;
                border-radius: 30px; 
                font-weight: 400;
                font-size: 20px;   
                position: relative; 
                color: #655C64;
                white-space: nowrap;
                border: 1px solid transparent;
                line-height: 1;
                cursor: pointer;
                @media (max-width: 992px) {
                    font-size: 18px;  
                    gap: 8px; 
                    padding: 10px 25px;
                }
                &::before {
                    content: '';
                    width: calc(100% + 18px);
                    height:  calc(100% + 18px);
                    background: transparent;
                    border-radius: 30px;
                    box-shadow: none;
                    display: block;
                    position: absolute;
                    top: -9px;
                    left: -9px;
                    z-index: -1;
                    @media (max-width: 992px) {
                        width: calc(100% + 16px);
                        height:  calc(100% + 16px);
                        top: -8px;
                        left: -8px;
                    }
                }           
                .icon {           
                    height: 20px;
                    width: 20px;
                    line-height: 0.7;
                    display: inline-block;
                    transition: all 0.1s ease-in-out;
                    img {            
                        height: 100%;
                        width: 100%;
                    }
                    @media (max-width: 992px) {        
                        height: 16px;
                        width: 16px;
                    }
                }
                &:hover, &:focus {
                    color: #000000;
                    .icon {
                        filter: brightness(0);
                    }
                }
            }
            .slick-current {
                .slide-tab-link { 
                    background: rgba(255, 255, 255, 0.22);
                    box-shadow: inset 0px 4px 4px rgba(218, 211, 224, 0.29), inset 0px 4px 4px rgba(255, 255, 255, 0.25);
                    color: #FFFFFF !important;
                    border-bottom-color: rgba(255, 255, 255, 0.5);
                    &::before {
                        background: linear-gradient(84.3deg, rgba(255, 0, 126, 0.46) 28.49%, rgba(98, 0, 248, 0.46) 98.04%), rgba(157, 96, 251, 0.27);
                        box-shadow: inset 0px -4px 4px rgba(255, 255, 255, 0.26), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
                    }
                    .icon {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
        .slider-wrapper {
            position: relative;  
            border-radius: 30px;
            overflow: hidden;            
            @media (max-width: 992px) {
                border-radius: 15px;
            }
            .slider-progress{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 3px;
                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 0px;
                    height: 100%;
                    background-color: rgba(#9D60FB, 0.7);
                    transition: all 0s linear;
                    &.active{
                        width: 100%;
                    }
                }
            }
        }
        .slider-tab-info {
            background: #FFFFFF;
            border: 1px solid #DEE0E9;
            box-shadow: 4px 4px 16px rgba(165, 165, 165, 0.12);
            border-radius: 30px;
            overflow: hidden;
            @media (max-width: 992px) {
                border-radius: 15px;
            }
            .slide-tab-info {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}