.dc-card-content-section {
    background: url('../assets/images/img-dark-bg.jpg') no-repeat top right;
    background-size: cover;
    padding: 70px 0;
    color: #ffffff;
    .main-title {
        margin-bottom: 70px;
    }
    .card-block {
        max-width: 825px; 
        margin: 0 auto 70px;
    }
    .info-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
        .card-img {
            margin-bottom: 16px;
            img {
                width: 48px;
                height: 48px;
                flex: none;
                object-fit: cover;
                object-position: center;
            }
        }
        .card-body {
            padding: 0;
            .card-title {
                font-size: 24px;
                margin-bottom: 0;
            }
        }
    }
}