.block-image-content-section {
    padding: 70px 0;
    @media (max-width: 992px) {
        padding: 40px 0;
    }
}

.image-content-block {
    max-width: 1300px;
    margin: 0 auto;
    &:not(:last-child) {
        padding-bottom: 70px;
        @media (max-width: 992px) {
            padding-bottom: 40px;
        }
    }
    .image-block {
        border-radius: 20px;
        overflow: hidden;
        img {
            border-radius: 20px;
        }
    }
    .right-img {
        text-align: right;
    }
    .main-title {
        @media (min-width: 991px) {
            max-width: 470px;
        }
        h2 {
            font-size: 36px;
            font-weight: 800;
            letter-spacing: -0.02em;
            margin-bottom: 32px;
            color: #9D60FB;
            @media (max-width: 992px) {
                font-size: 24px;
                margin-bottom: 24px;
            }
        }
        .sort-info {
            p, li {
                font-size: 20px;
                @media (max-width: 992px) {
                    font-size: 18px;
                }
            }
        }
    }
}