@import '../scss/config';

.hero-section {
    min-height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    .hero-title {
        .tag-line {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 0.313rem;
        }
        h1 {
            margin-bottom: 1.563rem;
        }
        .sort-info {
            font-size: 1.2rem;
            color: var(--text-white);
        }
        .action {
            margin-top: 1.875rem;
            display: flex;
            align-items: center;
            gap: 0.938rem;
        }
    }
    .hero-thumb-slider-block {
        margin-top: 1.875rem;
        max-width: 80%;
        @media (max-width: 1200px) {
            max-width: 100%;       
        }
        @media (max-width: 992px) {
            display: none;     
        }
        .slide-thumb-info {
            display: flex;
            align-items: flex-start;
            gap: 0.938rem;
            padding: 0.938rem 1.563rem;
            border-radius: 0.313rem;
            font-weight: 500;
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                border-radius: 2px;
            }
            .icon {
                opacity: 0;
                img {
                    margin-top: 0.063rem;
                    box-shadow: 0 0 13px 2px rgba(255, 255, 255, 0.4);
                }
            }
            .info {
                .title {
                    font-size: 1rem;
                    line-height: 1.3;
                    color: var(--text-white);
                }
                p {
                    font-size: 0.938rem;
                    color: rgba(255, 255, 255, 0.65);
                }
            }
        }
        .splide__slide {
            border: none !important;
            &.is-active {
                .slide-thumb-info {
                    background-color: var(--blue-gray);
                    background-image: linear-gradient(rgba(65, 147, 188, 0), rgba(65, 147, 188, 0.161));
                    &::before {
                        animation-name: progressBar;
                        animation-iteration-count: 1;
                        animation-duration: 5s;
                        background-color: rgba(255, 255, 255, 0.2);
                    }
                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .outside-right {
        .hero-img-slider-block {
            width: 50vw;
            background: url('../../images/img-gradient-bg.svg') no-repeat;
            background-position: top left;
            background-size: cover !important;
            border-radius: 1.063rem;
            border: 0.063rem solid var(--purple-3);
            padding: 0.938rem 0.938rem 0.938rem 0;
            margin-left: 3.75rem;
            @media (max-width: 1200px) {
                margin-left: 1.25rem;
                width: 60vw;
            }
            @media (max-width: 992px) {
                width: 100%;
                margin-left: 0;
                margin-top: 2.5rem;
                background: url('../../images/img-bottom-gradient-bg.svg') no-repeat;
                background-position: bottom center;
                padding: 1.5rem;
            }
            @media (max-width: 767px) {
                padding: 0.938rem;
            }
            .splide__list {
                @media (min-width: 992px) {
                    margin-left: 1.5rem !important;
                }
            }
            .splide__pagination {
                bottom: -55px;
            }
            .splide__track {
                // border-radius: 0.938rem;
                z-index: 1;
                @media (max-width: 992px) {
                    border-top-left-radius: 0;
                    margin: 0 -15px;
                }
            }
            .slide-thumb-info {
                display: none;
                @media (max-width: 992px) {
                    margin-bottom: 1.875rem;
                    display: block;
                }
                @media (max-width: 767px) {
                    margin-bottom: 1.2rem;
                }
                .info {
                    .title {
                        font-size: 1.5rem;
                        line-height: 1.3;
                        color: var(--text-white);
                        margin-bottom: 0.2rem;
                        @media (max-width: 767px) {                            
                            font-size: 1.125rem;
                        }
                    }
                    p {
                        font-size: 1.1rem;
                        color: rgba(255, 255, 255, 1);
                        @media (max-width: 767px) {                            
                            font-size: 0.938rem;
                        }
                    }
                }
            }
            .media-block {
                width: 570px;
                max-width: 570px;
                border: 0.063rem solid #2b2b2b;
                border-radius: 0.938rem;
                overflow: hidden;
                @media (max-width: 992px) {
                    width: 600px;
                    max-width: 100%;
                }
                @media (max-width: 575px) {
                    width: 280px;
                    max-width: 100%;
                }
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}
@keyframes progressBar {
  0% {
    width: 5%;
  }

  100% {
    width: 100%;
  }
}