.morden-card-blocks {
    max-width: 70rem;
    margin: 0 auto;
    .row {
        & > * {
            margin-bottom: 1.5rem;
        }
        .with-arrow {
            position: relative;
            .arrow-line {
                position: relative;
                @media (max-width: 992px) {
                    display: none;
                }
                img {
                    position: absolute;
                    width: 450px;
                    top: -185px;
                    left: 120px;
                    z-index: 5;
                    height: auto;
                    @media (max-width: 1200px) {
                        width: 360px;
                        top: -160px;
                        left: 130px;
                    }
                }
            }
        }
    }
    .morden-card {
        justify-content: space-between;
        width: 100%;
        display: flex;
        gap: 6.25rem;
        border-radius: 1.063rem;
        // overflow: hidden;
        height: 100%;
        z-index: 6;
        position: relative;
        @media (max-width: 992px) {
            flex-direction: column;
            gap: 1.875rem;
        }
        &.br-bg-card {
            background: #1a1a1a url('../../images/img-br-gradient-bg.svg') no-repeat;   
            background-position: -40% 60%;
            background-size: cover;
            padding: 2rem 0 0 2rem;
            .card-image {
                margin-top: -2rem;
                @media (max-width: 992px) {
                    margin-top: 0;
                }
            }
        }
        &.center-bg-card {
            background: #1a1a1a url('../../images/img-center-gradient-bg.svg') no-repeat;   
            background-position: 220% 70%;
            background-size: cover;
            padding: 2rem 2rem 0;
            .card-image {
                margin-bottom: -2rem;
                @media (max-width: 992px) {
                    margin-top: 0;
                }
            }
        }
        &.flex-column {
            grid-row-gap: 7rem;
            align-items: stretch;
            @media (max-width: 1200px) {
                grid-row-gap: 5rem;
            }
            @media (max-width: 992px) {
                gap: 1.875rem;
            }
            &.br-bg-card {
                background-position: 100% 100%;
                padding: 2rem 0 0 2rem;
            }
            &.center-bg-card {
                background-position: 100% 90%;
                background-size: 280%;
                padding: 2rem 0 2rem 2rem;
            }
            .card-image {
                max-width: 31.875rem;
                margin-left: auto;
                @media (max-width: 992px) {
                    max-width: 100%;
                    order: 2;
                }
            }
            .card-content {
                @media (max-width: 992px) {
                    order: 1;
                }
            }
        }
        .card-content {
            max-width: 26rem;
            @media (max-width: 992px) {
                max-width: 100%;
                order: 1;
            }
            h3 {
                margin-bottom: 1rem;
                color: #f1f1f1;
            }
            .sort-info {
                color: rgba(255, 255, 255, 0.65);
                font-size: 1.2rem;
            }
        }
        .card-image {
            max-width: 37.5rem;
            @media (max-width: 992px) {
                order: 2;
            }
        }
    }
}