@import '../scss/config';

.video-section {
    .video-player-block {
        width: 100%;
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid var(--black);
        background-color: var(--black);
        border-radius: 10px;
        padding: 8px;
        overflow: hidden;
        .play-iframe {
            border-radius: 10px;
        }
    }
}