@import '../scss/config';

.share-socials {
    .share-title {
        font-size: 1.2rem;
        font-weight: 500;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-bottom: 0.8rem;
        margin-bottom: 1rem;
    }

    ul.social-links {
        @include flexbox;
        @include align-items(center);
        gap: 10px;

        li {
            a {
                width: 34px;
                aspect-ratio: 1 / 1;
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                border: 1px solid rgba(0, 0, 0, 0.2);
                @include border-radius(8px);
                @include transition(0.3s, ease-in-out);

                svg {
                    width: 14px;
                    height: 14px;

                    path {
                        @include transition(0.3s, ease-in-out);
                    }
                }

                &:hover,
                &:focus {
                    border-color: var(--black);

                    svg {
                        path {
                            fill: var(--black);
                        }
                    }
                }
            }
        }
    }

}

.post-section {
    .post-list-block {
        width: 100%;
        max-width: 45rem;
        margin: 0 auto;

        .row>.col:first-child {
            flex: 0 0 100%;
            max-width: 100%;

            .post-card {
                .card-img {
                    &.ratio-4x3 {
                        --bs-aspect-ratio: 52%;

                        @media (max-width: 767px) {
                            --bs-aspect-ratio: 51%;
                        }
                    }
                }
            }
        }
    }
}

.post-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    color: var(--text-white);
    background-color: #1d1e20;
    border: 1px solid #2b2b2b;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    @include transition(0.3s, ease-in-out);

    .card-img {
        overflow: hidden;

        &.ratio-4x3 {
            --bs-aspect-ratio: 57%;

            @media (max-width: 767px) {
                --bs-aspect-ratio: 51%;
            }
        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            @include transition(0.3s, ease-in-out);
            transform-origin: center;
        }
    }

    .card-body {
        padding: 1.5rem;
        flex: 1 1 auto;

        @media (max-width: 767px) {
            padding: 1.5rem 1.25rem;
        }

        .card-title {
            font-size: 1.2rem !important;
            font-weight: 600;
            margin-bottom: 0.5rem;
            line-height: 1.4;
            @include transition(0.3s, ease-in-out);

            @media (min-width: 1440px) {
                font-weight: 500;
            }

            @media (max-width: 992px) {
                font-size: 1.1rem !important;
            }

            a {
                color: var(--text-white);
                text-decoration: none;
                background-image: linear-gradient(to right, var(--white) 0%, var(--white) 100%);
                background-position: 0 100%;
                background-repeat: no-repeat;
                background-size: 0 1px;
                @include transition(0.3s, ease-in-out);
            }
        }

        .sort-info {
            font-size: 0.875rem;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .card-footer {
        padding: 0 1.5rem 1.5rem;
        @include flexbox;
        @include align-items(center);
        gap: 0.5rem;
        font-size: .9rem;
        color: var(--text-white);
        width: 100%;

        @media (max-width: 767px) {
            padding: 0 1.25rem 1.5rem;
        }

        .date {
            margin-left: auto;
            white-space: nowrap;
        }
    }

    &:hover,
    &:focus {
        border-color: rgba(255, 255, 255, 0.2);

        .card-img {
            // img {
            //     @include transform(scale(1.02));
            // }
        }

        .card-body {
            .card-title {
                a {
                    background-size: 100% 1px;
                }
            }
        }
    }

    section.is-light & {
        border: 1px solid #dadada;
        background: var(--white);

        .card-body {
            .card-title {
                color: var(--text-black);

                a {
                    color: var(--text-black);
                    background-image: linear-gradient(to right, var(--text-black) 0%, var(--text-black) 100%);
                }
            }

            .sort-info {
                color: #818282;
            }
        }

        .card-footer {
            .user-info {
                .info {
                    .name {
                        color: #818282;
                    }
                }
            }

            a.user-info {
                .info {
                    .name {
                        color: var(--text-black);
                    }
                }
            }

            .date {
                color: #818282;
            }
        }

        &:hover,
        &:focus {
            border-color: var(--black);

            .card-body {
                .card-title {
                    a {
                        background-size: 100% 1px;
                    }
                }
            }
        }
    }
}

.post-splide {
    .splide__track {
        border-radius: 15px;

        @media (max-width: 992px) {
            border-radius: 15px 0 0 15px;
            margin: 0 -0.75rem;
        }
    }

    .splide__slide {
        .post-card {
            @media (max-width: 992px) {
                min-width: 300px;
                max-width: 300px;
            }

            @media (max-width: 767px) {
                min-width: 280px;
                max-width: 280px;
            }
        }
    }
}

.blog-header-title {
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;

    .back-link {
        margin-bottom: .5rem;

        a {
            @include flexbox;
            @include align-items(center);
            gap: 3px;
            font-size: 1rem;
            line-height: 1.3;
            color: rgba(255, 255, 255, 0.65);
            text-decoration: none;
            @include transition(0.3s, ease-in-out);
            text-underline-offset: 4px;

            .icon-back {
                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M201.4 297.4C188.9 309.9 188.9 330.2 201.4 342.7L361.4 502.7C373.9 515.2 394.2 515.2 406.7 502.7C419.2 490.2 419.2 469.9 406.7 457.4L269.3 320L406.6 182.6C419.1 170.1 419.1 149.8 406.6 137.3C394.1 124.8 373.8 124.8 361.3 137.3L201.3 297.3z" fill="rgba(255, 255, 255, 0.65)"/></svg>') no-repeat center center;
                background-size: contain;
                width: 18px;
                height: 18px;
                @include transition(0.3s, ease-in-out);
            }

            &:hover,
            &:focus {
                color: var(--text-white);
                text-decoration: underline;

                .icon-back {
                    @include transform(translateX(-5px));
                }
            }
        }
    }

    .post-title {
        margin-bottom: 3rem;
    }

    .post-img {
        border-radius: 10px;
        width: 100%;
        overflow: hidden;

        &.ratio-4x3 {
            --bs-aspect-ratio: 52%;

            @media (max-width: 767px) {
                --bs-aspect-ratio: 51%;
            }
        }
    }

    .post-meta {
        @include flexbox;
        @include align-items(center);
        @include flex-wrap(wrap);
        gap: 15px;
        margin-top: 1.5rem;
        z-index: 2;
        position: relative;
        font-size: 0.875rem;

        .user-info {
            .name {
                color: #818282;
                font-size: 0.875rem;
            }
        }

        a.user-info {
            .name {
                text-decoration: none;
            }

            &:hover,
            &:focus {
                .name {
                    text-decoration: underline;
                    color: var(--text-black);
                }
            }
        }

        .date-info {
            @include flexbox;
            @include align-items(center);
            gap: 0.5rem;
            color: #818282;

            @media (min-width: 475px) {
                margin-left: auto;
            }

            .dot {
                @include border-radius(50%);
            }
        }
    }

    hr {
        margin: 2rem 0;
        border-color: var(--text-black);
        opacity: 1;
        z-index: 2;
        position: relative;

        @media (max-width: 767px) {
            margin: 1.2rem 0;
        }
    }
}

.blog-content-section {
    padding-top: 19rem;
    margin-top: -26rem;
    background: var(--white);

    @media (max-width: 1200px) {
        padding-top: 22rem;
    }

    @media (max-width: 992px) {
        .col-sidebar {
            display: none;
        }
    }

    @media (max-width: 767px) {
        margin-top: -16rem;
        padding-top: 13rem;
    }

    .position-sticky {
        @media (min-width: 992px) {
            position: -webkit-sticky !important;
            position: sticky !important;
            top: 112px;
            z-index: 2;
        }
    }

    .single-content {
        scroll-margin-top: 80px;
        scroll-margin-bottom: 100px;

        h2[id],
        h3[id] {
            padding-top: 130px;
            margin-top: -100px;
        }
    }
}


// Post sidebar
.post-sidebar {
    .single-nav {
        // background: rgba(#5b5b5b, 0.05);
        // padding: 1.2rem;
        @include border-radius(0.5rem);

        .nav-title {
            font-size: 1.2rem;
            font-weight: 500;
            // border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding-bottom: 1rem;
        }

        .navbar-list {
            max-height: 80vh;
            overflow: hidden;
            overflow-y: auto;
            scrollbar-width: thin;
            max-width: 250px;
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 5px;
                height: 5px;
                border-radius: 16px;
            }

            &::-webkit-scrollbar-track {
                background-color: rgba(#000, 0.05)
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(#000, 0.30);
                border-radius: 16px;
            }
        }

        .nav-item {
            // padding-left: 20px;
            .nav-link {
                color: var(--gray);
                font-size: 1rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                padding-left: 20px;
                padding-bottom: 0.4rem;
                padding-top: 0.4rem;
                &::before {
                    content: '';
                    width: 3px;
                    height: 100%;
                    background: rgba(#5b5b5b, 0.05);
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    @include transition(0.3s, ease-in-out);
                }
                &:first-child {
                    padding-top: 0;
                    &::before {
                        @include border-radius(0.3rem);
                    }
                }
                &:last-child {
                    padding-bottom: 0;
                    &::before {
                        @include border-radius(0.3rem);
                    }
                }
                // &:not(:first-child) {
                //      padding-top: 0.5rem;
                // }

                // &:not(:last-child) {
                //      padding-bottom: 0.3rem;
                // }

                &.sub-heading {
                    font-size: 0.875rem;
                    border-left: 1px solid var(--gray);
                    position: relative;
                    padding-left: 0.5rem;
                }

                &:hover,
                &:focus,
                &.active {
                    color: var(--black);
                }

                &.active {
                    font-weight: 500;
                    color: var(--black);
                    &::before {
                        background: var(--purple);
                        @include border-radius(0.3rem);
                    }
                }
            }
        }
    }
}

.post-right-sidebar {
    background: rgba(#5b5b5b, 0.05);
    padding: 1.2rem;
    @include border-radius(0.5rem);

    @media (max-width: 1200px) {
        margin-top: 2rem;
    }

}

// Author
.author-page-header {
    padding-top: 7rem;
    padding-bottom: 7rem;

    @media (max-width: 1200px) {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }

    @media (max-width: 767px) {
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
    }

    .author-info-block {
        max-width: 45rem;
        margin: 0 auto;

        .author-img {
            max-width: 150px;

            img {
                // @include border-radius(0.5rem);
                aspect-ratio: 1 / 1;
                @include border-radius(50%);
                overflow: hidden;
                width: 100%;
            }
        }

        .author-info {
            h1 {
                margin-bottom: 1.2rem;
            }

            .designation {
                margin-bottom: 1.2rem;
                font-size: 1rem;

                @media (max-width: 767px) {
                    font-size: 0.875rem;
                }
            }

            .sort-info {
                font-size: 1.2rem;
                color: rgba(255, 255, 255, 0.65);

                @media (max-width: 767px) {
                    font-size: 1rem;
                }
            }

        }
    }
}

.author-share-btns {
    @include flexbox;
    @include align-items(center);
    gap: 1rem;
    margin-top: 1.5rem;

    .social-btn {
        width: 2rem;
        height: 2rem;
        flex: none;
        border: 1px solid rgba(255, 255, 255, 0.3);
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        @include border-radius(0.3rem);

        svg {
            width: 14px;
            height: 14px;
        }

        &:hover,
        &:focus {
            border-color: var(--white);
        }
    }
}

// Featured authors
.featured-authors-block {
    max-width: 45rem;
    margin: 0 auto;
}

.author-card {

    gap: 0.8rem;
    padding: 0.8rem;

    @include flexbox;
    @include flex-direction(row);
    @include align-items(center);
    height: 100%;
    color: var(--text-white);
    background-color: #1d1e20;
    border: 1px solid #2b2b2b;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    @include transition(0.3s, ease-in-out);

    text-decoration: none;

    .author-img {
        width: 60px;
        aspect-ratio: 1 / 1;
        @include border-radius(50%);
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .info {
        .name {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .designation {
            font-size: 0.875rem;
            opacity: 0.8;
            margin-top: 0.2rem;
        }
    }

    &:hover,
    &:focus {
        border-color: rgba(255, 255, 255, 0.2);

        .name {
            text-decoration: underline;
        }
    }
}

// Author bio
.author-bio {
    margin-top: 2rem;
    padding: 1.5rem;
    @include border-radius(0.8rem);

    background: #1a1a1a url('../../images/img-center-gradient-bg.svg') no-repeat;
    background-position: 50% 60%;
    color: var(--text-white);

    @media (max-width: 767px) {
        padding: 1.2rem;
    }

    .title {
        margin-bottom: 1.7rem;
        font-size: 1.6rem;
        font-weight: 500;

        @media (max-width: 767px) {
            margin-bottom: 1.5rem;
            font-size: 1.3rem;
        }
    }

    .author-block {
        @include flexbox;
        gap: 30px;

        @media (max-width: 767px) {
            gap: 20px;
        }

        .author-img {
            min-width: 80px;
            max-width: 80px;
            aspect-ratio: 1 / 1;
            overflow: hidden;

            @media (max-width: 767px) {
                min-width: 60px;
                max-width: 60px;
            }

            img {
                width: 100%;
                @include border-radius(50%);
            }
        }

        .author-info {
            .name {
                font-size: 1.3rem;
                font-weight: 500;

                @media (max-width: 767px) {
                    font-size: 1.2rem;
                }
            }

            .designation {
                font-size: 0.875rem;
                margin: 0.5rem 0 1rem;
                opacity: 0.8;
            }

            .sort-info {
                font-size: 1.1rem;

                @media (max-width: 767px) {
                    font-size: 1rem;
                }
            }
        }
    }
}