@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.alphabet-block{
    overflow: hidden;
    padding-bottom: 5rem;
    @media (max-width: 992px) {        
        -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
        -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
        mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
        mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
        margin-left: -2rem;
        margin-right: -2rem;
    }
    @media (max-width: 767px) {        
        padding-bottom: 2rem;
    }
    .alphabet {
        margin: 0;
        list-style: none;    
        @include flexbox;  
        @include align-items(flex-start);
        @include justify-content(space-evenly);
        text-transform: uppercase;
        -ms-flex-pack: distribute;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;
        overflow-y: hidden; 
        gap: 0.75rem;
        padding-bottom: 0.313rem;
        @media (max-width: 1440px) {
            @include justify-content(flex-start);
        }      
        @media (max-width: 992px) {
            padding: 0 2rem;
        }
        &::-webkit-scrollbar { 
            height: 0.25rem; 
        }
        &::-webkit-scrollbar-track { 
            background: transparent; 
        }
        &::-webkit-scrollbar-thumb { 
            background: #6E6E6E; 
            @include border-radius(0.25rem);
        }
        &::-webkit-scrollbar-thumb:hover { 
            background: rgba(#6E6E6E, 0.9); 
        }  
        li {  
            position: relative;
            &.current {
                span {
                    color: var(--text-black); 
                    background: #0FFEE6;
                    border-color: #0FFEE6;
                }
            }
            &:not(.active) {
                span {
                    cursor: default; 
                    color: #626161; 
                    pointer-events: none;
                    background: #303030;
                    border-color: #303030;
                }
            }
            &:hover, &:focus {
                span {
                    color: var(--text-black); 
                    background: #0FFEE6;
                    border-color: #0FFEE6;
                }
            }
            span {
                line-height: 1;        
                cursor: pointer;
                @include inline-flex;  
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(50%);
                @include transition(0.2s, ease-in-out);
                background: #353535;
                border: 0.063rem solid #353535;
                width: 2rem;
                height: 2rem;
                flex: none;
                color: var(--white);
                font-size: 0.875rem;
                font-weight: 500;
                text-align: center;
                @media (max-width: 992px) {
                    width: 2.75rem;
                    height: 2.75rem;
                }
            }
        }
    
    }
}
.result-status {
	@include align-items(center);
    margin-bottom: 2.5rem;
    display: none;
    &.show {
        @include flexbox;
    }
    .btn {
        margin-left: auto; 
        width: 8.125rem;
        &:hover, &:focus {
            background: transparent;
            color: var(--text-white) !important;
        }
    }
    &:not(.show) > span {
        display: none;
    }
    .showing {
        display: inline-block; 
        font-size: 0.875rem;
    }
    #showing {
        font-weight: bold; 
        display: inline-block; 
        padding-left: 0.313rem; 
        text-transform: uppercase;
    }
}
.glossary-row {
    columns: 20rem 3;
    column-gap: 6.25rem;
    .glossary-col {
        display: none;
        &.show {
            display: block;
        }
        &:last-child {
            .glossary-item { 
                padding-bottom: 0;
            }
        }
        .glossary-item {
            -moz-column-break-inside: avoid;
            break-inside: avoid;
            padding: 0 0 4rem;
            position: relative;
            display: grid;
            grid-column-gap: 1rem;
            grid-template-columns: 2rem auto;
            span {
                background: #353535;
                border: 1px solid #353535;
                width: 2rem;
                height: 2rem;
                flex: none;
                font-size: 0.875rem;
                font-weight: 500;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                @include border-radius(50%);
                color: var(--text-white);
                @include transition(0.2s, ease-in-out);
                margin-top: -0.375rem;
            }
            ul {
                max-height: 15rem;
                overflow: hidden;
                overflow-y: auto;
                &::-webkit-scrollbar { 
                    width: 0.25rem; 
                }
                &::-webkit-scrollbar-track { 
                    background: transparent; 
                }
                &::-webkit-scrollbar-thumb { 
                    background: #6E6E6E; 
                    @include border-radius(0.25rem);
                }
                &::-webkit-scrollbar-thumb:hover { 
                    background: rgba(#6E6E6E, 0.9); 
                }
                li {
                    &:not(:last-child) {
                        margin-bottom: 1rem;
                    }
                    a {
                        color: var(--text-white);
                        text-decoration: none;
                        text-underline-offset: 0.25rem;
                        font-size: 0.875rem;
                        letter-spacing: 0.01em;
                        @include transition(0.2s, ease-in-out);
                        &:hover, &:focus {
                            color: #0FFEE6;
                        }
                    }
                }
            }
            &:hover, &:focus {
                span {
                    color: var(--text-black); 
                    background: #0FFEE6;
                    border-color: #0FFEE6;
                }
            }
        }
    }
}