*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    -webkit-appearance: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    // margin: 0;
    // background-color: var(--dark-pink);
    // color: var(--text-black);
    // font-family: var(--font-family-body);
    // font-size: clamp(1rem, 2.5vw, 1.5rem);
    // font-weight: 400;
    // line-height: 1.3;

    // @include flex-direction(column);
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    // text-rendering: optimizeLegibility;
}

body ::selection {
    color: #fff;
    background: #FFB89F;
}

:focus {
    box-shadow: none !important;
}

// Font Weight
.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

// Font Size
.text-xxl {
    font-size: clamp(2rem, 4.5vw, 6.5rem);
}

.text-xl {
    font-size: clamp(1.2rem, 4.5vw, 2rem);
}

.text-lg {
    font-size: clamp(1rem, 4.5vw, 1.5rem);
}

.text-md {
    font-size: clamp(0.875rem, 4.5vw, 1.25rem);
}

.text-sm {
    font-size: clamp(0.75rem, 4.5vw, 0.875rem);
}

.text-xs {
    font-size: clamp(0.625rem, 4.5vw, 0.75rem);
}

.overflow-hidden {
    overflow: hidden !important;
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.clear {
    clear: both;
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2C323A;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-max-width: 340px;

    .tooltip-inner {
        text-align: left;
        font-weight: 500;
    }
}

.icw-tooltip {
    .tooltip-inner {
        font-size: 12px;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    word-break: break-word;
    text-underline-offset: 0.25rem;

    &:focus,
    &:hover {
        text-decoration: underline;
    }

    &:focus-visible {
        outline: 3px solid var(--purple) !important;
        @include border-radius(0.25rem);
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

// Container
.theme-container {
    width: 100%;
    max-width: 75rem;
    /*1200px */
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.theme-container-lg {
    max-width: 100rem;
    /* 1600px  */
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;

}

.theme-container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

// Heading CSS

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    line-height: 1.1;
    font-family: var(--font-family-heading);
    margin-top: 0;
}

.h1 {
    font-size: clamp(2rem, 4.5vw, 4.5rem);
}

.h2 {
    font-size: clamp(1.75rem, 4.5vw, 3.438rem);
}

.h3 {
    font-size: clamp(1.5rem, 4.5vw, 2.625rem);
}

.h4 {
    font-size: clamp(1.375rem, 4.5vw, 2.25rem);
}

.h5 {
    font-size: clamp(1.25rem, 4.5vw, 1.75rem);
}

.h6 {
    font-size: clamp(1.125rem, 4.5vw, 1.375rem);
}



// Button CSS
.theme-btn {
    position: relative;
    white-space: nowrap;
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(6.25rem);
    text-decoration: none !important;
    border: 0.1rem solid transparent;
    min-height: 3.375rem;
    min-width: 6.25rem;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1rem 1.938rem;
    line-height: 1;
    gap: 10px;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    @include transform(translateY(0));
    box-shadow: rgba(0, 0, 0, 0) 0px 4px 0px 0px;
    transition: transform 0.2s cubic-bezier(.5, 2.5, .7, .7), box-shadow 0.2s cubic-bezier(.5, 2.5, .7, .7), all 0.2s ease-in-out;

    &::before {
        content: "";
        @include border-radius(6.25rem);
        width: 100%;
        height: 100%;
        transition: bottom .3s cubic-bezier(.5, 2.5, .7, .7);
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &:hover,
    &:focus {
        box-shadow: rgb(0, 0, 0) 0px 4px 0px 0px;
        @include transform(translateY(-0.25rem));

        &::before {
            bottom: calc(-1 * 0.25rem * 1.1);
        }
    }

    &.btn-dark {
        background-color: var(--black);
        color: var(--text-white);
        border-color: var(--black);

        &:hover,
        &:focus {
            color: var(--text-black);
            background-color: var(--yellow);
            border-color: var(--yellow);
        }
    }

    &.btn-white {
        background-color: var(--white);
        color: var(--text-black);
        border-color: var(--white);

        &:hover,
        &:focus {
            color: var(--text-black);
            background-color: var(--yellow);
            border-color: var(--yellow);
            box-shadow: rgba(255, 255, 255, 0.5) 0px 4px 0px 0px;
        }
    }

    &.btn-green {
        background-color: var(--black);
        color: var(--white);

        &:hover,
        &:focus {
            background-color: var(--dark-green);
            color: var(--white);
        }
    }
}

a.btn {
    text-decoration: none !important;
}


// Text Color CSS
.text-white {
    color: var(--text-white) !important;
}

.text-black {
    color: var(--text-black) !important;
}

.text-pink {
    color: var(--dark-pink) !important;
}

.text-pink {
    color: var(--pink) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}


// Background Color CSS
.bg-white {
    background-color: var(--white) !important;
}

.bg-black {
    background-color: var(--black) !important;

    &>* {
        color: var(--text-white) !important;
    }
}

.bg-light-yellow {
    background-color: var(--light-yellow) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.bg-darkPink {
    background-color: var(--dark-pink) !important;
}

.bg-pink {
    background-color: var(--pink) !important;
}

.bg-transprent {
    background-color: transparent !important;
    background-image: none !important;
}

.bg-custom {
    background: var(--bg-image, none);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}




// Breadcrumb
.breadcrumb-nav {
    margin-bottom: 3rem;
    opacity: 1;

    @media (max-width: 1200px) {
        margin-bottom: 2rem;
    }

    @media (max-width: 767px) {
        margin-bottom: 1.5rem;
    }

    .breadcrumb {
        @include flexbox;
        @include align-items(center);
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 0.875rem;

        @media (max-width: 767px) {
            font-size: 0.75rem;
        }

        .breadcrumb-item {
            font-size: 1.25rem;
            font-weight: 300;
            color: var(--black);
            @include transition(0.3s, ease-in-out);
            max-width: 250px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (max-width: 767px) {
                font-size: 0.875rem;
            }

            a {
                color: var(--black);
                @include transition(0.3s, ease-in-out);

                &:hover,
                &:focus {
                    color: var(--red);
                    text-decoration: none;
                }
            }
        }

        .breadcrumb-item+.breadcrumb-item {
            &::before {
                content: '';
                display: inline-block;
                width: 0.3rem;
                height: 0.5rem;
                background-image: url('data:image/svg+xml,<svg width="4" height="7" viewBox="0 0 4 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 6.4V0L3.2 3.2L0 6.4Z" fill="rgb(17, 16, 19)"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                margin-top: 1px;
                margin-right: 0.875rem;
            }
        }
    }
}


// Vector
.star-vector {
    position: absolute;
    top: 27%;
    left: 16.5%;
    z-index: 0;
    background-image: url('data:image/svg+xml,<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M26.2464 50.1914C25.8364 51.2414 25.1364 51.2514 24.6964 50.2114L18.2664 35.0814C17.8264 34.0414 16.6064 32.8314 15.5664 32.4014L0.796352 26.2914C-0.253648 25.8614 -0.263626 25.1114 0.756374 24.6214L15.4163 17.6814C16.4363 17.2014 17.6664 15.9614 18.1364 14.9314L24.6563 0.761364C25.1263 -0.268636 25.8664 -0.248637 26.3064 0.791363L32.4964 15.7314C32.9264 16.7814 34.1364 17.9914 35.1764 18.4214L50.2263 24.7014C51.2663 25.1414 51.2564 25.8314 50.2064 26.2314L35.0064 32.1114C33.9464 32.5214 32.7464 33.7114 32.3364 34.7714L26.2664 50.1914H26.2464Z" fill="black" /> </svg> ');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 3.125rem;
    height: 3.125rem;
    display: inline-block;
    animation: vector_floating_r 6s linear .3s infinite;

    @media (max-width: 992px) {
        width: 1rem;
        height: 1rem;
        top: 72%;
        left: 1.5rem;
    }
}

.box-vector {
    position: absolute;
    top: -8%;
    right: 8%;
    z-index: 0;
    background-image: url('../images/img-square-vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 9.5rem;
    height: 9rem;
    display: inline-block;
    animation: vector_floating_r 6s linear .3s infinite;

    @media (max-width: 992px) {
        width: 7.5rem;
        height: 7rem;
        top: -6%;
    }

    @media (max-width: 992px) {
        width: 3.125rem;
        height: 3rem;
        top: -1.5%;
        right: 0;
    }
}

@keyframes vector_floating_r {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translate(1%, 8%)
    }

    50% {
        transform: translate(8%, 1%)
    }

    75% {
        transform: translate(1%, 8%)
    }

    to {
        transform: translateY(0)
    }
}

// Video & Image Background CSS
.media-bg-block {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--dark-pink);
    z-index: -1;

    img,
    video {
        height: 100%;
        width: 100%;
        object-fit: none;

        &::-webkit-media-controls {
            display: none;
        }
    }
}


.block-secure__logo-link {
    box-shadow: transparent 0px 4px 0px 0px;
    transform: translateY(0);
    transition: transform 0.2s cubic-bezier(0.5, 2.5, 0.7, 0.7), box-shadow 0.2s cubic-bezier(0.5, 2.5, 0.7, 0.7), all 0.2s ease-in-out;

    &:hover,
    &:focus {
        transform: translateY(-0.25rem);
        box-shadow: rgba(0, 0, 0, 1) 0px 4px 0px 0px;
    }
}