.site-footer {
    border-top: none;

    .footer-cta-block {
        background-image: url('../images/block-footer-cta-bg.svg');
        background-repeat: no-repeat;
        background-position: center 1rem;
        background-size: 100%;
        position: relative;

        @media (max-width: 767px) {
            background-position: 0px 6rem;
            background-size: 124%;
        }

        .footer-cta__content {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 25rem;
            justify-content: flex-end;
            padding: 0 0 60px;
            position: relative;
            z-index: 5;

            @media (min-width: 1820px) {
                height: 564px;
            }

            @media (min-width: 992px) {
                height: 38.125rem;
            }

            @media (max-width: 992px) {
                height: 25rem;
                padding: 0 0 40px;
            }

            @media (max-width: 767px) {
                height: 20rem;
                padding: 0 0 20px;
            }

            .btn {
                box-shadow: rgba(0, 0, 0, 0) 0px 4px 0px 0px;
                transition: transform 0.2s cubic-bezier(.5, 2.5, .7, .7), box-shadow 0.2s cubic-bezier(.5, 2.5, .7, .7), all 0.2s ease-in-out;
                border-bottom: 0;
                position: relative;

                &::before {
                    content: "";
                    @include border-radius(6.25rem);
                    width: 100%;
                    height: 100%;
                    transition: bottom .3s cubic-bezier(.5, 2.5, .7, .7);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                &:hover,
                &:focus {
                    box-shadow: rgba(0, 0, 0, 1) 0px 4px 0px 0px;
                    @include transform(translateY(-0.25rem));
                    background-color: var(--dark-green);
                    color: var(--text-white);

                    &::before {
                        bottom: calc(-1 * 0.25rem * 1.1);
                    }
                }

                @media (max-width: 992px) {
                    font-size: 1.5rem;
                    height: 4rem;
                    width: 18rem;
                }

                @media (max-width: 767px) {
                    font-size: 1rem;
                    height: 45px;
                    width: 12rem;
                }
            }
        }

        .footer-cta__monkey {
            bottom: 40px;
            left: 50%;
            margin: 0 auto;
            max-width: 139px;
            position: absolute;
            transform: translateX(-50%);
            z-index: 6;

            @media (min-width: 992px) {
                bottom: 125px;
                max-width: 430px;
            }

            @media (max-width: 992px) {
                max-width: 245px;
                bottom: 5.375rem;
            }

            @media (max-width: 767px) {
                max-width: 150px;
                bottom: 3.2rem;
            }
        }
    }

    a {
        text-decoration: none;
        @include transition(0.1s, ease-in-out)
    }

    &__wrapper {

        @media (max-width: 1200px) {

            padding: 40px 0 60px;
        }

        @media (max-width: 992px) {
            padding: 20px 0 40px;
        }
    }

    &__top-wrapper {}

    &__logo {
        line-height: 0.7;

        a {
            display: inline-block;

            img {
                @include transform(translateY(0));
                transition: transform 0.2s cubic-bezier(.5, 2.5, .7, .7);

                @media (max-width: 992px) {
                    max-height: 2.5rem;
                }
            }

            &:hover,
            &:focus {
                img {
                    @include transform(translateY(-0.25rem));
                }
            }
        }

    }

    &__menu {
        @media (min-width: 1200px) {
            margin: 0;
        }

        @media (max-width: 992px) {
            margin: 1rem auto 0;

            ul {
                @include flex-wrap(wrap);
                @include justify-content(center);
                gap: 0.3rem 0.8rem;
            }
        }

        .btn {
            box-shadow: rgba(0, 0, 0, 0) 0px 4px 0px 0px;
            transition: transform 0.2s cubic-bezier(.5, 2.5, .7, .7), box-shadow 0.2s cubic-bezier(.5, 2.5, .7, .7), all 0.2s ease-in-out;
            border-bottom: 0;
            color: var(--text-white);
            border-color: transparent;
            position: relative;

            a {
                color: var(--text-white);
            }

            &::before {
                content: "";
                @include border-radius(6.25rem);
                width: 100%;
                height: 100%;
                transition: bottom .3s cubic-bezier(.5, 2.5, .7, .7);
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &:hover,
            &:focus {
                box-shadow: rgba(0, 0, 0, 1) 0px 4px 0px 0px;
                @include transform(translateY(-0.25rem));
                background-color: var(--dark-green);
                color: var(--text-white);

                a {
                    color: var(--text-white);
                }

                &::before {
                    bottom: calc(-1 * 0.25rem * 1.1);
                }
            }
        }

        @media (max-width: 1200px) {
            .btn {
                display: none;
            }
        }
    }

    &__info {
        @media (max-width: 992px) {
            gap: 1rem;
        }
    }

    &__socials {
        gap: 1.25rem;

        @media (max-width: 992px) {
            gap: 2rem;
        }
    }

    &__policies {
        ul {
            a {

                &:hover,
                &:focus {
                    color: var(--dark-green);
                }
            }
        }
    }
}