.site-header {
    @media (max-width: 992px) {
        height: 3.75rem;
    }

    &.scroll-up:not(.is-visible) {
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    &.scroll-down {
        transform: translateY(0);
        transition: transform 0.3s ease;

        .container {
            background-color: var(--black);
        }

        @media (min-width: 991px) {
            .site-header__menu a {
                color: var(--text-white);

                &:hover {
                    color: var(--yellow);
                }
            }
        }


        .btn-secondary_black {
            background-color: var(--white);
            color: var(--text-black);

            &:hover,
            &:focus {
                box-shadow: rgba(255, 255, 255, 0.7) 0px 4px 0px 0px;
                background-color: var(--yellow);
                color: var(--text-black);
            }
        }

        .navbar-toggler {
            filter: invert(1)
        }
    }

    &.scroll-header {
        .container {
            background-color: var(--black);
        }

        @media (min-width: 991px) {
            .site-header__menu a {
                color: var(--text-white);

                &:hover {
                    color: var(--yellow);
                }
            }
        }


        .btn-secondary_black {
            background-color: var(--white);
            color: var(--text-black);

            &:hover,
            &:focus {
                box-shadow: rgba(255, 255, 255, 0.7) 0px 4px 0px 0px;
                background-color: var(--yellow);
                color: var(--text-black);
            }
        }

        .navbar-toggler {
            filter: invert(1)
        }
    }

    &.is-visible {
        @include border-radius(0 !important);

        .container {
            border-radius: 0;
            background: var(--dark-pink);
        }

        .site-header__main-menu {
            opacity: 1;
            visibility: visible;
        }

        .main-menu__list {
            li {
                opacity: 1;
                transform: translateY(0);

                a {
                    color: var(--text-black);
                }
            }
        }

        .btn {
            opacity: 1;
            transform: translateY(0);
            background-color: var(--black);
            color: var(--text-white);

            &:hover,
            &:focus {
                box-shadow: rgba(0, 0, 0, 1) 0px 4px 0px 0px;
                background-color: var(--yellow);
                color: var(--text-black);
            }
        }

        .navbar-toggler {
            filter: invert(0) !important;
        }
    }

    @media (max-width: 992px) {
        .container {
            background: var(--black);
            max-width: 100%;

            .navbar-toggler {
                filter: invert(1);
            }
        }
    }

    &__logo {
        position: relative;
        display: inline-block;

        img {
            @include transform(translateY(0));
            transition: transform 0.2s cubic-bezier(.5, 2.5, .7, .7);
        }

        &:hover,
        &:focus {
            img {
                @include transform(translateY(-0.25rem));
            }
        }
    }

    &__main-menu {
        @media (max-width: 1200px) {
            gap: 1rem;
        }

        @media (max-width: 992px) {
            display: block !important;
            position: absolute;
            top: 3.72rem;
            left: 0;
            right: 0;
            z-index: 100;
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            height: 100vh;
            max-height: calc(100vh - 3.75rem);
            padding-top: 0;
            padding-right: 0 !important;
            background-color: var(--dark-pink);
            background-image: url('../images/img-bg-plus-vector.svg');
            background-repeat: no-repeat;
            background-size: auto;
            z-index: -1;
            overflow: hidden;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease, visibility 0.5s ease;
            align-items: center !important;
            gap: 1rem;
        }

        .btn {
            border-bottom: none;
            @include transform(translateY(0));
            box-shadow: rgba(0, 0, 0, 0) 0px 4px 0px 0px;
            transition: transform 0.2s cubic-bezier(.5, 2.5, .7, .7), box-shadow 0.2s cubic-bezier(.5, 2.5, .7, .7), all 0.2s ease-in-out;

            &::before {
                content: "";
                @include border-radius(6.25rem);
                width: 100%;
                height: 100%;
                transition: bottom .3s cubic-bezier(.5, 2.5, .7, .7);
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &:hover,
            &:focus {
                box-shadow: rgba(0, 0, 0, 1) 0px 4px 0px 0px;
                @include transform(translateY(-0.25rem));

                &::before {
                    bottom: calc(-1 * 0.25rem * 1.1);
                }
            }

            @media (max-width: 992px) {
                opacity: 0;
                transform: translateY(30px);
                transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
                margin: 1rem auto;
                /* width: auto; */
                max-width: max-content;
                height: 54px;
                font-size: 1.125rem;

                &:hover,
                &:focus {
                    box-shadow: rgba(0, 0, 0, 1) 0px 4px 0px 0px;
                }
            }
        }
    }

    &__menu {
        @media (max-width: 992px) {
            height: calc(100% - 5.75rem);
            width: 100%;
            display: flex !important;
        }
    }

    .main-menu__list {
        @media (max-width: 1200px) {
            gap: 0.938rem;
        }

        @media (max-width: 992px) {
            @include flex-direction(column);
            height: auto;
            overflow: hidden;
            overflow-y: auto;
            padding: 2rem 1rem;
            flex: 1 1 auto;
            gap: 3rem;
            justify-content: center !important;

            @media (max-height: 576px) {
                justify-content: flex-start !important;
            }
        }

        li {
            @media (max-width: 992px) {
                opacity: 0;
                transform: translateY(30px);
                transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            }

            a {
                text-decoration: none;

                @media (max-width: 992px) {
                    color: var(--text-black);
                    font-size: 1.75rem;
                    font-family: var(--font-family-heading);
                }
            }
        }
    }

    .navbar-toggler {
        @media (min-width: 992px) {
            display: none;
        }

        display: inline-block;
        cursor: pointer;
        border: none;
        padding: 0;
        background-color: transparent;
        z-index: 10;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1.25rem;

        &.is-visible {
            span {
                display: none;
            }

            background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> <path d="M15.5 8.5L8.5 15.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> <path d="M15.5 15.5L8.5 8.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /> </svg>');
            background-size: 1.5rem;
            background-repeat: no-repeat;

        }

        span {
            width: 1.25rem;
            height: 0.125rem;
            margin-bottom: 0.313rem;
            background-color: var(--black);
            @include border-radius(0.125rem);
            display: block;
            @include transition(0.2s, ease-in-out);
            margin-left: auto;

            &:nth-child(3) {
                width: 0.625rem;
                margin-bottom: 0;
            }
        }
    }
}