.theme-section {
    position: relative;
    z-index: 1;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (max-width: 992px) {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    &.bg-none:not(.bg-custom) {
        background-image: none !important;
    }


    &.with-top-curve {
        padding-top: 1rem !important;
        z-index: 2;
        overflow: unset;

        &::before {
            content: "";
            position: absolute;
            top: -8.5rem;
            left: 0;
            width: 100%;
            height: 16.875rem;
            clip-path: ellipse(60% 100% at bottom);
            background-color: var(--light-yellow);
            z-index: -1;

            @media (max-width: 992px) {
                top: -6rem;
                left: 0;
                width: 100%;
                height: 12rem;
            }

            @media (max-width: 767px) {
                top: -3.5rem;
                left: 0;
                width: 100%;
                height: 5rem;
            }
        }

        &.bg-white {
            &::before {
                background-color: var(--white);
            }
        }
    }

    &.with-top-reverse-curve {
        overflow: unset;

        &::before {
            content: "";
            position: absolute;
            top: -8rem;
            left: 0;
            width: 100%;
            height: 15rem;
            clip-path: ellipse(60% 100% at top);
            background-color: var(--light-yellow);
            z-index: -1;

            @media (max-width: 992px) {
                top: -6rem;
                left: 0;
                width: 100%;
                height: 12rem;
            }

            @media (max-width: 767px) {
                top: -4.5rem;
                left: 0;
                width: 100%;
                height: 8rem;
            }
        }
    }

    &.with-dark-plus-bg {
        background-image: url('../images/img-bg-plus-dark-vector.svg');
        background-repeat: repeat;
        background-size: contain;
        background-position: center top;
    }

    &.theme-section:has(+ .with-top-curve) {
        padding-bottom: 12rem;

        @media (max-width: 992px) {
            padding-bottom: 9rem;
        }

        @media (max-width: 767px) {
            padding-bottom: 5rem;
        }
    }
}

// Section Title CSS
.section-title {
    margin-bottom: 4.5rem;

    @media (max-width: 992px) {
        margin-bottom: 2rem;
    }


    h1,
    h2,
    h3 {
        margin-bottom: 1.5rem;

        @media (max-width: 1200px) {
            br {
                display: none;
            }
        }
    }


    & *:last-child {
        margin-bottom: 0px !important;
    }
}

.page-header {

    .section-title {
        margin: 0 auto;
        text-align: center;

        .tag-line {
            margin-bottom: 1.5rem;
            color: var(--red);
            font-weight: 800;
            font-size: 1.5rem;

            @media (max-width: 767px) {
                margin-bottom: 1rem;
                font-size: 0.875rem;

            }
        }

        h1,
        h2 {
            margin-bottom: 1.5rem;

            @media (max-width: 767px) {
                margin-bottom: 1rem;
            }
        }

        .sort-info {
            font-weight: 300;
            font-size: 1.5rem;

            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }

    &.with-vector {
        @media (max-width: 992px) {
            overflow: hidden;
        }

        &::before {
            content: '';
            background-image: url('../images/img-sm-ball-vector.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 50%;
            left: -5.125rem;
            width: 8.625rem;
            height: 8.625rem;
            display: inline-block;
            z-index: -1;
            animation: vector_floating_r 6s linear .3s infinite;

            @media (max-width: 992px) {
                width: 6rem;
                height: 6rem;
                left: -4.125rem;
                top: 40%;
            }

            @media (max-width: 992px) {
                width: 3.75rem;
                height: 3.75rem;
                top: 30%;
                left: -2.125rem;
            }
        }

        &::after {
            content: '';
            background-image: url('data:image/svg+xml,<svg width="225" height="100" viewBox="0 0 225 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M274.502 0.984486C246.226 6.02176 254.651 53.2741 226.375 58.3113C198.1 63.3486 189.675 16.0963 161.408 21.1384C133.133 26.1757 141.558 73.428 113.282 78.4653C85.0066 83.5025 76.5819 36.2503 48.3064 41.2875C20.0309 46.3248 28.4508 93.5859 0.175318 98.6231" stroke="rgb(250, 103, 58)" stroke-width="2" stroke-miterlimit="10" /> </svg> ');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            top: 5rem;
            right: 0;
            width: 12.188rem;
            height: 13.75rem;
            display: inline-block;
            z-index: -1;
            animation: vector_floating_r 6s linear .3s infinite;

            @media (max-width: 992px) {
                top: 1rem;
                right: -3rem;
            }

            @media (max-width: 767px) {
                top: 1rem;
                right: -8rem;
            }
        }
    }
}

.block-footer-cta {
    &.without-title {
        background-position: center 2rem;

        @media (min-width: 768px) {
            background-position: center 0;
            background-size: 100%;
        }

    }

    &__content {
        @media (max-width: 992px) {
            margin-bottom: 3rem;
        }

        @media (max-width: 575px) {
            margin-bottom: 1.5rem;
        }
    }

    &__monkey {
        @media (max-width: 992px) {
            bottom: 5rem;
        }

        @media (max-width: 575px) {
            bottom: 3.5rem;
        }
    }
}