@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.page-header {
    @media (max-width: 991px) {
        padding-top: 3.125rem !important;
    }
}

.vertical-slider-block {
    max-height: 43.75rem;
    overflow: hidden;
    margin-top: -5rem;
    @include flexbox;
    gap: 1.25rem;

    @media (max-width: 991px) {
        margin-top: 0;
        margin: 0 -1rem 3.125rem;
        @include flex-direction(column);
    }

    .vertical-splide {
        @media (max-width: 991px) {}

        .media-block {
            max-width: 15rem;
            aspect-ratio: 1 / 1;

            img {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}