@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.page-header {
    @media (max-width: 991px) {
        padding-top: 3.125rem !important;
    }
}

.vertical-slider-block {
    max-height: 700px;
    overflow: hidden;
    margin-top: -80px;
    @include flexbox;
    gap: 20px;
    @media (max-width: 991px) {
        margin-top: 0;
        margin: 0 -1rem 3.125rem;
        @include flex-direction(column);
    }
    .vertical-splide {
        @media (max-width: 991px) {
            
        }
        .media-block {
            max-width: 240px;
            aspect-ratio: 1 / 1;
            img {
                object-fit: cover;
                object-position: center;
            }
        }
    }
}