@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../parts/variables";
@import "../parts/mixin";

.block-posts {
    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        font-size: 20px;
        line-height: 80px;

        @include media-breakpoint-up(lg) {
            font-size: 55px;
        }
    }

    &__button {
        a {
            display: inline-block;
        }
    }

    &__carousel {
        position: relative;
        padding: 0 0 52px;

        @include media-breakpoint-up(lg) {
            padding: 0 11px 10px 0;
        }

        &-wrap {
            position: relative;
            max-width: 410px;
            margin: 25px 0 52px;

            @include media-breakpoint-up(lg) {
                max-width: 1440px;
                width: 100%;
                margin: 0 auto;
                padding: 0 55px;
            }

            &::before {
                content: "";
                position: absolute;
                left: 16px;
                top: -44px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='139' height='31' viewBox='0 0 139 31' fill='none'%3E%3Ccircle cx='70.8023' cy='16.1226' r='14.3882' fill='black'/%3E%3Ccircle cx='124.576' cy='16.1226' r='14.3882' fill='black'/%3E%3Ccircle cx='16.2554' cy='16.1226' r='14.3882' fill='black'/%3E%3Ccircle cx='14.3882' cy='14.3882' r='13.8882' fill='%23FA673A' stroke='black'/%3E%3Ccircle cx='68.1695' cy='14.3882' r='13.8882' fill='%23FFFF78' stroke='black'/%3E%3Ccircle cx='121.935' cy='14.3882' r='13.8882' fill='%2332AC87' stroke='black'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
                width: 60px;
                height: 11px;

                @include media-breakpoint-up(md) {
                    left: 55px;
                    top: -76px;
                    width: 80px;
                    height: 20px;
                }

                @include media-breakpoint-up(xl) {
                    left: 55px;
                    top: -76px;
                    width: 139px;
                    height: 31px;
                }

                @media (max-width: 767px) {
                    left: -15px;
                    width: 30px;
                }
            }
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 251px;
        height: 272px;

        border-radius: 12px;
        border: 1px solid $color-dark;
        background: $color-white;
        box-shadow: 7px 6px 0 $color-dark;
        overflow: hidden;
        position: relative;

        @include media-breakpoint-up(lg) {
            width: 408px;
            height: 443px;
            border-radius: 20px;
            box-shadow: 11px 10px 0 $color-dark;
        }

        &-tag {
            display: inline-flex;
            height: 22px;
            padding: 6px 14px;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border-radius: 0 61px 61px 0;
            background: $color-white;

            position: absolute;
            left: 0;
            top: 12px;

            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 14px;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                height: 36px;
                padding: 10px 23px;
                gap: 8px;
                border-radius: 0 100px 100px 0;

                top: 19px;

                font-size: 16px;
                line-height: 22px;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 9px;
            padding: 6px 12px 10px 14px;

            @include media-breakpoint-up(lg) {
                gap: 17px;
                padding: 9px 20px 16px 23px;
            }
        }

        &-figure {
            width: 100%;
            height: 122px;
            margin: 0;

            @include media-breakpoint-up(lg) {
                height: 200px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-meta {
            font-size: 10px;
            line-height: 11px;
            font-style: normal;
            font-weight: 400;
            margin: 0 0 4px;

            @include media-breakpoint-up(lg) {
                font-size: 10px;
                line-height: 18px;
            }
        }

        &-header {
            display: flex;
            flex-direction: column;
            gap: 6px;

            @include media-breakpoint-up(lg) {
                gap: 10px;
            }
        }

        &-title {
            font-family: $font-primary;
            font-size: 10px;
            line-height: 14px;
            text-transform: uppercase;

            @include media-breakpoint-up(lg) {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &-excerpt {
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin: 0;

            height: 60px;
            overflow: hidden;

            @include media-breakpoint-up(lg) {
                font-size: 12px;
                line-height: 18px;
                height: 90px;
            }
        }

        &-link {
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 11px;

            @include media-breakpoint-up(lg) {
                font-size: 14px;
                line-height: 18px;
            }

            &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 4px;
                width: 4px;
                margin-left: 2px;
                background-image: $chevron-right;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;

                @include media-breakpoint-up(lg) {
                    height: 10px;
                    width: 10px;
                    margin-left: 4px;
                }
            }
        }
    }

    .swiper-horizontal {
        .swiper-pagination-bullets {
            bottom: 0px;

            .swiper-pagination-bullet {
                width: 15px;
                height: 15px;
                border: 1px solid $color-dark;
                background-color: transparent;
                margin: 0 7px;
            }

            .swiper-pagination-bullet-active {
                background-color: $color-pink;
            }
        }
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 22px;
        margin: 0 10px 0 auto;
        max-width: 100%;
        position: relative;
        top: 50px;


        @include media-breakpoint-up(lg) {
            top: 33px;
            margin: 53px 20px 0 auto;
        }
    }

    &__slider {
        position: relative;
        z-index: 99;
        width: 100%;
        max-width: 176px;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: -7px;
            left: -40px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='253' height='16' viewBox='0 0 253 16' fill='none'%3E%3Cpath d='M244.474 0C248.766 0 252.245 3.47941 252.245 7.77148C252.245 12.0636 248.766 15.543 244.474 15.543H16.1819C15.9366 15.5429 15.7 15.4524 15.5169 15.2891L0.344002 1.74609C0.125374 1.55095 0.0504015 1.37541 0.0197836 1.2334C-0.0160913 1.06691 -0.00637342 0.858094 0.0754477 0.643555C0.157269 0.429066 0.288428 0.266319 0.426034 0.166016C0.543438 0.0804402 0.716893 0 1.01002 0H244.474Z' fill='black'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-size: cover;
            height: 16px;
            width: 110px;
        }

        &:after {
            content: "";
            position: absolute;
            top: -7px;
            left: 20%;
            width: 90%;
            height: 16px;
            border-radius: 16px;
            background-color: $color-dark;
        }
    }

    &__handle {
        position: absolute;
        top: 50%;
        width: 9px;
        height: 23px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='23' viewBox='0 0 9 23' fill='none'%3E%3Crect x='7.81843' y='21.9876' width='7.81843' height='21.9875' rx='1.30584' transform='rotate(-180 7.81843 21.9876)' fill='black'/%3E%3Crect x='8.24031' y='22.3692' width='7.31843' height='21.4875' rx='1.05584' transform='rotate(-180 8.24031 22.3692)' fill='%23FFFF78' stroke='black' stroke-width='0.5'/%3E%3Cpath d='M4.67 20.1734L4.67 2.87105' stroke='black' stroke-width='0.5'/%3E%3C/svg%3E");
        // cursor: grab;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;

        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }

        &:active {
            cursor: grabbing;
            transform: translate(-50%, -50%) scale(1.2);
        }

        @include media-breakpoint-up(lg) {
            width: 19px;
            height: 52px;
        }
    }
}


@import "../icw-blocks/scss/mixins";

.block-blog-posts {
    overflow: visible;
    background: #fff1e4;
    border-top: 1px solid rgba(#000000, 1);
    border-bottom: 1px solid rgba(#000000, 1);
    margin: -1px 0 0;

    @media (max-width: 992px) {
        border-top: 1px solid rgba(#000000, 0.32);
        border-bottom: 1px solid rgba(#000000, 0.32);
    }

    .block-posts__wrap {
        background-image: none;
        height: 100%;

        @media (max-width: 992px) {
            .block-posts__carousel {
                margin: 0 -20px;
            }
        }

        &::before {
            content: '';
            // background-image: url('../images/img-top-blog-post-bg-desktop.svg');
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22814%22%20height%3D%22121%22%20viewBox%3D%220%200%20814%20121%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M-32%2028L-0.321226%2028.4874C0.225124%2028.4958%200.769569%2028.5539%201.30537%2028.6611L8%2030L9.47647%2030.4614C13.7667%2031.8021%2017.6866%2034.1217%2020.9266%2037.2372L29%2045L785.5%2042C793.117%2033.1141%20804.236%2028%20815.939%2028H846V1H-32V28Z%22%20fill%3D%22%23FFB89F%22%2F%3E%3Cpath%20d%3D%22M725.515%201C732.579%201.0013%20739.562%202.4985%20746.006%205.39355C752.449%208.28866%20758.207%2012.5162%20762.898%2017.7969L784.574%2042.2021L717.78%20109.008C710.374%20116.417%20700.332%20120.58%20689.854%20120.58H121.319C116.131%20120.58%20110.994%20119.559%20106.201%20117.573C101.408%20115.588%2097.0528%20112.677%2093.3848%20109.008L28.9453%2044.5547L52.7129%2017.7959C57.404%2012.5144%2063.161%208.28664%2069.6045%205.3916C76.0482%202.49657%2083.0326%200.9999%2090.0967%201H725.515Z%22%20fill%3D%22black%22%20stroke%3D%22black%22%2F%3E%3Cpath%20d%3D%22M746.012%205.39355C739.568%202.49854%20732.584%201.00134%20725.521%201H90.1025C83.0385%200.9999%2076.0539%202.49664%2069.6104%205.3916C63.1669%208.28661%2057.4098%2012.5145%2052.7188%2017.7959L33.1543%2039.8232L96.2773%20102.96C99.9918%20106.675%20104.401%20109.623%20109.255%20111.634C114.109%20113.645%20119.312%20114.68%20124.565%20114.68H686.581C697.191%20114.68%20707.371%20110.463%20714.871%20102.959L780.362%2037.4531L762.904%2017.7969C758.212%2012.5162%20752.455%208.28866%20746.012%205.39355Z%22%20fill%3D%22%23FFCBCB%22%20stroke%3D%22black%22%2F%3E%3Cpath%20d%3D%22M-4.30603%20739.842H-573V28H-4.30603C0.947601%2028.0002%206.14976%2029.0353%2011.0033%2031.0463C15.8568%2033.0572%2020.2667%2036.0046%2023.981%2039.72L93.537%20109.291C97.2515%20113.006%20101.662%20115.954%20106.515%20117.964C111.369%20119.975%20116.571%20121.01%20121.825%20121.01H690.36C700.97%20121.01%20711.14%20116.794%20718.64%20109.291L788.2%2039.719C791.915%2036.0034%20796.325%2033.056%20801.179%2031.0452C806.033%2029.0345%20811.236%2027.9997%20816.49%2028H1385.18V739.842H816.48C805.87%20739.841%20795.694%20735.627%20788.19%20728.126L718.64%20658.571C714.925%20654.856%20710.514%20651.909%20705.66%20649.899C700.806%20647.889%20695.604%20646.854%20690.35%20646.855H121.749C111.14%20646.855%20101.035%20651.07%2093.534%20658.571L23.979%20728.126C20.2646%20731.84%2015.8549%20734.787%2011.0018%20736.797C6.14861%20738.807%200.946986%20739.842%20-4.30603%20739.842Z%22%20stroke%3D%22black%22%2F%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 100% 100%;
            display: block;
            width: 62.5rem;
            height: 8.125rem;
            position: absolute;
            top: -1.938rem;
            left: calc(50% - 31.25rem);

            @media (max-width: 1200px) {
                width: 56.25rem;
                height: 7.5rem;
                top: -1.75rem;
                left: calc(50% - 28.125rem);
            }

            @media (max-width: 992px) {
                // background-image: url('../images/img-top-blog-post-bg.svg');
                background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22824%22%20height%3D%22136%22%20viewBox%3D%220%200%20824%20136%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3964_1826)%22%3E%3Cmask%20id%3D%22mask0_3964_1826%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22824%22%20height%3D%22136%22%3E%3Crect%20width%3D%22824%22%20height%3D%22136%22%20fill%3D%22%23D9D9D9%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23mask0_3964_1826)%22%3E%3Cpath%20d%3D%22M694.784%200.277344C707.356%200.277404%20719.342%203.97362%20727.711%2010.4541L811.804%2075.5518H729.289C721.798%2075.5515%20714.566%2077.7495%20708.965%2081.7295L653.451%20121.154C647.851%20125.134%20640.619%20127.332%20633.127%20127.332H200.845C193.353%20127.332%20186.121%20125.135%20180.518%20121.156L125.004%2081.7295C119.401%2077.7495%20112.169%2075.5518%20104.678%2075.5518H11.8203L95.9131%2010.4541C100.053%207.24996%20105.128%204.68928%20110.802%202.93652C116.476%201.18374%20122.623%200.277597%20128.84%200.277344H694.784Z%22%20fill%3D%22%23FFCBCB%22%20stroke%3D%22black%22%20stroke-width%3D%220.5%22%2F%3E%3Cmask%20id%3D%22mask1_3964_1826%22%20style%3D%22mask-type%3Aalpha%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%22-179%22%20y%3D%220%22%20width%3D%221182%22%20height%3D%22470%22%3E%3Cpath%20d%3D%22M128.842%200.527344H694.786C707.314%200.527344%20719.242%204.21145%20727.56%2010.6519L990.987%20214.575C1005.73%20225.991%201005.73%20243.188%20990.987%20254.604L727.56%20458.527C723.447%20461.71%20718.4%20464.259%20712.75%20466.004C707.102%20467.749%20700.979%20468.651%20694.786%20468.651H128.842C122.649%20468.651%20116.526%20467.749%20110.877%20466.004C105.228%20464.259%20100.181%20461.71%2096.0681%20458.527L-167.359%20254.604C-182.104%20243.188%20-182.104%20225.991%20-167.359%20214.575L96.0681%2010.6519C100.181%207.46843%20105.228%204.92022%20110.877%203.17511C116.526%201.43%20122.649%200.527596%20128.842%200.527344Z%22%20fill%3D%22%234FCB8D%22%20stroke%3D%22black%22%2F%3E%3C%2Fmask%3E%3Cg%20mask%3D%22url(%23mask1_3964_1826)%22%3E%3Cpath%20d%3D%22M125.007%2081.7305C119.404%2077.7505%20112.172%2075.5527%20104.681%2075.5527H-18.998V83.252H103.725C111.341%2083.252%20118.686%2085.5228%20124.32%2089.6221L177.979%20128.654C183.616%20132.753%20190.959%20135.024%20198.575%20135.024H635.423C643.039%20135.024%20650.384%20132.754%20656.019%20128.654L709.675%2089.6221C715.31%2085.5221%20722.654%2083.2508%20730.271%2083.252H832.811V75.5527H729.292C721.801%2075.5524%20714.569%2077.7504%20708.968%2081.7305L653.454%20121.155C647.853%20125.135%20640.621%20127.333%20633.13%20127.333H200.848C193.356%20127.333%20186.124%20125.136%20180.521%20121.157L125.007%2081.7305Z%22%20fill%3D%22black%22%20stroke%3D%22black%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3964_1826%22%3E%3Crect%20width%3D%22824%22%20height%3D%22136%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
                background-size: 100%;
                width: 31.25rem;
                height: 5.313rem;
                top: -3.25rem;
                left: calc(50% - 15.625rem);
            }

            @media (max-width: 575px) {
                width: 21.875rem;
                height: 3.75rem;
                top: -2.25rem;
                left: calc(50% - 10.938rem);
            }

        }

        &::after {
            content: '';
            // background-image: url('../images/img-bottom-blog-post-bg-desktop.svg');
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22814%22%20height%3D%22121%22%20viewBox%3D%220%200%20814%20121%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_3970_1967)%22%3E%3Cpath%20d%3D%22M-32%2093L-0.321226%2092.5126C0.225123%2092.5042%200.769571%2092.4461%201.30537%2092.3389L8%2091L9.47647%2090.5386C13.7667%2089.1979%2017.6866%2086.8783%2020.9266%2083.7628L29%2076L785.5%2079C793.117%2087.8859%20804.236%2093%20815.939%2093H846V120H-32V93Z%22%20fill%3D%22%23FFB89F%22%2F%3E%3Cpath%20d%3D%22M689.851%200.425782C695.038%200.425113%20700.175%201.44657%20704.969%203.43164C709.762%205.41674%20714.118%208.32651%20717.786%2011.9951L784.582%2078.7949L762.904%20103.203C758.212%20108.484%20752.455%20112.711%20746.012%20115.605C739.568%20118.5%20732.584%20119.998%20725.521%20119.999H90.1025C83.0384%20119.999%2076.054%20118.502%2069.6104%20115.607C63.1668%20112.712%2057.4099%20108.485%2052.7188%20103.203L28.9453%2076.4365L93.3877%2011.9951C100.796%204.58722%20110.774%200.425782%20121.249%200.425782H689.851Z%22%20fill%3D%22black%22%20stroke%3D%22black%22%2F%3E%3Cpath%20d%3D%22M686.581%206.32422C697.191%206.32497%20707.367%2010.539%20714.871%2018.04L780.365%2083.543L762.904%20103.203C758.212%20108.484%20752.455%20112.711%20746.012%20115.605C739.568%20118.5%20732.584%20119.998%20725.521%20119.999H90.1025C83.0385%20119.999%2076.0539%20118.502%2069.6104%20115.607C63.1669%20112.712%2057.4098%20108.485%2052.7188%20103.203L33.1465%2081.166L96.2734%2018.04C99.9796%2014.3262%20104.382%2011.3795%20109.229%209.36914C114.075%207.35883%20119.271%206.3241%20124.518%206.32422H686.581Z%22%20fill%3D%22%23FFCBCB%22%20stroke%3D%22black%22%2F%3E%3Cpath%20d%3D%22M-4.30603%2092.842H-573V-619H-4.30603C0.947601%20-619%206.14976%20-617.965%2011.0033%20-615.954C15.8568%20-613.943%2020.2667%20-610.995%2023.981%20-607.28L93.537%20-537.709C97.2515%20-533.994%20101.662%20-531.046%20106.515%20-529.036C111.369%20-527.025%20116.571%20-525.99%20121.825%20-525.99H690.36C700.97%20-525.99%20711.14%20-530.206%20718.64%20-537.709L788.2%20-607.281C791.915%20-610.997%20796.325%20-613.944%20801.179%20-615.955C806.033%20-617.966%20811.236%20-619%20816.49%20-619H1385.18V92.842H816.48C805.87%2092.8412%20794.694%2088.6271%20787.19%2081.126L718.64%2011.571C714.925%207.85591%20710.514%204.90912%20705.66%202.89886C700.806%200.888608%20695.604%20-0.145736%20690.35%20-0.14502H121.749C111.14%20-0.14502%20101.035%204.06998%2093.534%2011.571L23.979%2081.126C20.2646%2084.8405%2015.8549%2087.7869%2011.0018%2089.7972C6.14861%2091.8074%200.946986%2092.842%20-4.30603%2092.842Z%22%20stroke%3D%22black%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_3970_1967%22%3E%3Crect%20width%3D%22814%22%20height%3D%22121%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E");
            background-repeat: no-repeat;
            background-position: bottom center;
            background-size: 100% 100%;
            display: block;
            width: 62.5rem;
            height: 8.125rem;
            position: absolute;
            bottom: -1.938rem;
            left: calc(50% - 31.25rem);

            @media (max-width: 1200px) {
                width: 56.25rem;
                height: 7.5rem;
                bottom: -1.75rem;
                left: calc(50% - 28.125rem);
            }

            @media (max-width: 992px) {
                // background-image: url('../images/img-bottom-blog-post-bg.svg');
                background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22803%22%20height%3D%22171%22%20viewBox%3D%220%200%20803%20171%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M631.674%200.5C639.707%200.500365%20647.453%203.49535%20653.398%208.89941L710.434%2060.7588C716.469%2066.2488%20724.334%2069.291%20732.492%2069.291H801.17L689.904%20156.907C686.127%20161.156%20681.494%20164.558%20676.309%20166.889C671.116%20169.222%20665.488%20170.428%20659.796%20170.429H142.818C137.126%20170.428%20131.497%20169.222%20126.305%20166.889C121.119%20164.558%20116.487%20161.156%20112.709%20156.907L1.44336%2069.291H66.4961C74.6545%2069.29%2082.5196%2066.2475%2088.5566%2060.7588L145.592%208.90137C151.535%203.49463%20159.199%200.5%20167.232%200.5H631.674Z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M631.674%200.5V0V0V0.5ZM653.398%208.89941L653.735%208.52947L653.735%208.52942L653.398%208.89941ZM710.434%2060.7588L710.77%2060.3889L710.77%2060.3888L710.434%2060.7588ZM801.17%2069.291L801.479%2069.6838L802.613%2068.791H801.17V69.291ZM689.904%20156.907L689.595%20156.514L689.56%20156.542L689.531%20156.575L689.904%20156.907ZM676.309%20166.889L676.514%20167.345V167.345L676.309%20166.889ZM659.796%20170.429V170.929H659.796L659.796%20170.429ZM142.818%20170.429L142.818%20170.929H142.818V170.429ZM126.305%20166.889L126.1%20167.345L126.1%20167.345L126.305%20166.889ZM112.709%20156.907L113.083%20156.575L113.053%20156.542L113.018%20156.514L112.709%20156.907ZM1.44336%2069.291V68.791H0.000206947L1.13403%2069.6838L1.44336%2069.291ZM66.4961%2069.291V69.791H66.4962L66.4961%2069.291ZM88.5566%2060.7588L88.893%2061.1287L88.893%2061.1287L88.5566%2060.7588ZM145.592%208.90137L145.928%209.27131L145.928%209.27123L145.592%208.90137ZM631.674%200.5V1C639.583%201.00036%20647.209%203.94897%20653.062%209.26941L653.398%208.89941L653.735%208.52942C647.697%203.04173%20639.832%200.000371128%20631.674%200V0.5ZM653.398%208.89941L653.062%209.26935L710.097%2061.1287L710.434%2060.7588L710.77%2060.3888L653.735%208.52947L653.398%208.89941ZM710.434%2060.7588L710.097%2061.1287C716.224%2066.7024%20724.209%2069.791%20732.492%2069.791V69.291V68.791C724.458%2068.791%20716.713%2065.7952%20710.77%2060.3889L710.434%2060.7588ZM732.492%2069.291V69.791H801.17V69.291V68.791H732.492V69.291ZM801.17%2069.291L800.861%2068.8982L689.595%20156.514L689.904%20156.907L690.214%20157.3L801.479%2069.6838L801.17%2069.291ZM689.904%20156.907L689.531%20156.575C685.8%20160.771%20681.224%20164.131%20676.104%20166.433L676.309%20166.889L676.514%20167.345C681.763%20164.985%20686.454%20161.541%20690.278%20157.239L689.904%20156.907ZM676.309%20166.889L676.104%20166.433C670.976%20168.737%20665.418%20169.928%20659.796%20169.929L659.796%20170.429L659.796%20170.929C665.559%20170.928%20671.257%20169.707%20676.514%20167.345L676.309%20166.889ZM659.796%20170.429V169.929H142.818V170.429V170.929H659.796V170.429ZM142.818%20170.429L142.818%20169.929C137.197%20169.928%20131.638%20168.737%20126.51%20166.433L126.305%20166.889L126.1%20167.345C131.357%20169.707%20137.055%20170.928%20142.818%20170.929L142.818%20170.429ZM126.305%20166.889L126.51%20166.433C121.389%20164.131%20116.813%20160.771%20113.083%20156.575L112.709%20156.907L112.335%20157.239C116.16%20161.541%20120.85%20164.986%20126.1%20167.345L126.305%20166.889ZM112.709%20156.907L113.018%20156.514L1.75269%2068.8982L1.44336%2069.291L1.13403%2069.6838L112.4%20157.3L112.709%20156.907ZM1.44336%2069.291V69.791H66.4961V69.291V68.791H1.44336V69.291ZM66.4961%2069.291L66.4962%2069.791C74.779%2069.79%2082.7639%2066.7011%2088.893%2061.1287L88.5566%2060.7588L88.2203%2060.3888C82.2752%2065.7939%2074.53%2068.79%2066.496%2068.791L66.4961%2069.291ZM88.5566%2060.7588L88.893%2061.1287L145.928%209.27131L145.592%208.90137L145.255%208.53142L88.2203%2060.3888L88.5566%2060.7588ZM145.592%208.90137L145.928%209.27123C151.781%203.94735%20159.325%201%20167.232%201V0.5V0C159.073%200%20151.29%203.04191%20145.255%208.5315L145.592%208.90137ZM167.232%200.5V1H631.674V0.5V0H167.232V0.5Z%22%20fill%3D%22black%22%2F%3E%3Cpath%20d%3D%22M629.229%2010.4824C637.191%2010.483%20644.876%2013.402%20650.832%2018.6875L709.842%2071.0703C715.797%2076.3554%20723.482%2079.2742%20731.443%2079.2754H788.715L690.013%20157C686.221%20161.266%20681.57%20164.682%20676.364%20167.021C671.154%20169.363%20665.506%20170.573%20659.794%20170.573H142.815C137.104%20170.573%20131.456%20169.362%20126.246%20167.021C121.041%20164.681%20116.39%20161.266%20112.599%20157L13.8965%2079.2754H67.5088C75.4698%2079.2741%2083.1545%2076.3552%2089.1094%2071.0703L148.119%2018.6875C154.044%2013.4036%20161.705%2010.4834%20169.644%2010.4824H629.229Z%22%20fill%3D%22%23FFCBCB%22%2F%3E%3Cpath%20d%3D%22M629.229%2010.4824V10.2324V10.2324V10.4824ZM650.832%2018.6875L650.998%2018.5005V18.5005L650.832%2018.6875ZM709.842%2071.0703L709.676%2071.2573V71.2573L709.842%2071.0703ZM731.443%2079.2754L731.443%2079.5254H731.443V79.2754ZM788.715%2079.2754L788.87%2079.4718L789.436%2079.0254H788.715V79.2754ZM690.013%20157L689.858%20156.804L689.841%20156.817L689.826%20156.834L690.013%20157ZM676.364%20167.021L676.467%20167.25V167.25L676.364%20167.021ZM659.794%20170.573V170.823V170.823V170.573ZM142.815%20170.573L142.815%20170.823H142.815V170.573ZM126.246%20167.021L126.144%20167.249V167.249L126.246%20167.021ZM112.599%20157L112.785%20156.834L112.771%20156.817L112.753%20156.804L112.599%20157ZM13.8965%2079.2754V79.0254H13.1749L13.7418%2079.4718L13.8965%2079.2754ZM67.5088%2079.2754V79.5254H67.5088L67.5088%2079.2754ZM89.1094%2071.0703L89.2753%2071.2573L89.2753%2071.2573L89.1094%2071.0703ZM148.119%2018.6875L148.285%2018.8745L148.286%2018.8741L148.119%2018.6875ZM169.644%2010.4824V10.2324H169.644L169.644%2010.4824ZM629.229%2010.4824V10.7324C637.129%2010.733%20644.756%2013.6296%20650.666%2018.8745L650.832%2018.6875L650.998%2018.5005C644.997%2013.1745%20637.252%2010.233%20629.229%2010.2324V10.4824ZM650.832%2018.6875L650.666%2018.8745L709.676%2071.2573L709.842%2071.0703L710.008%2070.8834L650.998%2018.5005L650.832%2018.6875ZM709.842%2071.0703L709.676%2071.2573C715.677%2076.5829%20723.421%2079.5242%20731.443%2079.5254L731.443%2079.2754L731.443%2079.0254C723.543%2079.0242%20715.917%2076.1278%20710.008%2070.8833L709.842%2071.0703ZM731.443%2079.2754V79.5254H788.715V79.2754V79.0254H731.443V79.2754ZM788.715%2079.2754L788.56%2079.079L689.858%20156.804L690.013%20157L690.167%20157.196L788.87%2079.4718L788.715%2079.2754ZM690.013%20157L689.826%20156.834C686.057%20161.073%20681.435%20164.469%20676.262%20166.793L676.364%20167.021L676.467%20167.25C681.705%20164.896%20686.384%20161.458%20690.2%20157.166L690.013%20157ZM676.364%20167.021L676.262%20166.793C671.084%20169.12%20665.471%20170.323%20659.794%20170.323V170.573V170.823C665.541%20170.823%20671.224%20169.605%20676.467%20167.25L676.364%20167.021ZM659.794%20170.573V170.323H142.815V170.573V170.823H659.794V170.573ZM142.815%20170.573L142.815%20170.323C137.139%20170.323%20131.526%20169.119%20126.349%20166.792L126.246%20167.021L126.144%20167.249C131.386%20169.604%20137.068%20170.823%20142.815%20170.823L142.815%20170.573ZM126.246%20167.021L126.349%20166.792C121.176%20164.468%20116.554%20161.073%20112.785%20156.834L112.599%20157L112.412%20157.166C116.227%20161.458%20120.906%20164.895%20126.144%20167.249L126.246%20167.021ZM112.599%20157L112.753%20156.804L14.0512%2079.079L13.8965%2079.2754L13.7418%2079.4718L112.444%20157.196L112.599%20157ZM13.8965%2079.2754V79.5254H67.5088V79.2754V79.0254H13.8965V79.2754ZM67.5088%2079.2754L67.5088%2079.5254C75.531%2079.5241%2083.2747%2076.5827%2089.2753%2071.2573L89.1094%2071.0703L88.9434%2070.8833C83.0342%2076.1276%2075.4087%2079.0241%2067.5087%2079.0254L67.5088%2079.2754ZM89.1094%2071.0703L89.2753%2071.2573L148.285%2018.8745L148.119%2018.6875L147.953%2018.5005L88.9434%2070.8834L89.1094%2071.0703ZM148.119%2018.6875L148.286%2018.8741C154.165%2013.631%20161.767%2010.7334%20169.644%2010.7324L169.644%2010.4824L169.644%2010.2324C161.644%2010.2334%20153.924%2013.1761%20147.953%2018.5009L148.119%2018.6875ZM169.644%2010.4824V10.7324H629.229V10.4824V10.2324H169.644V10.4824Z%22%20fill%3D%22black%22%2F%3E%3C%2Fsvg%3E");
                width: 31.25rem;
                height: 6.563rem;
                bottom: -3.938rem;
                left: calc(50% - 15.625rem);
            }

            @media (max-width: 575px) {
                width: 21.875rem;
                height: 4.688rem;
                bottom: -2.813rem;
                left: calc(50% - 10.938rem);
            }
        }

        .block-posts__title {
            padding-bottom: 3.125rem;
            line-height: normal;
            z-index: 2;
            margin-top: -0.188rem;

            @media (max-width: 992px) {
                margin-top: -1.625rem;
            }

            @media (max-width: 575px) {
                margin-top: -1.375rem;
                padding-bottom: 1.875rem;
            }
        }

        .block-posts__carousel-wrap {
            padding: 1.875rem 3.438rem;

            @media (max-width: 1200px) {
                padding: 0.938rem 3.438rem 3.125rem;

                .block-posts__carousel {
                    padding: 0px 20px 50px;
                }
            }

            @media (max-width: 992px) {
                max-width: 100%;
                margin: 1.5rem 20px 3.125rem;
                padding: 0;
            }

            @media (max-width: 575px) {
                margin: 1.5rem 20px 1.875rem;
            }

            .post-card {
                @include border-radius(0px);
            }
        }

        .block-posts__button {
            z-index: 2;
            margin-bottom: 0.188rem;

            @media (max-width: 992px) {
                margin-bottom: -2.188rem;
            }

            @media (max-width: 575px) {
                margin-bottom: -2rem;
            }
        }
    }
}