@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../parts/variables";
@import "../parts/mixin";

.block-footer-cta {
	background-image: url("../../images/block-footer-cta-bg.svg");
	background-repeat: no-repeat;
	background-position: center 172px;
	background-size: 100%;

    @media (max-width: 375px) {
        background-position: center 190px;
    }

    @include media-breakpoint-up(lg) {
        background-position: center 300px;
        background-size: 110%;       
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 337px;
        margin: 0 auto;

        position: relative;
        z-index: 1;

        @include media-breakpoint-up(lg) {
            max-width: 1044px;
        }
    }

    &__title {
        text-align: center;
        font-size: 34px;
        line-height: 34px;

        @include media-breakpoint-up(lg) {
            font-size: 97px;
            line-height: 106px;
        }

        span {
            font-size: 14px;
            line-height: 32px;

            @include media-breakpoint-up(lg) {
                font-size: 41px;
                line-height: 98px;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        height: 224px;
        margin: 0 0 70px;

        position: relative;
        z-index: 5;

        @include media-breakpoint-up(lg) {
            height: 514px;
            margin: 0 0 73px;
        }

        @include media-breakpoint-up(xxl) {
            height: 564px;
        }
    }

    &__flag {
        max-width: 96px;
        margin: 0 auto;

        position: absolute;
        top: 12px;
        left: 85px;

        @include media-breakpoint-up(lg) {
            max-width: 296px;
            top: 25px;
            left: 265px;
        }

        svg {
            width: 100%;
	        height: 100%;
        }
    }

    &__planet {
        max-width: 465px;
        margin: 0 auto;

        position: absolute;
        bottom: -7%;
        left: 50%;
        transform: translate(-50%, 0%);

        @include media-breakpoint-up(lg) {
            max-width: 1440px;
            bottom: -26%;
        }

        & > svg {
            height: 100%;
            width: 465px;

            @include media-breakpoint-up(lg) {
                width: auto;
            }
        }
    }

    &__monkey {
        max-width: 139px;
        margin: 0 auto;
        
        position: absolute;
        bottom: 98px;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: 6;

        @include media-breakpoint-up(lg) {
            max-width: 430px;
            bottom: 148px;
        }

        svg {
            width: 100%;
	        height: 100%;
        }
    }
}