@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../parts/variables";
@import "../parts/mixin";

.block-numbers {
    background-color: $color-yellow;
    margin-top: -1px;

    .container {
        padding: 55px 0 70px;

        @include media-breakpoint-up(lg) {
            padding: 100px 0;
        }
        @include media-breakpoint-up(xl) {
            padding: 112px 0;
        }
    }

    &__wrap {
        margin: 0 auto;
        padding: 0 20px;

        @include media-breakpoint-up(lg) {
            padding: 0 55px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;

        @include media-breakpoint-up(lg) {
            gap: 48px;
        }
        @include media-breakpoint-up(xl) {
            gap: 84px;
        }
    }

    &__item {
        flex: 0 1 calc(50% - 24px);
        text-align: center;

        @include media-breakpoint-up(md) {
            flex: 0 1 calc(25% - 24px);
        }

        @include media-breakpoint-up(lg) {
            flex: 0 1 calc(25% - 48px);
        }
        @include media-breakpoint-up(xl) {
            flex: 0 1 calc(25% - 84px);
        }
    }

    &__value {
        display: inline-flex;
        align-items: baseline;
        justify-content: center;
        font-family: $font-title;
        color: $color-dark;
        min-width: 6ch;
        white-space: nowrap;

        @include media-breakpoint-up(lg) {
            min-width: 8ch;
        }
        @include media-breakpoint-up(xl) {
            min-width: 10ch;
        }
    }
    &__symbol,
    &__number {
        font-size: 42px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase;
        font-variant-numeric: tabular-nums;
        font-feature-settings: 'tnum' 1, 'lnum' 1;

        @include media-breakpoint-up(lg) {
            font-size: 70px;
            line-height: 70px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 155px;
            line-height: 155px;
        }
    }

    &__description {
        margin: 3px 0 0;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
        font-family: $font-title;

        @include media-breakpoint-up(lg) {
            margin: 12px 0 0;
            font-size: 20px;
        }
        @include media-breakpoint-up(xl) {
            margin: 7px 0 0;
            font-size: 29px;
        }
    }
}
