@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../parts/variables";
@import "../parts/mixin";

.block-toolbox {
    padding: 48px 0 66px;

    @include media-breakpoint-up(lg) {
        padding: 108px 0 132px;
    }

    &__wrap {
        margin: 0 auto;
       // max-width: 1440px; // limit width so content can be visually centered
        overflow: hidden; // cut side slides at wrapper width
        display: flex;
        flex-direction: column;
    }

    &__title {
        text-align: center;;
        font-size: 20px;
        line-height: 29px;
        margin: 0 0 15px;

        @include media-breakpoint-up(lg) {
            font-size: 55px;
            line-height: 80px;
            margin: 0 0 40px;
        }
    }

    &__carousel {
        height: 100% !important;

        &-img {
            height: 100% !important;
            width: 100% !important;
            object-fit: none;
            border-radius: 15px 15px 0 0;

            @include media-breakpoint-up(lg) {
                border-radius: 30px 30px 0 0;
            }

            &-wrapper {
                margin: 0;
                height: 100%;
                position: relative;
                flex: 1;
                display: flex;
                align-items: stretch;
                /* background-color: #C1F174; */

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                }

                @include media-breakpoint-up(lg) {
                    height: calc(100% - 20px);
                }
            }
            &-area {
                position: relative;
            }
            &-bottom-area,
            &-top-area {
                height: 20px;
                background-color: $color-light-gray;
                position: absolute;
                z-index: 1;
                left: 0;
                width: 100%;

                @include media-breakpoint-up(lg) {
                    height: 42px;
                }
            }
            &-top-area {
                border-bottom: 1px solid $color-dark;
                border-radius: 15px 15px 0 0;
                top: 0px;
                height: 21px;

                @include media-breakpoint-up(lg) {
                    border-bottom: 1.5px solid $color-dark;
                    height: 32px;
                }

                @include media-breakpoint-up(lg) {
                    border-radius: 20px 20px 0 0;
                }
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: cover;
                    top: 0;
                    width: 62px;
                    height: 42px;
                    display: block;

                    @include media-breakpoint-up(lg) {
                        width: 88px;
                        height: 62px;
                    }
                }

                &:after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='84' viewBox='0 0 150 84' fill='none'%3E%3Cpath d='M150.002 42.7344H128.843C119.918 42.7344 111.321 46.1048 104.778 52.1699L81.9824 73.3027C75.2547 79.5392 66.4153 83.0037 57.2383 83.0039H0V20.9141C0.0002322 9.36319 9.37194 0.000136978 20.9316 0H150.002V42.7344Z' fill='%23DCE6DE'/%3E%3Ccircle cx='36' cy='36' r='12' fill='black'/%3E%3Cmask id='path-3-inside-1_712_13272' fill='white'%3E%3Cpath d='M150 1H20.9316C9.92908 1.00014 1.00021 10.0217 1 21.1621V83H57.2383C66.1616 82.9998 74.7577 79.5902 81.3008 73.4512L104.097 52.0615C110.824 45.7497 119.664 42.2412 128.843 42.2412H150V43.2412H128.843C119.92 43.2412 111.324 46.6521 104.781 52.791L81.9844 74.1797C75.257 80.4917 66.4172 83.9998 57.2383 84H0V21.1621C0.00020841 9.48003 9.36625 0.000138779 20.9316 0H150V1Z'/%3E%3C/mask%3E%3Cpath d='M150 1V2H151V1H150ZM20.9316 1L20.9316 0L20.9316 0L20.9316 1ZM1 21.1621L0 21.1621V21.1621H1ZM1 83H0V84H1V83ZM57.2383 83L57.2383 84L57.2383 84L57.2383 83ZM81.3008 73.4512L81.985 74.1804L81.985 74.1804L81.3008 73.4512ZM104.097 52.0615L103.412 51.3322L103.412 51.3323L104.097 52.0615ZM128.843 42.2412L128.843 43.2412H128.843V42.2412ZM150 42.2412H151V41.2412H150V42.2412ZM150 43.2412V44.2412H151V43.2412H150ZM128.843 43.2412L128.843 44.2412H128.843V43.2412ZM104.781 52.791L104.097 52.0617L104.097 52.0617L104.781 52.791ZM81.9844 74.1797L81.3002 73.4504L81.3001 73.4504L81.9844 74.1797ZM57.2383 84L57.2383 85L57.2383 85L57.2383 84ZM0 84H-1V85H0V84ZM0 21.1621L-1 21.1621V21.1621H0ZM20.9316 0L20.9316 -1L20.9316 -1L20.9316 0ZM150 0H151V-1H150V0ZM150 1V0H20.9316V1V2H150V1ZM20.9316 1L20.9316 0C9.36632 0.000145935 0.00021847 9.47995 1.74868e-10 21.1621L1 21.1621L2 21.1621C2.0002 10.5635 10.4918 2.00013 20.9317 2L20.9316 1ZM1 21.1621H0V83H1H2V21.1621H1ZM1 83V84H57.2383V83V82H1V83ZM57.2383 83L57.2383 84C66.4172 83.9998 75.2576 80.4924 81.985 74.1804L81.3008 73.4512L80.6166 72.7219C74.2579 78.6879 65.906 81.9998 57.2383 82L57.2383 83ZM81.3008 73.4512L81.985 74.1804L104.781 52.7908L104.097 52.0615L103.412 51.3323L80.6165 72.7219L81.3008 73.4512ZM104.097 52.0615L104.781 52.7908C111.324 46.6519 119.919 43.2412 128.843 43.2412L128.843 42.2412L128.843 41.2412C119.408 41.2412 110.324 44.8475 103.412 51.3322L104.097 52.0615ZM128.843 42.2412V43.2412H150V42.2412V41.2412H128.843V42.2412ZM150 42.2412H149V43.2412H150H151V42.2412H150ZM150 43.2412V42.2412H128.843V43.2412V44.2412H150V43.2412ZM128.843 43.2412L128.843 42.2412C119.664 42.2412 110.825 45.75 104.097 52.0617L104.781 52.791L105.465 53.5203C111.824 47.5543 120.175 44.2412 128.843 44.2412L128.843 43.2412ZM104.781 52.791L104.097 52.0617L81.3002 73.4504L81.9844 74.1797L82.6686 74.909L105.465 53.5203L104.781 52.791ZM81.9844 74.1797L81.3001 73.4504C74.757 79.5895 66.1615 82.9998 57.2383 83L57.2383 84L57.2383 85C66.6728 84.9998 75.7569 81.3939 82.6686 74.909L81.9844 74.1797ZM57.2383 84V83H0V84V85H57.2383V84ZM0 84H1V21.1621H0H-1V84H0ZM0 21.1621L1 21.1621C1.0002 10.0216 9.92916 1.00013 20.9317 1L20.9316 0L20.9316 -1C8.80333 -0.999854 -0.999782 8.93843 -1 21.1621L0 21.1621ZM20.9316 0V1H150V0V-1H20.9316V0ZM150 0H149V1H150H151V0H150Z' fill='black' mask='url(%23path-3-inside-1_712_13272)'/%3E%3C/svg%3E");
                    left: -1px;
                    top: -1px;
                }
                &:before {
                    transform: scaleX(-1);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='84' viewBox='0 0 150 84' fill='none'%3E%3Cpath d='M150.002 42.7344H128.843C119.918 42.7344 111.321 46.1048 104.778 52.1699L81.9824 73.3027C75.2547 79.5392 66.4153 83.0037 57.2383 83.0039H0V20.9141C0.0002322 9.36319 9.37194 0.000136978 20.9316 0H150.002V42.7344Z' fill='%23DCE6DE'/%3E%3Ccircle cx='36' cy='36' r='12' fill='black'/%3E%3Cmask id='path-3-inside-1_712_13272' fill='white'%3E%3Cpath d='M150 1H20.9316C9.92908 1.00014 1.00021 10.0217 1 21.1621V83H57.2383C66.1616 82.9998 74.7577 79.5902 81.3008 73.4512L104.097 52.0615C110.824 45.7497 119.664 42.2412 128.843 42.2412H150V43.2412H128.843C119.92 43.2412 111.324 46.6521 104.781 52.791L81.9844 74.1797C75.257 80.4917 66.4172 83.9998 57.2383 84H0V21.1621C0.00020841 9.48003 9.36625 0.000138779 20.9316 0H150V1Z'/%3E%3C/mask%3E%3Cpath d='M150 1V2H151V1H150ZM20.9316 1L20.9316 0L20.9316 0L20.9316 1ZM1 21.1621L0 21.1621V21.1621H1ZM1 83H0V84H1V83ZM57.2383 83L57.2383 84L57.2383 84L57.2383 83ZM81.3008 73.4512L81.985 74.1804L81.985 74.1804L81.3008 73.4512ZM104.097 52.0615L103.412 51.3322L103.412 51.3323L104.097 52.0615ZM128.843 42.2412L128.843 43.2412H128.843V42.2412ZM150 42.2412H151V41.2412H150V42.2412ZM150 43.2412V44.2412H151V43.2412H150ZM128.843 43.2412L128.843 44.2412H128.843V43.2412ZM104.781 52.791L104.097 52.0617L104.097 52.0617L104.781 52.791ZM81.9844 74.1797L81.3002 73.4504L81.3001 73.4504L81.9844 74.1797ZM57.2383 84L57.2383 85L57.2383 85L57.2383 84ZM0 84H-1V85H0V84ZM0 21.1621L-1 21.1621V21.1621H0ZM20.9316 0L20.9316 -1L20.9316 -1L20.9316 0ZM150 0H151V-1H150V0ZM150 1V0H20.9316V1V2H150V1ZM20.9316 1L20.9316 0C9.36632 0.000145935 0.00021847 9.47995 1.74868e-10 21.1621L1 21.1621L2 21.1621C2.0002 10.5635 10.4918 2.00013 20.9317 2L20.9316 1ZM1 21.1621H0V83H1H2V21.1621H1ZM1 83V84H57.2383V83V82H1V83ZM57.2383 83L57.2383 84C66.4172 83.9998 75.2576 80.4924 81.985 74.1804L81.3008 73.4512L80.6166 72.7219C74.2579 78.6879 65.906 81.9998 57.2383 82L57.2383 83ZM81.3008 73.4512L81.985 74.1804L104.781 52.7908L104.097 52.0615L103.412 51.3323L80.6165 72.7219L81.3008 73.4512ZM104.097 52.0615L104.781 52.7908C111.324 46.6519 119.919 43.2412 128.843 43.2412L128.843 42.2412L128.843 41.2412C119.408 41.2412 110.324 44.8475 103.412 51.3322L104.097 52.0615ZM128.843 42.2412V43.2412H150V42.2412V41.2412H128.843V42.2412ZM150 42.2412H149V43.2412H150H151V42.2412H150ZM150 43.2412V42.2412H128.843V43.2412V44.2412H150V43.2412ZM128.843 43.2412L128.843 42.2412C119.664 42.2412 110.825 45.75 104.097 52.0617L104.781 52.791L105.465 53.5203C111.824 47.5543 120.175 44.2412 128.843 44.2412L128.843 43.2412ZM104.781 52.791L104.097 52.0617L81.3002 73.4504L81.9844 74.1797L82.6686 74.909L105.465 53.5203L104.781 52.791ZM81.9844 74.1797L81.3001 73.4504C74.757 79.5895 66.1615 82.9998 57.2383 83L57.2383 84L57.2383 85C66.6728 84.9998 75.7569 81.3939 82.6686 74.909L81.9844 74.1797ZM57.2383 84V83H0V84V85H57.2383V84ZM0 84H1V21.1621H0H-1V84H0ZM0 21.1621L1 21.1621C1.0002 10.0216 9.92916 1.00013 20.9317 1L20.9316 0L20.9316 -1C8.80333 -0.999854 -0.999782 8.93843 -1 21.1621L0 21.1621ZM20.9316 0V1H150V0V-1H20.9316V0ZM150 0H149V1H150H151V0H150Z' fill='black' mask='url(%23path-3-inside-1_712_13272)'/%3E%3C/svg%3E");
                    right: -1px;
                    top: -1px;
                }
            }
            &-bottom-area {
                height: 20px;
                border-top: 1px solid $color-dark;
                bottom: 21px;
                position: relative;

                @include media-breakpoint-up(lg) {
                    height: 42px;
                    border-top: 1.5px solid $color-dark;
                }
                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: cover;
                    top: 0;
                    width: 62px;
                    height: 42px;
                    display: block;

                    @include media-breakpoint-up(lg) {
                        width: 88px;
                        height: 62px;
                    }
                }
                &:after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='84' viewBox='0 0 150 84' fill='none'%3E%3Cpath d='M150.002 41.2656H128.843C119.918 41.2656 111.321 37.8952 104.778 31.8301L81.9824 10.6973C75.2547 4.46074 66.4153 0.996265 57.2383 0.996094H0V63.0859C0.0002322 74.6368 9.37194 83.9999 20.9316 84H150.002V41.2656Z' fill='%23DCE6DE'/%3E%3Cellipse cx='39.8466' cy='45.7887' rx='14.1533' ry='14.2106' fill='black'/%3E%3Cellipse cx='37.5475' cy='43.6024' rx='13.5475' ry='13.6024' fill='%23DCE6DE' stroke='black'/%3E%3Cpath d='M28.1133 52.8516L46.3178 34.5734' stroke='black'/%3E%3Cmask id='path-5-inside-1_712_13282' fill='white'%3E%3Cpath d='M150 40.7578H128.843C119.92 40.7578 111.324 37.3469 104.781 31.208L81.9844 9.81934C75.257 3.50735 66.4172 -0.00080336 57.2383 -0.000976562H0.5V0.999023H57.2383C66.1616 0.999192 74.7577 4.40884 81.3008 10.5479L104.097 31.9365C110.824 38.2485 119.664 41.7578 128.843 41.7578H150V40.7578Z'/%3E%3C/mask%3E%3Cpath d='M150 40.7578V39.7578H151V40.7578H150ZM128.843 40.7578L128.843 39.7578H128.843V40.7578ZM104.781 31.208L104.097 31.9373L104.097 31.9373L104.781 31.208ZM81.9844 9.81934L81.3002 10.5486L81.3001 10.5486L81.9844 9.81934ZM57.2383 -0.000976562L57.2383 -1.00098L57.2383 -1.00098L57.2383 -0.000976562ZM0.5 -0.000976562H-0.5V-1.00098H0.5V-0.000976562ZM0.5 0.999023V1.99902H-0.5V0.999023H0.5ZM57.2383 0.999023L57.2383 -0.000976563L57.2383 -0.000976562L57.2383 0.999023ZM81.3008 10.5479L81.985 9.81859L81.985 9.81859L81.3008 10.5479ZM104.097 31.9365L103.412 32.6658L103.412 32.6658L104.097 31.9365ZM128.843 41.7578L128.843 40.7578H128.843V41.7578ZM150 41.7578H151V42.7578H150V41.7578ZM150 40.7578V41.7578H128.843V40.7578V39.7578H150V40.7578ZM128.843 40.7578L128.843 41.7578C119.664 41.7578 110.825 38.2491 104.097 31.9373L104.781 31.208L105.465 30.4787C111.824 36.4447 120.175 39.7578 128.843 39.7578L128.843 40.7578ZM104.781 31.208L104.097 31.9373L81.3002 10.5486L81.9844 9.81934L82.6686 9.09006L105.465 30.4787L104.781 31.208ZM81.9844 9.81934L81.3001 10.5486C74.757 4.40956 66.1615 0.999192 57.2383 0.999023L57.2383 -0.000976562L57.2383 -1.00098C66.6728 -1.0008 75.7569 2.60514 82.6686 9.09007L81.9844 9.81934ZM57.2383 -0.000976562V0.999023H0.5V-0.000976562V-1.00098H57.2383V-0.000976562ZM0.5 -0.000976562H1.5V0.999023H0.5H-0.5V-0.000976562H0.5ZM0.5 0.999023V-0.000976562H57.2383V0.999023V1.99902H0.5V0.999023ZM57.2383 0.999023L57.2383 -0.000976562C66.4172 -0.000803361 75.2576 3.50658 81.985 9.81859L81.3008 10.5479L80.6166 11.2771C74.2579 5.3111 65.906 1.99919 57.2383 1.99902L57.2383 0.999023ZM81.3008 10.5479L81.985 9.81859L104.781 31.2073L104.097 31.9365L103.412 32.6658L80.6165 11.2771L81.3008 10.5479ZM104.097 31.9365L104.781 31.2073C111.324 37.3464 119.919 40.7578 128.843 40.7578L128.843 41.7578L128.843 42.7578C119.408 42.7578 110.324 39.1507 103.412 32.6658L104.097 31.9365ZM128.843 41.7578V40.7578H150V41.7578V42.7578H128.843V41.7578ZM150 41.7578H149V40.7578H150H151V41.7578H150Z' fill='black' mask='url(%23path-5-inside-1_712_13282)'/%3E%3C/svg%3E");
                    left: 0;
                    top: -21px;

                    @include media-breakpoint-up(lg) {
                        top: -30px;
                    }
                }
                &:before {
                    transform: scaleX(-1);
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='84' viewBox='0 0 150 84' fill='none'%3E%3Cpath d='M150.002 41.2656H128.843C119.918 41.2656 111.321 37.8952 104.778 31.8301L81.9824 10.6973C75.2547 4.46074 66.4153 0.996265 57.2383 0.996094H0V63.0859C0.0002322 74.6368 9.37194 83.9999 20.9316 84H150.002V41.2656Z' fill='%23DCE6DE'/%3E%3Cellipse cx='39.8466' cy='45.7887' rx='14.1533' ry='14.2106' fill='black'/%3E%3Cellipse cx='37.5475' cy='43.6024' rx='13.5475' ry='13.6024' fill='%23DCE6DE' stroke='black'/%3E%3Cpath d='M28.1133 52.8516L46.3178 34.5734' stroke='black'/%3E%3Cmask id='path-5-inside-1_712_13282' fill='white'%3E%3Cpath d='M150 40.7578H128.843C119.92 40.7578 111.324 37.3469 104.781 31.208L81.9844 9.81934C75.257 3.50735 66.4172 -0.00080336 57.2383 -0.000976562H0.5V0.999023H57.2383C66.1616 0.999192 74.7577 4.40884 81.3008 10.5479L104.097 31.9365C110.824 38.2485 119.664 41.7578 128.843 41.7578H150V40.7578Z'/%3E%3C/mask%3E%3Cpath d='M150 40.7578V39.7578H151V40.7578H150ZM128.843 40.7578L128.843 39.7578H128.843V40.7578ZM104.781 31.208L104.097 31.9373L104.097 31.9373L104.781 31.208ZM81.9844 9.81934L81.3002 10.5486L81.3001 10.5486L81.9844 9.81934ZM57.2383 -0.000976562L57.2383 -1.00098L57.2383 -1.00098L57.2383 -0.000976562ZM0.5 -0.000976562H-0.5V-1.00098H0.5V-0.000976562ZM0.5 0.999023V1.99902H-0.5V0.999023H0.5ZM57.2383 0.999023L57.2383 -0.000976563L57.2383 -0.000976562L57.2383 0.999023ZM81.3008 10.5479L81.985 9.81859L81.985 9.81859L81.3008 10.5479ZM104.097 31.9365L103.412 32.6658L103.412 32.6658L104.097 31.9365ZM128.843 41.7578L128.843 40.7578H128.843V41.7578ZM150 41.7578H151V42.7578H150V41.7578ZM150 40.7578V41.7578H128.843V40.7578V39.7578H150V40.7578ZM128.843 40.7578L128.843 41.7578C119.664 41.7578 110.825 38.2491 104.097 31.9373L104.781 31.208L105.465 30.4787C111.824 36.4447 120.175 39.7578 128.843 39.7578L128.843 40.7578ZM104.781 31.208L104.097 31.9373L81.3002 10.5486L81.9844 9.81934L82.6686 9.09006L105.465 30.4787L104.781 31.208ZM81.9844 9.81934L81.3001 10.5486C74.757 4.40956 66.1615 0.999192 57.2383 0.999023L57.2383 -0.000976562L57.2383 -1.00098C66.6728 -1.0008 75.7569 2.60514 82.6686 9.09007L81.9844 9.81934ZM57.2383 -0.000976562V0.999023H0.5V-0.000976562V-1.00098H57.2383V-0.000976562ZM0.5 -0.000976562H1.5V0.999023H0.5H-0.5V-0.000976562H0.5ZM0.5 0.999023V-0.000976562H57.2383V0.999023V1.99902H0.5V0.999023ZM57.2383 0.999023L57.2383 -0.000976562C66.4172 -0.000803361 75.2576 3.50658 81.985 9.81859L81.3008 10.5479L80.6166 11.2771C74.2579 5.3111 65.906 1.99919 57.2383 1.99902L57.2383 0.999023ZM81.3008 10.5479L81.985 9.81859L104.781 31.2073L104.097 31.9365L103.412 32.6658L80.6165 11.2771L81.3008 10.5479ZM104.097 31.9365L104.781 31.2073C111.324 37.3464 119.919 40.7578 128.843 40.7578L128.843 41.7578L128.843 42.7578C119.408 42.7578 110.324 39.1507 103.412 32.6658L104.097 31.9365ZM128.843 41.7578V40.7578H150V41.7578V42.7578H128.843V41.7578ZM150 41.7578H149V40.7578H150H151V41.7578H150Z' fill='black' mask='url(%23path-5-inside-1_712_13282)'/%3E%3C/svg%3E");
                    right: 0;
                    top: -21px;

                    @include media-breakpoint-up(lg) {
                        top: -30px;
                    }

                }
            }
        }

        &-item {
            justify-content: center;
            display: flex;

            &.swiper-slide-next,
            &.swiper-slide-prev {
                display: flex;
                align-items: center;
                height: 100%;
            }
            &-container {
                border-radius: 15px;
                background: $color-light-gray;
                display: flex !important;
                flex-direction: column !important;
                // max-width: 584px;
                width: 377px;
                position: relative;
                border: 1px solid $color-dark;

                @include media-breakpoint-up(lg) {
                    border-radius: 20px;
                }
            }

            &-content {
                display: flex !important;
                flex-direction: column !important;
                align-items: center !important;
                justify-content: center !important;
                gap: 14px;
                padding: 0 23px;
                flex: 1 !important;

                @include media-breakpoint-up(lg) {
                    gap: 44px;
                    padding: 0 47px;
                }
            }

            &-text {
                text-align: center;
                font-family: $font-primary;
                font-size: 14px;
                line-height: 16px;
                
                padding: 0 23px;
                margin-top: 9px;

                position: relative;
                z-index: 2;

                @include media-breakpoint-up(lg) {
                    font-size: 24px;
                    line-height: 35px;
                    margin-top: 5px;
                }
            }
            &-button {
                padding: 20px 50px 30px 50px;

                @include media-breakpoint-up(lg) {
                    padding: 34px 50px 45px 50px;
                }
            }
            &-elements {
                width: 100%;
                position: relative;
                padding: 9px 14px;
                display: flex;
                justify-content: space-between;

                @include media-breakpoint-up(lg) {
                    padding: 20px;
                }

                svg {
                    width: 14px;
                    height: 14px;

                    @include media-breakpoint-up(lg) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    &--soon {
        .block-toolbox__carousel-item-container {
            min-height: 221px;
            position: relative;
            overflow: hidden;
            height: fit-content;

            &:before {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='331' height='27' viewBox='0 0 331 27' fill='none'%3E%3Cpath d='M330.131 0.5H316.754C310.195 0.5 303.879 2.97894 299.07 7.43995L286.22 19.362C281.412 23.823 275.096 26.302 268.537 26.302H165.066H61.5946C55.0357 26.302 48.7191 23.823 43.9109 19.362L31.0609 7.43995C26.2527 2.97893 19.9361 0.5 13.3772 0.5H0' stroke='black'/%3E%3C/svg%3E");
                width: 92%;
                height: 25px;
                position: absolute;
                top: -2px;
                left: 50%;
                transform: translateX(-50%);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }

        .block-toolbox__carousel-item-text {
            font-family: $font-title;
            font-size: 36px;
            font-weight: 200;
            line-height: 43px;

            @include media-breakpoint-up(md) {
                font-size: 48px;
                line-height: 55px;
                // max-width: 330px;
                max-width: 377px;
                text-align: center;
                padding: 70px 50px 128px;
            }
        }
    }

    .swiper-slide-active {
        .block-toolbox__carousel-item-container {
            @include media-breakpoint-up(lg) {
                min-width: 587px;
                height: 587px;
            }
        }
    }
}
