*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    -webkit-appearance: none;
}

html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    background-color: var(--white);
    color: var(--text-black);
    font-family: var(--font-family-poppins);
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    font-weight: 400;
    line-height: 1.3;

    @include flex-direction(column);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body ::selection {
    color: #fff;
    background: #FFB89F;
}

:focus {
    box-shadow: none !important;
}

// Font Weight
.font-light {
    font-weight: 300;
}

.font-normal {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

// Font Size
.text-xl {
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.text-lg {
    font-size: clamp(0.875rem, 1.5vw, 1.5rem);
}

.text-md {
    font-size: clamp(0.875rem, 1.5vw, 1.25rem);
}

.text-sm {
    font-size: clamp(0.75rem, 1.5vw, 0.875rem);
}

.text-xs {
    font-size: clamp(0.625rem, 1.5vw, 0.75rem);
}

// Padding CSS

.p-0 {
    padding: 0 !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.p-xl {
    padding: 6rem !important;
}

.p-lg {
    padding: 5rem !important;
}

.p-md {
    padding: 3rem !important;
}

.p-sm {
    padding: 2rem !important;
}

.p-xs {
    padding: 1rem !important;
}

.p-50 {
    padding: 4rem !important;
}

.pt-xl {
    padding-top: 6rem !important;
}

.pt-lg {
    padding-top: 5rem !important;
}

.pt-md {
    padding-top: 3rem !important;
}

.pt-sm {
    padding-top: 2rem !important;
}

.pt-xs {
    padding-top: 1rem !important;
}

.pt-50 {
    padding-top: 4rem !important;
}

.pb-xl {
    padding-bottom: 6rem !important;
}

.pb-lg {
    padding-bottom: 5rem !important;
}

.pb-md {
    padding-bottom: 3rem !important;
}

.pb-sm {
    padding-bottom: 2rem !important;
}

.pb-xs {
    padding-bottom: 1rem !important;
}

.pb-50 {
    padding-bottom: 4rem !important;
}

// Margin CSS

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.m-xl {
    margin: 6rem !important;
}

.m-lg {
    margin: 5rem !important;
}

.m-md {
    margin: 3rem !important;
}

.m-sm {
    margin: 2rem !important;
}

.m-xs {
    margin: 1rem !important;
}

.m-50 {
    margin: 4rem !important;
}

.mt-xl {
    margin-top: 6rem !important;
}

.mt-lg {
    margin-top: 5rem !important;
}

.mt-md {
    margin-top: 3rem !important;
}

.mt-sm {
    margin-top: 2rem !important;
}

.mt-xs {
    margin-top: 1rem !important;
}

.mt-50 {
    margin-top: 4rem !important;
}

.mb-xl {
    margin-bottom: 6rem !important;
}

.mb-lg {
    margin-bottom: 5rem !important;
}

.mb-md {
    margin-bottom: 3rem !important;
}

.mb-sm {
    margin-bottom: 2rem !important;
}

.mb-xs {
    margin-bottom: 1rem !important;
}

.mb-50 {
    margin-bottom: 4rem !important;
}

@media (max-width: 767px) {
    .m-p-0 {
        padding: 0 !important;
    }

    .m-pt-0 {
        padding-top: 0 !important;
    }

    .m-pb-0 {
        padding-bottom: 0 !important;
    }

    .m-p-xl {
        padding: 4rem !important;
    }

    .m-p-lg {
        padding: 3rem !important;
    }

    .m-p-md {
        padding: 2rem !important;
    }

    .m-p-25 {
        padding: 1.5rem !important;
    }

    .m-pt-xl {
        padding-top: 4rem !important;
    }

    .m-pt-lg {
        padding-top: 3rem !important;
    }

    .m-pt-md {
        padding-top: 2rem !important;
    }

    .m-pt-25 {
        padding-top: 1.5rem !important;
    }

    .m-pb-xl {
        padding-bottom: 4rem !important;
    }

    .m-pb-lg {
        padding-bottom: 3rem !important;
    }

    .m-pb-md {
        padding-bottom: 2rem !important;
    }

    .m-pb-25 {
        padding-bottom: 1.5rem !important;
    }

    .m-m-0 {
        margin: 0 !important;
    }

    .m-mt-0 {
        margin-top: 0 !important;
    }

    .m-mb-0 {
        margin-bottom: 0 !important;
    }

    .m-m-xl {
        margin: 4rem !important;
    }

    .m-m-lg {
        margin: 3rem !important;
    }

    .m-m-md {
        margin: 2rem !important;
    }

    .m-m-25 {
        margin: 1.5rem !important;
    }

    .m-mt-xl {
        margin-top: 4rem !important;
    }

    .m-mt-lg {
        margin-top: 3rem !important;
    }

    .m-mt-md {
        margin-top: 2rem !important;
    }

    .m-mt-25 {
        margin-top: 1.5rem !important;
    }

    .m-mb-xl {
        margin-bottom: 4rem !important;
    }

    .m-mb-lg {
        margin-bottom: 3rem !important;
    }

    .m-mb-md {
        margin-bottom: 2rem !important;
    }

    .m-mb-25 {
        margin-bottom: 1.5rem !important;
    }
}

.clear {
    clear: both;
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2C323A;
    --bs-tooltip-opacity: 1;
    --bs-tooltip-max-width: 340px;

    .tooltip-inner {
        text-align: left;
        font-weight: 500;
    }
}

.icw-tooltip {
    .tooltip-inner {
        font-size: 12px;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    word-break: break-word;
    text-underline-offset: 0.25rem;

    &:focus,
    &:hover {
        text-decoration: none;
    }

    &:focus-visible {
        outline: 3px solid var(--purple) !important;
        @include border-radius(0.25rem);
    }
}

p {
    margin-top: 0;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

img {
    max-width: 100%;
    height: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

// Container
.theme-container {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;

    &.theme-container-lg {
        max-width: 83.313rem;
    }

    &.theme-container-md {
        max-width: 65.75rem;
    }

    &.theme-container-sm {
        max-width: 58.75rem;
    }

    &.theme-container-fluid {
        max-width: 100%;
    }
}

// Text Alignment
.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

// Heading CSS
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    line-height: 1.1;
}

h1,
.h1 {
    font-size: clamp(2rem, 1.5vw, 4.5rem);
}

h2,
.h2 {
    font-size: clamp(1.75rem, 1.5vw, 3.438rem);
}

h3,
.h3 {
    font-size: clamp(1.5rem, 1.5vw, 2.625rem);
}

h4,
.h4 {
    font-size: clamp(1.375rem, 1.5vw, 2.25rem);
}

h5,
.h5 {
    font-size: clamp(1.25rem, 1.5vw, 1.75rem);
}

h6,
.h6 {
    font-size: clamp(1.125rem, 1.5vw, 1.375rem);
}

// Button CSS
.btn {
    position: relative;
    white-space: nowrap;
    @include inline-flex;
    @include align-items(center);
    @include justify-content(center);
    @include border-radius(6.25rem);
    @include transition(0.2s, ease-in-out);
    text-decoration: none;
    border: 0.1rem solid transparent;
    min-height: 3.375rem;
    min-width: 6.25rem;
    font-weight: 700;
    font-size: 1.125rem;
    padding: 1rem 1.938rem;
    line-height: 1;
    gap: 10px;
    text-transform: uppercase;

    &:hover,
    &:focus {
        &::before {
            transform: scale(1);
        }
    }


    &.btn-dark {
        background-color: var(--black);
        color: var(--text-white);
        border-color: var(--black);

        &:hover,
        &:focus {
            color: var(--text-black);
            background-color: var(--yellow);
            border-color: var(--yellow);
        }
    }

    &.btn-green {
        background-color: var(--black);
        color: var(--white);

        &:hover,
        &:focus {
            background-color: var(--dark-green);
            color: var(--white);
        }
    }

    &.is-hover {

        &:hover,
        &:focus {
            -webkit-box-shadow: 0 0.188rem 0 0 #000;
            box-shadow: 0 0.188rem 0 0 #000;
            -webkit-transform: translate3d(0, -0.25rem, 0);
            transform: translate3d(0, -0.25rem, 0);
        }
    }
}


// Text Color CSS
.text-white {
    color: var(--text-white) !important;
}

.text-black {
    color: var(--text-black) !important;
}

.text-pink {
    color: var(--dark-pink) !important;
}

.text-pink {
    color: var(--pink) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}


// Background Color CSS
.bg-white {
    background-color: var(--white) !important;
}

.bg-black {
    background-color: var(--black) !important;

    &>* {
        color: var(--text-white) !important;
    }
}

.bg-lightYellow {
    background-color: var(--light-yellow) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.bg-darkPink {
    background-color: var(--dark-pink) !important;
}

.bg-pink {
    background-color: var(--pink) !important;
}

.bg-transprent {
    background-color: transparent !important;
    background-image: none !important;
}

.bg-custom {
    background: var(--bg-image, none);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

// Slider Pagination
.splide__pagination {
    bottom: -1.5rem;

    li {
        .splide__pagination__page {
            width: 0.625rem;
            height: 0.625rem;
            @include transform (unset);
            opacity: 1;
            background: rgba(255, 255, 255, 0.4);
            border: 1px solid transparent;
            @include border-radius(0.5rem);
            margin: 0 0.15rem;
            @include transition(0.3s, ease-in-out);

            &.is-active {
                background: var(--white);
                border-color: var(--white);
                width: 1.25rem;
            }
        }
    }

    &.is-dark {
        li {
            .splide__pagination__page {
                background: rgba(0, 0, 0, 0.4);

                &.is-active {
                    background: var(--black);
                    border-color: var(--black);
                    width: 1.25rem;
                }
            }
        }
    }
}

// Slider Arrow
.splide__arrows {
    .splide__arrow {
        background: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.516 1.58984C6.49457 1.58984 1.59006 6.49436 1.59006 12.5157C1.59006 18.5371 6.49457 23.4416 12.516 23.4416C18.5373 23.4416 23.4419 18.5371 23.4419 12.5157C23.4419 6.49436 18.5373 1.58984 12.516 1.58984ZM11.1077 17.6631L9.55382 16.1092L13.1472 12.5157L9.55382 8.92234L11.1077 7.36843L16.255 12.5157L11.1077 17.6631Z" fill="black"></path></svg>') no-repeat center center;
        background-size: contain;
        bottom: -2.5rem;
        top: auto;
        left: calc(50% - 3rem);
        right: auto;
        width: 1.875rem;
        height: 1.875rem;
        opacity: 1;
        @include transform(unset);
        @include transition(0.3s, ease-in-out);

        &:hover,
        &:focus {
            opacity: 0.7;
        }

        &.splide__arrow--prev {
            transform: scaleX(-1);
        }

        &.splide__arrow--next {
            left: calc(50% + 1.25rem);
        }

        svg {
            display: none;
        }

        &:disabled {
            opacity: .3
        }
    }
}

// Breadcrumb
.breadcrumb-nav {
    margin-bottom: 1.875rem;
    opacity: 1;

    .breadcrumb {
        .breadcrumb-item {
            font-size: 0.75rem;
            font-weight: 500;
            color: var(--black);

            a {
                text-decoration: none;
                color: var(--dark-gray);
                @include transition(0.3s, ease-in-out);

                &:hover,
                &:focus {
                    color: var(--red);
                    text-decoration: underline;
                }
            }
        }

        .breadcrumb-item+.breadcrumb-item {
            &::before {
                content: url('data:image/svg+xml,<svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 7.5L4 4.5L1 1.5" stroke="rgb(101 101 101)" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/></svg>');
                background-size: contain;
                background-repeat: no-repeat;
                margin-top: 1px;
            }
        }
    }
}

// ICW Pagination
.icw-pagination {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    gap: 0.75rem;
    margin-top: 3rem;
    border-top: 1px solid #494848;
    padding-top: 2rem;

    .page-numbers {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        width: 2rem;
        height: 2rem;
        flex: none;
        text-decoration: none;
        border: 1px solid var(--black);
        line-height: 1;
        font-size: 0.875rem;
        @include border-radius(50%);
        background: var(--black);
        color: var(--white);
        @include transition(0.2s, ease-in-out);
        outline: none !important;

        &.next,
        &.prev {
            width: auto;
            padding: 0 0.75rem;
            @include border-radius(6.25rem);
        }

        &.current {
            color: var(--black);
            border-color: var(--yellow);
            background: var(--yellow);

            &:hover,
            &:focus {
                background: var(--yellow);
                color: var(--black);
                border-color: var(--yellow);
            }
        }

        &:hover,
        &:focus {
            background: var(--yellow);
            color: var(--black);
            border-color: var(--yellow);
        }
    }
}

// Load More Post
.icw-pager {
    text-align: center;
    padding-top: 4.5rem;

    .is-load-more {
        border: none;
        background: transparent;
        color: rgba(255, 255, 255, 0.75);
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include transition(0.2s, ease-in-out);
        text-decoration: none;
        text-underline-offset: 0.25rem;

        &:hover,
        &:focus {
            color: var(--white);
            text-decoration: underline;
        }
    }
}

@keyframes icw-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icw-ajax-loading {
    text-align: center;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    white-space: nowrap;

    &:after {
        content: '';
        display: block;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: transparent;
        border: 2px solid var(--dark-pink);
        border-color: var(--dark-pink) transparent var(--pink) transparent;
        animation: icw-dual-ring 1.2s linear infinite;
        -webkit-animation: icw-dual-ring 1.2s linear infinite;
    }
}