:root {
    --text-black: #111013;
    --text-white: #ffffff;

    --white: #ffffff;
    --black: #000000;
    --yellow: #ffff78;
    --dark-pink: #FFB89F;
    --light-yellow: #fdf2d4;

    --red: #fa673a;
    --pink: #ffcbcb;
    --dark-green: #39bf97;
    --light-green: #c1f174;
    --green: #9fe384;

    --dark-gray: rgba(0, 0, 0, 0.5);
    --gray: #dce6de;

    --success-green: #027a48;
    --error-red: #eb2010;
    --error-red-light: #ffe0dd;
    --success-green-light: #ecfdf3;

    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-unbounded: 'Unbounded', sans-serif;
}