.main-footer {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .footer-animation-block {
        margin: 0 -1px;
    }

    .theme-container {
        max-width: 83.75rem;

        @media (max-width: 83.5rem) {
            padding: 0 1rem;
        }
    }

    .main-footer-content {
        background: var(--yellow);
        padding: 3.75rem 0;
        margin-top: -10%;
        z-index: 1;
        position: relative;
        // border-top: 1px solid var(--black);

        @media (max-width: 992px) {
            padding: 2.75rem 0;
        }

        .footer-top-content {
            @include flexbox;
            @include justify-content(space-between);
            gap: 2rem;

            .footer-logo {
                img {
                    max-height: 3.5rem;
                }
            }

            .social-list-block {
                margin-top: 3.125rem;
            }

            .social-list {
                @include flexbox;
                @include align-items(center);
                gap: 1.25rem;

                li {
                    a {
                        filter: brightness(0);

                        @include transition(0.1s, ease-in-out);

                        &:hover,
                        &:focus {
                            filter: brightness(1);
                        }
                    }
                }
            }

            .footer-main-menu {
                .footer-menu-list {
                    @include flexbox;
                    @include align-items(center);
                    gap: 1.5rem;

                    li {
                        a:not(.btn) {
                            font-size: 1rem;
                            font-weight: 600;
                            color: var(--text-black);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }


}