.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    transition: background 0.5s ease-in-out;

    &.fixed-header {
        background: #171717;
        @include border-radius(0 0 2.813rem 2.813rem);

        .navbar {
            .mainMenu {
                li {
                    a {
                        color: var(--white);
                    }
                }
            }

            .nav-right {
                .btn {
                    background: var(--white);
                    border-color: var(--white);
                    color: var(--text-black);

                    &:hover,
                    &:focus {
                        background: var(--yellow);
                        border-color: var(--yellow);
                    }
                }
            }
        }
    }

    &.is-visible {
        .navbar {
            .navbar-collapse {
                height: calc(100vh - 5rem);

                @include transition(0.5s, ease-in-out);

                .mainMenu {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.3s;
                }

                .mobile-bottom-menu {
                    opacity: 1;
                    visibility: visible;
                    transition-delay: 0.3s;
                }
            }
        }
    }

    .theme-container {
        max-width: 82.75rem;
        @include flexbox;
        @include align-items(center);

        @media (max-width: 82.5rem) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .navbar {
        padding: 1.125rem 0;

        .navbar-brand {
            line-height: 0.5;

            img {
                max-height: 2.813rem;
            }
        }

        .navbar-collapse {
            margin-left: auto;

            @media (max-width: 992px) {
                // display: none;
                position: fixed;
                top: 5rem;
                left: 0;
                right: 0;
                z-index: 100;
                width: 100%;
                height: 0;
                padding-top: 0;
                background-color: var(--dark-pink);
                z-index: -1;
                @include transition(0.5s, ease-in-out);
            }

        }

        .mainMenu {
            @include flexbox;
            @include align-items(center);
            gap: 3rem;

            @media (max-width: 992px) {
                @include flex-direction(column);
                height: calc(100% - 5.5rem);
                overflow: hidden;
                overflow-y: auto;
                padding: 2rem 1rem;
                gap: 1.5rem;
                opacity: 0;
                visibility: hidden;
                @include transition(0.3s, ease-in-out);
            }

            @media (max-width: 767px) {}

            li {
                a {
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: var(--text-black);
                    text-decoration: none;
                    @include transition(0.3s, ease-in-out);

                    @media (max-width: 992px) {
                        font-size: 1.5rem;
                    }

                    &:hover,
                    &:focus {
                        color: var(--yellow);
                    }
                }
            }
        }

        .mobile-bottom-menu {
            @media (min-width: 992px) {
                display: none;
            }

            padding: 1rem;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            @include transition(0.3s, ease-in-out);
        }

        .nav-right {
            margin-left: 2.5rem;
            @include flexbox;
            @include align-items(center);
            gap: 2rem;

            @media (max-width: 992px) {
                margin-left: auto;

                .btn {
                    display: none;
                }
            }
        }

        .navbar-toggler {
            @media (min-width: 992px) {
                display: none;
            }

            display: inline-block;
            cursor: pointer;
            border: none;
            padding: 0;
            background-color: transparent;
            z-index: 10;

            &.is-visible {
                span:nth-child(1) {
                    @include transform(rotate(-45deg) translate(-0.313rem, 0.313rem));
                }

                span:nth-child(2) {
                    @include opacity(0);
                    visibility: hidden;
                }

                span:nth-child(3) {
                    @include transform(rotate(45deg) translate(-0.375rem, -0.406rem));
                }
            }

            span {
                width: 1.5rem;
                height: 0.125rem;
                margin: 0.375rem 0;
                background-color: var(--black);
                @include border-radius(0.25rem);
                display: block;
                @include transition(0.4s, ease-in-out);
            }
        }
    }
}