.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;



    &.scroll-up:not(.is-visible) {
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    &.scroll-down {
        transform: translateY(0);
        transition: transform 0.3s ease;
    }

    &.is-visible {
        .navbar {
            @include border-radius(0 !important);

            .navbar-collapse {
                height: calc(100vh - 5rem);
            }

            @media (max-width:992px) {
                background-color: var(--dark-pink) !important;
            }
        }
    }

    .theme-container {
        max-width: 82.75rem;
        @include flexbox;
        @include align-items(center);

        @media (max-width: 82.5rem) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .navbar {
        padding: 1.125rem 0;
        transition: background 0.5s ease-in-out, all 0.3s ease-in-out;

        &.navbar--dark {
            background: #171717;
            @include border-radius(0 0 2.813rem 2.813rem);

            .navbar-toggler {
                span {
                    background-color: var(--white);
                }
            }

            @media (min-width: 992px) {
                .mainMenu {
                    li {
                        a {
                            color: var(--white);
                        }
                    }
                }

                .nav-right {
                    .btn {
                        background: var(--white);
                        border-color: var(--white);
                        color: var(--text-black);

                        &:hover,
                        &:focus {
                            background: var(--yellow);
                            border-color: var(--yellow);
                            box-shadow: rgba(255, 255, 255, 0.5) 0px 4px 0px 0px;
                        }
                    }
                }
            }

        }

        .navbar-brand {
            line-height: 0.5;

            img {
                max-height: 2.813rem;
                @include transform(translateY(0));
                transition: transform 0.2s cubic-bezier(.5, 2.5, .7, .7);
            }

            &:hover,
            &:focus {
                img {
                    @include transform(translateY(-0.25rem));
                }
            }
        }

        .navbar-collapse {
            margin-left: auto;

            @media (max-width: 992px) {
                // display: none;
                position: absolute;
                top: 5rem;
                left: 0;
                right: 0;
                z-index: 100;
                width: 100%;
                height: 0;
                padding-top: 0;
                background-color: var(--dark-pink);
                z-index: -1;
                transition: height 0.5s ease-in-out;
                overflow: hidden;
                overflow-y: auto;
            }

        }

        .mainMenu {
            @include flexbox;
            @include align-items(center);
            gap: 3rem;

            @media (max-width: 992px) {
                @include flex-direction(column);
                height: auto;
                overflow: hidden;
                overflow-y: auto;
                padding: 2rem 1rem;
                gap: 1.5rem;
            }

            @media (max-width: 767px) {}

            li {
                a {
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: var(--text-black);
                    text-decoration: none;
                    @include transition(0.2s, ease-in-out);

                    @media (max-width: 992px) {
                        font-size: 1.5rem;
                    }

                    &:hover,
                    &:focus {
                        color: var(--yellow);
                    }
                }
            }
        }

        .mobile-bottom-menu {
            @media (min-width: 992px) {
                display: none;
            }

            text-align: center;
            overflow: hidden;

            lottie-player {
                margin-bottom: -10%;
            }
        }

        .nav-right {
            margin-left: 2.5rem;
            @include flexbox;
            @include align-items(center);
            gap: 2rem;

            @media (max-width: 992px) {
                margin-left: auto;

                .btn {
                    display: none;
                }
            }
        }

        .navbar-toggler {
            @media (min-width: 992px) {
                display: none;
            }

            display: inline-block;
            cursor: pointer;
            border: none;
            padding: 0;
            background-color: transparent;
            z-index: 10;

            &.is-visible {
                span:nth-child(1) {
                    @include transform(rotate(-45deg) translate(-0.25rem, 0.25rem));
                }

                span:nth-child(2) {
                    @include opacity(0);
                    visibility: hidden;
                }

                span:nth-child(3) {
                    width: 1.25rem;
                    @include transform(rotate(45deg) translate(-0.375rem, -0.375rem));
                }
            }

            span {
                width: 1.25rem;
                height: 0.125rem;
                margin-bottom: 0.313rem;
                background-color: #111013;
                @include border-radius(0.125rem);
                display: block;
                @include transition(0.2s, ease-in-out);

                &:nth-child(3) {
                    width: 0.625rem;
                    margin-left: auto;
                    margin-bottom: 0;
                }
            }
        }
    }
}