.main-content-wrapper {
    padding-top: 5.625rem;
    min-height: calc(100vh - 5.625rem);
    z-index: 1;

    @media (max-width: 992px) {
        padding-top: 4.5rem;
        min-height: calc(100vh - 4.5rem);
    }

    &>.theme-section:first-child {
        padding-top: calc(5rem + 5.625rem);
        margin-top: -5.625rem;

        @media (max-width: 992px) {
            padding-top: calc(3rem + 4.5rem);
            margin-top: -5rem;
        }
    }
}


.theme-section {
    position: relative;
    z-index: 1;
    padding-top: 5rem;
    padding-bottom: 5rem;

    &.bg-none:not(.bg-custom) {
        background-image: none !important;
    }

    &.is-light {
        color: var(--text-black);

        .section-title {
            color: var(--text-black);
        }
    }

    &.is-dark {
        color: var(--text-white);

        .section-title {
            color: var(--text-white);
        }
    }

    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
        }
    }

    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
        }
    }

    &.section-title-mw-900 {
        .section-title {
            max-width: 56.5rem;
        }
    }

    &.section-title-mw-55rem {
        .section-title {
            max-width: 55rem;
        }
    }
}

// Section Title CSS
.section-title {
    margin-bottom: 3rem;

    @media (max-width: 992px) {
        margin-bottom: 1.875rem;
    }

    &.text-center {
        margin: 0 auto 3rem;
        text-align: center;

        @media (max-width: 992px) {
            margin: 0 auto 1.875rem;
        }
    }

    &.sticky-title {
        position: sticky;
        top: 150px;
    }


    .tag-line {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 1rem;

        @media (max-width: 1200px) {
            br {
                display: none;
            }
        }
    }


    .sort-info {
        font-size: 1.2rem;

        h3 {
            font-weight: 400;
        }

        h4 {
            margin-bottom: 1rem;
        }

        img {
            margin-top: 1.875rem;
        }

        a {
            margin-bottom: 0.5rem;
            display: inline-block;
        }

        blockquote {
            font-size: 2rem;
            line-height: 1.2;
            letter-spacing: -0.02em;
            margin: 0 0 1rem;
            font-weight: 500;

            @media (max-width: 767px) {
                font-size: 1.5rem;
            }
        }
    }

    .categories-list {
        margin-top: 1.25rem;
    }

    .action {
        margin-top: 1.875rem;

        @media (max-width: 767px) {
            .btn {
                // width: 100%;
            }
        }
    }

    & *:last-child {
        margin-bottom: 0px !important;
    }
}

.page-header {
    .section-title {
        margin: 0 auto;

        .tag-line {
            margin-bottom: 2rem;
        }

        h1,
        h2 {
            margin-bottom: 2.75rem;
        }
    }

    &.ph-title-large {
        .section-title {
            h1 {
                font-size: clamp(2rem, 4.5vw, 6.5rem);
            }

            .sort-info {
                font-size: clamp(1.25rem, 4.5vw, 1.75rem);
                font-weight: 700;
                background: var(--white);
                border: 1px solid var(--black);
                box-shadow: 12px 12px 0px var(--black);
                border-radius: 16px;
                transform: rotate(-2deg);
                padding: 4.5rem 3.5rem;
                max-width: 51.75rem;
                margin: 0 auto;
                font-family: var(--font-family-heading);
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 1.063rem;
                    left: 0;
                    width: 100%;
                    height: 1.25rem;
                    background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
                    background-size: 1.25rem 1.25rem;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 1.063rem;
                    left: 0;
                    width: 100%;
                    height: 1.25rem;
                    background: url('data:image/svg+xml;utf8,<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9.79242" cy="10.8176" r="9.79242" fill="black"/><circle cx="11.0513" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M8.73047 1.30933L12.8936 19.6962" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) bottom, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.0898" cy="11.4948" r="9.79242" transform="rotate(91.7673 10.0898 11.4948)" fill="black"/><circle cx="11.1473" cy="10.4206" r="9.92044" transform="rotate(91.7673 11.1473 10.4206)" fill="rgb(220 230 222)" stroke="black"/><path d="M4.61606 3.31091L17.5292 17.0463" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) bottom;
                    background-size: 1.25rem 1.25rem;
                }
            }

            .action {
                @include flexbox;
                gap: 1rem;
            }
        }
    }
}