@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../parts/variables";
@import "../parts/mixin";

.section-404 {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    height: calc(100vh - 54px);

    @include media-breakpoint-up(lg) {
        height: calc(100vh + 6px);
    }

    h1 {
        text-align: center;
        margin: 0 0 24px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include media-breakpoint-up(lg) {
            flex-direction: row;
        }

        &-text {
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            flex-basis: 30%;

            p {
                text-align: center;
                margin: 0 0 6px;

                @include media-breakpoint-up(lg) {
                    text-align: left;
                }
            }
        }
    }

    &__monkey {
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: auto;
        }

        svg {
            width: 100%;
        }
    }

    &__btn {
        max-width: 238px;
        margin: 22px auto 0;

        @include media-breakpoint-up(lg) {
            margin: 46px auto 0;
        }
    }
}