.container {
    @media (min-width: 992px) {
        max-width: 100%;
    }
    @media (min-width: 1200px) {
        max-width: 1320px;
    }
    @media (min-width: 1441px) {
        max-width: 1600px;
    }
}
.main-header {
    position: fixed;
}
.g-0 {
    margin-left: 0;
    margin-right: 0;
    & > * {
        padding-left: 0;
        padding-right: 0;
    }
}
.with-bg-line {
    background-image: url('../images/img-tab-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding: 50px 0;
    @media (max-width: 992px) {
        padding: 30px 0;
    }
}
.with-title-square-bg {
    .main-title {        
        background-image: url('../images/img-bg-square.png');
        background-repeat: repeat;
        background-position: top left;
        background-size: contain;
        background-attachment: fixed;
        margin-bottom: 0;
        padding: 65px 55px;
        @media (max-width: 992px) {
            padding: 30px 20px;
        }
    }
}
.main-title {
    .h3 {
        font-size: 40px;
        font-weight: 500;
        @media (max-width: 992px) {
            font-size: 32px;
        }
    }
    .sort-info, .sort-info > * {
        font-size: 20px;
        @media (max-width: 992px) {
            font-size: 18px;
        }
    }
}