.theme-container {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    @media (min-width: 992px) {
        max-width: 100%;
    }
    @media (min-width: 1200px) {
        max-width: 1400px;
    }
    @media (min-width: 1441px) {
        max-width: 1630px;
    }
}
.main-header {
    position: fixed;
}
.g-0 {
    margin-left: 0;
    margin-right: 0;
    & > * {
        padding-left: 0;
        padding-right: 0;
    }
}
.with-bg-line {
    background-image: url('../images/img-bg-line.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
    padding: 80px 0 100px;
    @media (max-width: 992px) {
        padding: 30px 0;
    }
}
.main-title {
    .h3 {
        font-size: 40px;
        font-weight: 500;
        @media (max-width: 992px) {
            font-size: 32px;
        }
    }
    .sort-info, .sort-info > * {
        font-size: 20px;
        font-weight: 400;
        @media (max-width: 992px) {
            font-size: 18px;
        }
    }
}