.container {
    @media (min-width: 1441px) {
        max-width: 1600px;
    }
}
.with-bg-line {
    background-image: url('../images/img-tab-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto;
    padding: 48px 0;
}
.main-title {
    .h3 {
        font-size: 40px;
        font-weight: 500;
    }
}