@import '../../assets/css/scss/mixins';
.home-icw-sections {
    .acf-innerblocks-container {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}
.hero-20-section {    
    background-color: #F7F4EA;
    padding-bottom: 6rem;
    .hero-title {
        margin: 0 auto;
        .title {
            font-family: $font-libre;
            font-size: 60px;
            margin-bottom: 40px;
            font-weight: 700;
            color: #000000;
            line-height: 1.3;
            @media (max-width: 767px) {
                font-size: 30px;
            }
            i {
                font-weight: 400;
            }
        }
        .sort-info {
            font-weight: 500;
            font-size: 18px;
            color: #000000;
            max-width: 870px;
            margin: 0 auto;
            line-height: 1.4;
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }
        .action {
            margin-top: 40px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(center);
            @include flex-wrap(wrap);
            gap: 10px;
        }
    }
}
.hero-thumb-slider-20-block {
    z-index: 2;
    position: relative;
    .hero-slider-block {
        display: grid;
        grid-template-columns: 264px auto;
        gap: 20px;
        background-image: url('../../assets/images/img-bg-slider.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        padding: 30px;
        border-radius: 10px;
        @media (max-width: 992px) {
            grid-template-columns: 100%;
            padding: 20px;
        }
    }
    .hero-info-slider-block {
        background: #242426;
        border: 1px solid #3F3F3F;
        border-radius: 10px;
        overflow: hidden;
        .slide-thumb-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 30px;
            gap: 10px;
            border-bottom: 1px solid #3F3F3F;
            min-height: 200px;
            overflow: hidden;
            @media (max-width: 992px) {
                padding: 20px;
                border-bottom: 0;
                border-right: 1px solid #3F3F3F;
                min-height: 135px;
                max-height: 135px;
            }
            .number {
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
                margin-bottom: 10px;
            }
            .title {
                font-weight: 700;
                font-size: 16px;
                color: #FFFFFF;
                @include transition(0.3s, ease-in-out);
            }
            .sort-info {
                margin-top: 5px;
                font-weight: 500;
                font-size: 14px;
                color: #949494;
                @include transition(0.3s, ease-in-out);
            }
        }
        @media (max-width: 992px) {
            .splide {
                height: 100%;
                .splide__track {
                    height: 100%;
                }
                .splide__list { 
                    display: flex;
                    align-items: stretch;
                }
            }
        }
        .splide__slide {
            border: none !important;
            @media (max-width: 992px) {  
                flex: 0 0 auto;
                transition: flex-basis 0.45s cubic-bezier(0.4, 0, 0.2, 1); 
                .title, .sort-info {
                    display: none;
                }
            }
            &.is-active {
                @media (max-width: 992px) {
                    .title, .sort-info {
                        display: block;
                    }
                }
                .slide-thumb-info {
                    background: #16161A;
                }
            }
            &:first-child {
                .slide-thumb-info {
                    @media (min-width: 991px) {
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                    }
                    @media (max-width: 992px) {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                }
            }
            &:last-child {
                .slide-thumb-info {
                    border-bottom: none;
                    border-right: none;
                    @media (min-width: 991px) {
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                    @media (max-width: 992px) {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
    .hero-img-slider-block {
        padding: 10px;
        background: #101012;
        border: 1px solid #3F3F3F;
        border-radius: 10px;
        .media-block {
            border: 1px solid #3F3F3F;
            filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.15));
            border-radius: 10px;
            height: 100%;
            img, video {
                object-position: top left;
            }
        }
        .splide {
            height: 100%;
            .splide__track {
                height: 100%;
            }
        }
    }
}