@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.history-section {
    .history-slider {  
        max-width: 75rem;   
        margin: 0 auto;   
        &::before {
            content: '';
            background: #FFDCFF;
            width: 100%;
            height: 1px;
            display: block;
            position: absolute;
            top: 48px;
            @media (max-width: 767px) {                
                top: 0;
                left: 3.875rem;
                width: 1px;
                height: 100%;
            }
        }
        .splide__arrows {
            .splide__arrow {
                filter: invert(1);
                bottom: auto;
                top: 60%;
                &--prev {
                    left: -2rem;
                    right: auto;
                }
                &--next {
                    left: auto;
                    right: -2rem;
                }
            }
        }
        @media (max-width: 767px) {              
            max-width: 260px;
            margin: 0 auto;
            .splide__slide:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
}
.history-card {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
    @media (max-width: 767px) {  
        @include flex-direction(row);   
    }
    .history-year {
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        padding-bottom: 3.75rem;
        @media (max-width: 767px) {               
            padding-bottom: 0;
            padding-right: 4.188rem;
            @include inline-flex;
            @include align-items(center);
        }
    }
    .history-info {
        background-color: #1D1D1F;
        background-image: linear-gradient(rgba(29, 29, 11, 1), rgba(29, 29, 11, 1)), linear-gradient(140deg, var(--white) 0%, #F9BAF9 36%, #9470FD 100%);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        border: 1.2px solid transparent;
        @include box-shadow (inset 0px 0px 35.7157px 5.95262px rgba(0, 0, 0, 0.5));
        @include border-radius(0.75rem);
        padding: 2rem 1rem;
        @include flexbox;
        @include flex-direction(column);
        gap: 1rem;
        height: 100%;
        text-align: center;
        min-height: 10.625rem;
        @media (max-width: 767px) {  
            max-width: 154px;
            width: 100%;
        }
        &::before {
            content: '';
            width: 14px;
            height: 14px;
            background: var(--black);
            border: 2px solid #FFDCFF;
            @include border-radius(50%);
            position: absolute;
            top: 41px;
            left: calc(50% - 7px);
            @media (max-width: 767px) {                
                top: calc(50% - 9px);
                left: 3.5rem;
            }
        }
        .logo-img {
            img {
                max-height: 2.813rem;
            }
        }
        .info {
            font-size: 0.75rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;
        }
    }
    &.is-current {
        .history-info {            
            background-image: linear-gradient(85.55deg, #E0BFF2 6.46%, #F8E1E9 95.32%), linear-gradient(140deg, var(--white) 0%, #F9BAF9 36%, #9470FD 100%);
            @include box-shadow (none);
            color: var(--text-black);
            &::before {
                background: #FFDCFF;
            }
        }
    }
}