@import '../../assets/css/scss/mixins';

.info-card-section {
    .section-title {
        @media (max-width: 992px) {
            text-align: center;
        }
        .title {
            font-family: $font-libre;
            font-weight: 700;
            font-size: 3.75rem;
            color: #0000FF;
            line-height: 1.3;
            @media (max-width: 992px) {
                font-size: 3rem;
            }
            @media (max-width: 767px) {
                font-size: 1.75rem;
                span {
                    display: block;
                }
            }
            span {
                // text-decoration: line-through;
            }
        }
    }
    .card-content-block {
        .card-info-content {
            color: #000000;
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1.25rem;
            @media (max-width: 992px) {
                text-align: center;
            }
            @media (max-width: 767px) {
                // font-size: 0.875rem;
            }
            strong {
                font-weight: 700;
            }
            small {
                font-size: 0.875rem;
                font-weight: 500;
            }
        }
    }
    .info-card {
        @include flexbox;
        @include align-items(flex-start);
        @include flex-direction(column);
        padding: 1.25rem;
        gap: 1.25rem;
        background: #FFFFFF;
        border: 0.063rem solid #0000FF;
        border-radius: 0.625rem;
        height: 100%;
        @media (max-width: 767px) {
            @include flex-direction(row);
            gap: 1.75rem;
        }
        .card-img {
            width: auto;
            min-width: 2rem;
            img {
                width: 2rem;
                height: 2rem;
                flex: none;
            }
        }
        .card-body {
            padding: 0;
            color: #0000FF;
            .card-info {
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.4;
                @media (max-width: 992px) {
                    font-size: 0.875rem;
                }
            }
        }
        &.with-bg {
            padding: 1.875rem;
            background: #0000FF;
            @media (max-width: 992px) and (min-width: 767px) {
                padding: 1.25rem;
            }
            @media (max-width: 767px) {
                @include flex-direction(column);
                gap: 1.25rem;
            }
            .card-img {
                min-width: 2.5rem;
                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    flex: none;
                }
            }
            .card-body {
                color: #FFFFFF;
                .tag-line {
                    font-weight: 400;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    margin-bottom: 0.625rem;
                }
                .card-info {
                    font-size: 1.375rem;
                    @media (max-width: 992px) {
                        font-size: 1.125rem;
                    }
                    p {
                        padding-right: 1.25rem;
                    }
                }
            }
        }
    }
}