@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.custom-masonry-grid {
    @media (max-width: 767px) {
        display: none;
    }
    img { 
        width: 100%; 
        height: 100%; 
        object-fit: cover; 
        object-position: center;
    }
    .grid-row {
        display: flex;
        gap: 15px;
        @media (max-width: 1200px) {
            gap: 8px
        }
        @media (max-width: 992px) {
            gap: 5px
        }
        & > div {
            min-width: fit-content;
            cursor: pointer;
        }
        &.first-row {
            align-items: flex-end;
            margin-bottom: 15px;
            @media (max-width: 1200px) {
                margin-bottom: 8px
            }
            @media (max-width: 992px) {
                margin-bottom: 5px
            }
            div {
                &:first-child {
                    img {
                        width: 250px; height: 200px;
                        @media (max-width: 1200px) {
                            width: 130px; height: 100px;
                        }
                        @media (max-width: 992px) {
                            width: 90px; height: 70px;
                        }
                    }
                }
                &:nth-child(2) {
                    img {
                        width: 278px; height: 278px;
                        @media (max-width: 1200px) {
                            width: 145px; height: 145px;
                        }
                        @media (max-width: 992px) {
                            width: 100px; height: 100px;
                        }
                    }
                }
                &:last-child {
                    img {
                        width: 240px; height: 235px;
                        @media (max-width: 1200px) {
                            width: 125px; height: 120px;
                        }
                        @media (max-width: 992px) {
                            width: 90px; height: 85px;
                        }
                    }
                }
            }
        }
        &.second-row {
            margin-left: 40px;
            margin-bottom: 15px;
            @media (max-width: 1200px) {
                margin-left: 20px;
                margin-bottom: 8px
            }
            @media (max-width: 992px) {
                margin-left: 15px;
                margin-bottom: 5px
            }
            div {
                &:first-child {
                    img {
                        width: 330px; height: 285px;
                        @media (max-width: 1200px) {
                            width: 170px; height: 145px;
                        }
                        @media (max-width: 992px) {
                            width: 120px; height: 100px;
                        }
                    }
                }
                &:nth-child(2) {
                    img {
                        width: 315px; height: 240px;
                        @media (max-width: 1200px) {
                            width: 160px; height: 125px;
                        }
                        @media (max-width: 992px) {
                            width: 115px; height: 85px;
                        }
                    }
                }
                &:last-child {
                    img {
                        width: 350px; height: 240px;
                        @media (max-width: 1200px) {
                            width: 190px; height: 125px;
                        }
                        @media (max-width: 992px) {
                            width: 130px; height: 85px;
                        }
                    }
                }
            }
        }
        &.third-row {
            margin-left: 385px;
            margin-top: -45px;
            @media (max-width: 1200px) {
                margin-left: 198px;
                margin-top: -20px;
            }
            @media (max-width: 992px) {
                margin-left: 140px;
                margin-top: -15px;
            }
            div {
                &:first-child {
                    img {
                        width: 250px; height: 140px;
                        @media (max-width: 1200px) {
                            width: 130px; height: 75px;
                        }
                        @media (max-width: 992px) {
                            width: 95px; height: 50px;
                        }
                    }
                }
                &:last-child {
                    img {
                        width: 140px; height: 110px;
                        @media (max-width: 1200px) {
                            width: 75px; height: 60px;
                        }
                        @media (max-width: 992px) {
                            width: 55px; height: 35px;
                        }
                    }
                }
            }
        }
    }
}
                        