@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.custom-masonry-grid {
    @media (max-width: 767px) {
        display: none;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .grid-row {
        display: flex;
        gap: 1rem;

        @media (max-width: 1200px) {
            gap: 0.5rem;
        }

        @media (max-width: 992px) {
            gap: 0.25rem;
        }

        &>div {
            min-width: fit-content;
            cursor: pointer;
        }

        &.first-row {
            align-items: flex-end;
            margin-bottom: 1rem;

            @media (max-width: 1200px) {
                margin-bottom: 0.5rem;
            }

            @media (max-width: 992px) {
                margin-bottom: 0.25rem
            }

            div {
                &:first-child {
                    img {
                        width: 15.625rem;
                        height: 12.5rem;

                        @media (max-width: 1200px) {
                            width: 8.125rem;
                            height: 6.25rem;
                        }

                        @media (max-width: 992px) {
                            width: 6rem;
                            height: 4.375rem;
                        }
                    }
                }

                &:nth-child(2) {
                    img {
                        width: 17.3125rem;
                        height: 17.3125rem;

                        @media (max-width: 1200px) {
                            width: 8.125rem;
                            height: 8.125rem;
                        }

                        @media (max-width: 992px) {
                            width: 6rem;
                            height: 6rem;
                        }
                    }
                }

                &:last-child {
                    img {
                        width: 15rem;
                        height: 14.688rem;

                        @media (max-width: 1200px) {
                            width: 7.813rem;
                            height: 7.5rem;
                        }

                        @media (max-width: 992px) {
                            width: 5.625rem;
                            height: 5.313rem;
                        }
                    }
                }
            }
        }

        &.second-row {
            margin-left: 2.5rem;
            margin-bottom: 1rem;

            @media (max-width: 1200px) {
                margin-left: 1.5rem;
                margin-bottom: 0.5rem;
            }

            @media (max-width: 992px) {
                margin-left: 1rem;
                margin-bottom: 0.25rem;
            }

            div {
                &:first-child {
                    img {
                        width: 20.625rem;
                        height: 17.813rem;

                        @media (max-width: 1200px) {
                            width: 10.625rem;
                            height: 9.063rem;
                        }

                        @media (max-width: 992px) {
                            width: 7.5rem;
                            height: 6.25rem;
                        }
                    }
                }

                &:nth-child(2) {
                    img {
                        width: 19.688rem;
                        height: 15rem;

                        @media (max-width: 1200px) {
                            width: 10rem;
                            height: 7.813rem;
                        }

                        @media (max-width: 992px) {
                            width: 7.188rem;
                            height: 5.313rem;
                        }
                    }
                }

                &:last-child {
                    img {
                        width: 21.875rem;
                        height: 15rem;

                        @media (max-width: 1200px) {
                            width: 11.875rem;
                            height: 7.813rem;
                        }

                        @media (max-width: 992px) {
                            width: 8.125rem;
                            height: 5.313rem;
                        }
                    }
                }
            }
        }

        &.third-row {
            margin-left: 24.063rem;
            margin-top: -2.813rem;

            @media (max-width: 1200px) {
                margin-left: 12.375rem;
                margin-top: -1.5rem;
            }

            @media (max-width: 992px) {
                margin-left: 8.75rem;
                margin-top: -1rem;
            }

            div {
                &:first-child {
                    img {
                        width: 15.625rem;
                        height: 8.75rem;

                        @media (max-width: 1200px) {
                            width: 8.125rem;
                            height: 4.688rem;
                        }

                        @media (max-width: 992px) {
                            width: 5.938rem;
                            height: 3.125rem;
                        }
                    }
                }

                &:last-child {
                    img {
                        width: 8.75rem;
                        height: 6.875rem;

                        @media (max-width: 1200px) {
                            width: 4.688rem;
                            height: 3.75rem;
                        }

                        @media (max-width: 992px) {
                            width: 3.438rem;
                            height: 2.188rem;
                        }
                    }
                }
            }
        }
    }
}