.main-header {
    position: fixed;
    width: 100%;
    z-index: 999;
    &.fixed-header {
        .navbar {
            transition: background-color 0.2s, ease-in-out;
            background-color: rgba(0, 0, 0, 0.60) !important;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
        }
    }
    .navbar {
        width: 92%;
        margin: 8px auto;
        padding: 15px 16px;
        @include border-radius(12px);
        background-color: transparent;
        @media (max-width: 992px) {
            padding: 15px 0;
        }
        .navbar-brand {
            padding: 0;
            img {
                width: 100%;
                max-height: 26px;
            }
        }
        .menu-sidebar {
            @media (min-width: 992px) {
                display: none;
            }
            display: inline-block;
            cursor: pointer;
            border: none;
            padding: 0;
            background-color: transparent;
            z-index: 10;
            &.is-visible {
                span:nth-child(1) {
                    @include transform(rotate(-45deg) translate(-5px, 5px));
                }
                span:nth-child(2) {
                    @include opacity(0);
                    visibility: hidden;
                }
                span:nth-child(3) {
                    @include transform(rotate(45deg) translate(-6px, -6.5px));
                }
            }
            span {
                width: 24px;
                height: 2px;
                margin: 6px 0;
                background-color: #f1f1f1;
                @include border-radius(4px);
                display: block;
                @include transition(0.4s, ease-in-out);
            }
        }
        .navbar-collapse {
            .main-menu {
                width: 100%;
                @include justify-content(center);
                li {
                    padding: 0 16px;
                    a {
                        color: #cecece;
                        text-decoration: none;
                        font-size: 16px;
	                    @include transition(0.2s, ease-in-out);
                        &:hover, &:focus {
                            color: $white;
                        }
                    }
                    &.current-menu-item {
                        a {
                            color: $white;
                        }
                    }
                }
            }
            .right-menu {
                margin-left: auto;
                @include flexbox;
                white-space: nowrap;
            }
        }
    }
}