@import '../../assets/css/scss/mixins';

.about-hero-section {
    background-image: url('../images/img-home-bg-full.svg'), linear-gradient(0deg, rgba(255, 255, 120, 1) 20%, rgba(255, 184, 159, 1) 20%);
    background-size: cover;
    background-position: center calc(100% + 2.8rem), center bottom;
    background-repeat: no-repeat;
    will-change: background-position;
    transition: background-position 0.5s ease;
    padding-bottom: 3.5rem;


    @media (max-width: 767px) {
        background-image: url('../images/img-home-bg-m-full.svg'), linear-gradient(0deg, rgba(255, 255, 120, 1) 20%, rgba(255, 184, 159, 1) 20%);
        background-position: center bottom;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    @media (max-width: 575px) {
        background-position: center calc(100% + 9.8rem);
    }

    @media (max-width: 420px) {
        background-position: center calc(100% + 4.8rem);
    }

    .section-title {
        .tag-line {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 2rem;

            @media (max-width: 1200px) {
                margin-bottom: 1.5rem;
            }
        }

        h1 {
            font-size: clamp(2rem, 7.5vw, 6rem);
            max-width: 51.75rem;
            margin: 0 auto;
            margin-bottom: 2.5rem;

            @media (max-width: 1200px) {
                max-width: 38rem;
                margin-bottom: 1.75rem;

            }

            @media (max-width: 575px) {
                max-width: 21rem;
                margin-bottom: 3.5rem;
            }
        }

        .sort-info {
            font-size: clamp(1.25rem, 4.5vw, 1.75rem);
            font-weight: 700;
            background: var(--white);
            border: 1px solid var(--black);
            box-shadow: 12px 12px 0px var(--black);
            border-radius: 16px;
            transform: rotate(-2deg);
            padding: 4.5rem 3.5rem;
            max-width: 51.75rem;
            margin: 0 auto;
            font-family: var(--font-family-heading);
            position: relative;
            z-index: 2;

            @media (max-width: 992px) {
                max-width: 40rem;
                padding: 3.8rem 2.5rem;

            }

            @media (max-width: 767px) {
                transform: rotate(0);
                padding: 3.5rem 2.25rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 1.063rem;
                left: 0;
                width: 100%;
                height: 1.25rem;
                background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
                background-size: 1.25rem 1.25rem;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 1.063rem;
                left: 0;
                width: 100%;
                height: 1.25rem;
                background: url('data:image/svg+xml;utf8,<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9.79242" cy="10.8176" r="9.79242" fill="black"/><circle cx="11.0513" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M8.73047 1.30933L12.8936 19.6962" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) bottom, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.0898" cy="11.4948" r="9.79242" transform="rotate(91.7673 10.0898 11.4948)" fill="black"/><circle cx="11.1473" cy="10.4206" r="9.92044" transform="rotate(91.7673 11.1473 10.4206)" fill="rgb(220 230 222)" stroke="black"/><path d="M4.61606 3.31091L17.5292 17.0463" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) bottom;
                background-size: 1.25rem 1.25rem;
            }
        }

        .action {
            @include flexbox;
            gap: 1rem;
        }
    }

    .circle-lg-vector {
        position: absolute;
        top: 39%;
        left: 12%;
        width: 6.875rem;
        height: 6.875rem;
        z-index: 1;
        background-image: url('../images/img-lg-ball-vector.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: vector_floating_r 6s linear .3s infinite;

        @media (max-width: 1400px) {
            top: 37%;
            left: 5%;
        }

        @media (max-width: 992px) {
            top: 30%;
            left: 5%;
            width: 5rem;
            height: 5rem;
        }

        @media (max-width: 767px) {
            top: 28%;
            left: 5%;
            width: 3.125rem;
            height: 3.125rem;
        }

    }

    .circle-sm-vector {
        position: absolute;
        top: 10%;
        right: 12%;
        width: 5.625rem;
        height: 5.625rem;
        z-index: 1;
        background-image: url('../images/img-sm-ball-vector.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: vector_floating_r 6s linear .3s infinite;

        @media (max-width: 1200px) {
            top: 7%;
            right: 5%;
        }

        @media (max-width: 992px) {
            top: 5%;
            right: 3%;
            width: 4rem;
            height: 4rem;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.counter-section {
    position: relative;
    margin-top: -1px;
    padding: 9rem 0 15rem;

    &::before {
        content: '';
        background-color: var(--yellow);
        background-image: url('../images/img-wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    &::after {
        content: '';
        background-color: var(--light-yellow);
        background-image: url('../images/img-wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        transform: rotate(180deg);
    }

    .section-title {
        h2 {
            font-size: clamp(1.75rem, 4.5vw, 3.438rem);
        }

        .sort-info {
            font-size: clamp(1rem, 4.5vw, 1.5rem);
        }
    }
}

.counter-card {
    background: var(--bg-card-color) url('data:image/svg+xml;utf8,<svg width="331" height="27" viewBox="0 0 331 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M330.131 0.5H316.754C310.195 0.5 303.879 2.97894 299.07 7.43995L286.22 19.362C281.412 23.823 275.096 26.302 268.537 26.302H165.066H61.5946C55.0357 26.302 48.7191 23.823 43.9109 19.362L31.0609 7.43995C26.2527 2.97893 19.9361 0.5 13.3772 0.5H0" stroke="black"/></svg>') no-repeat center -1px;
    border: 1px solid #000000;
    box-shadow: 12px 12px 0px #000000;
    border-radius: 20px;
    padding: 50px 40px 30px;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 1.063rem;
        left: 0;
        width: 100%;
        height: 1.25rem;
        background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
        background-size: 1.25rem 1.25rem;
    }

    .card-content {
        .counter {
            font-size: clamp(2rem, 4.5vw, 4.5rem);
            margin-bottom: 1rem;
        }

        .card-info {
            font-size: clamp(1rem, 4.5vw, 1.5rem);
        }
    }

    &.is-left-rotated {
        transform: rotate(7deg);
    }

    &.is-right-rotated {
        transform: rotate(-9deg);
    }

}

.our-story-section {
    background-image: url('../images/img-bg-plus-dark-vector.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .section-title {
        max-width: 900px;
        margin: 0 auto 4.5rem;

        h2 {
            font-size: clamp(1.75rem, 4.5vw, 3.438rem);
        }

        .sort-info {
            font-size: clamp(1rem, 4.5vw, 1.5rem);
            @include flexbox;
            gap: 3.5rem;
            font-weight: 300;
        }
    }
}

.info-card-section {
    .card-block {
        max-width: 940px;
        margin: 0 auto;
    }
}

.info-card {
    background: var(--bg-card-color) url('data:image/svg+xml;utf8,<svg width="331" height="27" viewBox="0 0 331 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M330.131 0.5H316.754C310.195 0.5 303.879 2.97894 299.07 7.43995L286.22 19.362C281.412 23.823 275.096 26.302 268.537 26.302H165.066H61.5946C55.0357 26.302 48.7191 23.823 43.9109 19.362L31.0609 7.43995C26.2527 2.97893 19.9361 0.5 13.3772 0.5H0" stroke="black"/></svg>') no-repeat center -1px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 3.125rem 2.5rem 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;

    &::before {
        content: '';
        position: absolute;
        top: 1.063rem;
        left: 0;
        width: 100%;
        height: 1.25rem;
        background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
        background-size: 1.25rem 1.25rem;
    }

    .card-content {
        max-width: 250px;
        margin: 0 auto;

        .card-title {
            font-size: clamp(1.25rem, 4.5vw, 1.75rem);
            margin-bottom: 1rem;
        }

        .card-info {
            font-size: clamp(1rem, 4.5vw, 1.5rem);
            font-weight: 300;
        }
    }
}