@import '../../assets/css/scss/mixins';







.info-card-section {
    .card-block {
        max-width: 940px;
        margin: 0 auto;
    }
}

.info-card {
    background: var(--bg-card-color) url('data:image/svg+xml;utf8,<svg width="331" height="27" viewBox="0 0 331 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M330.131 0.5H316.754C310.195 0.5 303.879 2.97894 299.07 7.43995L286.22 19.362C281.412 23.823 275.096 26.302 268.537 26.302H165.066H61.5946C55.0357 26.302 48.7191 23.823 43.9109 19.362L31.0609 7.43995C26.2527 2.97893 19.9361 0.5 13.3772 0.5H0" stroke="black"/></svg>') no-repeat center -1px;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 3.125rem 2.5rem 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 1.5rem;

    &::before {
        content: '';
        position: absolute;
        top: 1.063rem;
        left: 0;
        width: 100%;
        height: 1.25rem;
        background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
        background-size: 1.25rem 1.25rem;
    }

    .card-content {
        max-width: 250px;
        margin: 0 auto;

        .card-title {
            font-size: clamp(1.25rem, 4.5vw, 1.75rem);
            margin-bottom: 1rem;
        }

        .card-info {
            font-size: clamp(1rem, 4.5vw, 1.5rem);
            font-weight: 300;
        }
    }
}