// ============================================================================
// Helpers and mixins
// ============================================================================

// Responsive-media
.responsive-media {
    display: inline-block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
