// Font-family
$font-primary: "Poppins", sans-serif;
$font-title: "Unbounded", sans-serif;

// Colors
$color-dark: #000000;
$color-light-dark: #171717;
$color-light-gray: #DCE6DE;
$color-white: #FFFFFF;

$color-green: #39BF97;
$color-light-green: #2EAD87;
$color-yellow: #FFFF78;
$color-red: #FFB89F;
$color-pink: #FFCBCB;
$color-orange: #f35f31;
$color-orange-light: #fa673a;

$color-form-error: #C91414;

$fluid_max_width: 1440px;

/* Icons */
$chevron-right: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='10' viewBox='0 0 7 10' fill='none'%3E%3Cpath d='M0.707031 0.707031L4.62664 4.62664L0.707031 8.54625' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
