*,
::after,
::before {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: $bodyfont;
    color: $bodyfontcolor;
    font-size: $bodyfontsize;
    background-color: $bodybg;
    position: relative;
    min-height: 100vh;
    line-height: 1.5;
    @include flexbox();
    @include flex-direction(column);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @media (max-width: 992px) {
        font-size: 16px;
    } 
}

body ::selection {
    color: #fff;
    background: $black;
}

:focus {
    box-shadow: none !important;
}

// Padding-Margin CSS
.pt-0 {padding-top: 0px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-40 {padding-top: 40px !important;}
.pt-50 {padding-top: 50px !important;}
.pt-80 {padding-top: 80px !important;}
.pt-100 {padding-top: 100px !important;}
.pt-120 {padding-top: 120px !important;}
.pt-150 {padding-top: 150px !important;}

.pb-0 {padding-bottom: 0px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-40 {padding-bottom: 40px !important;}
.pb-50 {padding-bottom: 50px !important;}
.pb-80 {padding-bottom: 80px !important;}
.pb-100 {padding-bottom: 100px !important;}
.pb-120 {padding-bottom: 120px !important;}
.pb-150 {padding-bottom: 150px !important;}

.mt-0 {margin-top: 0px !important;}
.mt-50 {margin-top: 50px !important;}
.mt-100 {margin-top: 100px !important;}

.mb-0 {margin-bottom: 0px !important;}
.mb-50 {margin-bottom: 50px !important;}
.mb-100 {margin-bottom: 100px !important;}

@media (max-width: 767px) {
	.m-pt-0 {padding-top: 0px !important;}
	.m-pt-25 {padding-top: 25px !important;}
	.m-pt-40 {padding-top: 40px !important;}
	.m-pt-50 {padding-top: 50px !important;}
	.m-pt-80 {padding-top: 80px !important;}
	.m-pt-100 {padding-top: 100px !important;}

	.m-pb-0 {padding-bottom: 0px !important;}
	.m-pb-25 {padding-bottom: 25px !important;}
	.m-pb-40 {padding-bottom: 40px !important;}
	.m-pb-50 {padding-bottom: 50px !important;}
	.m-pb-80 {padding-bottom: 80px !important;}
	.m-pb-100 {padding-bottom: 100px !important;}

    .m-mt-0 {margin-top: 0px !important;}
    .m-mt-50 {margin-top: 50px !important;}
    .m-mt-100 {margin-top: 100px !important;}

    .m-mb-0 {margin-bottom: 0px !important;}
    .m-mb-50 {margin-bottom: 50px !important;}
    .m-mb-100 {margin-bottom: 100px !important;}
}

.clear {clear: both;}

.container, .container-fluid {
	padding-left: 15px;
	padding-right: 15px;
    &.container-big {
        margin: 0 auto;
    }  
    @media (max-width: 992px) {
        max-width: 100% !important;
    }  
}

.tooltip {
    pointer-events: none !important;
    --bs-tooltip-bg: #2C323A;
    --bs-tooltip-opacity: 1;
}
.icw-tooltip {
    .tooltip-inner {
        font-size: 12px;
    }
}

.pointer-events-none {
    pointer-events: none !important;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    color: $white;
    text-decoration: none;
    word-break: break-word;
    text-underline-offset: 4px;
    @include transition(0.3s, ease-in-out);
    &:focus,
    &:hover {
        color: $bodyfontcolor;
        text-decoration: underline;
    }
    &:focus-visible {
        outline: 3px solid $bodyfontcolor !important;
        @include border-radius(6px);
    }
}

p {
    margin-top: 0;
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 0;
    }
}

img {
    max-width:100%;
    height: auto;
    image-rendering:-moz-crisp-edges;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    image-rendering:crisp-edges;
    -ms-interpolation-mode:nearest-neighbor;
    &.aligncenter {
        margin: 0 auto;
        display: table;
    }
}

// Button
.btn {
	height: 46px;
	padding: 5px 25px;
	font-weight: 500;
	font-size: 16px;
    line-height: 1;
	@include transition(0.2s, ease-in-out);
	@include inline-flex;
	@include align-items(center);
	@include justify-content(center);	
	@include border-radius(8px);
    text-decoration: none !important;
    gap: 10px;
	@media (max-width:767px) {
		font-size: 14px;
		padding: 5px 15px;
		min-height: 40px;
	}
    &.btn-sm {
	    height: 36px;
		padding: 5px 18px;
    }
    &.btn-primary {
        background: $primary;
        border-color: $primary;
        color: $white;
        &:hover, &:focus, &:active {
            background: #1d2428;
            border-color: #1d2428;
        }
    }
    &.btn-white {
        background: $white;
        border-color: $white;
        color: $primary;
        &:hover, &:focus, &:active {
            background: $gray;
            border-color: $gray;
        }
    }
    &.btn-gradient-border {
        position: relative;
        z-index: 1;
        color: $white;
        border-color: transparent;
        background-color: rgba(9, 9, 11, 0.89);
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            @include border-radius(8px);
            background: linear-gradient(174deg,#fff,#f9baf9 52%,#9470fd) 100% 0 / 200% 100%;
            z-index: -1;
            padding: 1px;
            --m:conic-gradient(#111214 0 0);
            mask: var(--m) content-box exclude,var(--m);
            pointer-events: none;               
	        transition: background-position 0.3s ease-in-out;
        }
        &.btn-sm {
            height: 40px;
        }
        &:hover, &:focus {
            &::after {
                background-size: 600% 100%;
                background-position: 0% 0;
            }
        }
    }
    &.btn-arrow-link {
        background-color: transparent;
        border-color: transparent;
        color: $white;
        .icon-arrow {
            background: url('../images/icons/icon-arrow-up.svg') no-repeat center center;
            background-size: contain !important;
            width: 12px;
            height: 12px;
	        @include transition(0.2s, ease-in-out);
        }
        &:hover, &:focus {
            color: #cecece;
            .icon-arrow {            
                @include transform(rotate(45deg));
                opacity: 0.75;
            }
        }
    }
}