/* Import Fonts */ 
@font-face {
    font-family: Ppneuemontreal;
    src: url('../fonts/PPNeueMontreal-Regular.woff2')format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}
@font-face {
    font-family: Ppneuemontreal;
    src: url('../fonts/PPNeueMontreal-Medium.woff2')format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}
@font-face{
    font-family: Ppneuemontreal;
    src: url('../fonts/PPNeueMontreal-SemiBold.woff2')format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

/* Variables */
$bodyfont: Ppneuemontreal; 
$bodyfontsize: 18px;
$bodyfontcolor: #f1f1f1;
$bodybg: #111214;
$black: #000000;
$white: #ffffff;

$primary: #111214;
$darkblack: #1C2125;
$gray: #dddddd;
$lightgray: rgba(255, 255, 255, 0.65);

/* Mixins */
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin box-shadow($box-shadow) {
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
@mixin box-shadow-all($bs-t, $bs-r, $bs-b, $bs-l, $box-shadow-all-color) {
  box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
  -webkit-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
  -moz-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
  -o-box-shadow: $bs-t $bs-r $bs-b $bs-l $box-shadow-all-color;
}

@mixin transition($duration, $ease) {
  -webkit-transition: all $duration $ease;
  -moz-transition: all $duration $ease;
  -o-transition: all $duration $ease;
  transition: all $duration $ease;
}
@mixin transitionValue($value, $duration, $ease) {
  -webkit-transition: $value $duration $ease;
  -moz-transition: $value $duration $ease;
  -o-transition: $value $duration $ease;
  transition: $value $duration $ease;
}
@mixin opacity($value) {
  -moz-opacity: $value;
  -khtml-opacity: $value;
  -webkit-opacity: $value;
  opacity: $value;
}
@mixin transform($value) {
  -moz-transform: $value;
  -webkit-transform: $value;
  -o-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  filter: $value;
}

/* display: flex */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  -ms-flex-align: $align;
  align-items: $align;
}
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}
// Display Order
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}