.main-content-wrapper {
    min-height: 100vh;
    background-image: url('../images/img-top-bg.svg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 110%;
    padding-top: 86px;
}