.page-wrapper {
    background-color: var(--black);
    color: var(--text-white);
    background-image: url(../images/img-top-bg-vector.svg);
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 110%;
}

.main-content-wrapper {
    min-height: 100vh;
    z-index: 1;
    // overflow: hidden;
    position: relative;
}

// Main Section CSS
.theme-section {
    padding-top: 7rem; // 100px
    padding-bottom: 7rem;
    // min-height: 75vh;

    @media (max-width: 1200px) {
        padding-top: 4.375rem; // 70px
        padding-bottom: 4.375rem;
    }

    @media (max-width: 767px) {
        padding-top: 3.125rem; // 50px
        padding-bottom: 3.125rem;
    }

    &.bg-none:not(.bg-custom) {
        background-image: none !important;
    }

    /*
    &.is-light {
        *:not(a, a > *) {
            color: #fff;
        }

        .section-title {
            *:not(a, a > *) {
                color: #fff;
            }

            a:not(.btn) {
                color: var(--purple);

                &:hover,
                &:focus {
                    color: var(--black);
                }
            }

            h1,
            h2,
            h3 {
                color: var(--white);
            }

            .sort-info {
                color: var(--white) !important;
            }
        }

        .text-color {
            color: var(--white) !important;
        }
    }
    */

    &.is-dark {
        *:not(a, a > *) {
            color: var(--text-black);
        }

        .section-title {
            *:not(a, a > *) {
                color: var(--text-black);
            }

            a:not(.btn) {
                color: var(--purple);

                &:hover,
                &:focus {
                    color: var(--black);
                }
            }

            h1,
            h2,
            h3 {
                color: var(--text-black);
            }

            .sort-info {
                color: var(--text-black) !important;
            }
        }

        .text-color {
            color: var(--text-black) !important;
        }
    }

    &.bg-custom {
        background-color: var(--gs-bg, #fff) !important;
    }

    &.is-custom {
        *:not(a) {
            color: var(--gs-text, #fff);
        }

        .section-title {
            *:not(a) {
                color: var(--gs-text, #fff);
            }
        }
    }

    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
        }
    }

    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
        }
    }

    &.section-title-mw-90 {
        .section-title {
            max-width: 90%;
        }
    }

    &.icw-sections {
        .acf-innerblocks-container {}

        &.is-light {
            .acf-innerblocks-container {
                background-color: var(--white);
                color: var(--text-black);
                border-radius: 20px;
            }
        }

    }
}

// Section Title CSS
.section-title {
    margin-bottom: 3rem;

    @media (max-width: 992px) {
        margin-bottom: 1.8rem;
    }

    &.text-center {
        margin: 0 auto 3rem;
        text-align: center;

        @media (max-width: 992px) {
            margin: 0 auto 1.8rem;
        }
    }

    &.sticky-title {
        position: sticky;
        top: 150px;
    }

    &.d-flex {
        @include align-items(flex-start);
        gap: 70px;

        @media (max-width: 992px) {
            @include flex-direction(column);
            gap: 20px;
        }

        &>* {
            flex: 1;
            margin-bottom: 0 !important;
        }

        h2 {
            margin-bottom: 0;
        }

        .sort-info {
            margin-top: 6px;

            p {
                max-width: 650px;

                @media (max-width: 992px) {
                    max-width: 100%;
                }
            }
        }
    }

    .tag-line {
        font-size: 16px;
        font-weight: 500;
        color: var(--purple);
        margin-bottom: 8px;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 30px;

        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    .sort-info {

        font-size: 1.2rem;

        // margin-bottom: 30px;  
        h3 {
            font-weight: 400;
        }

        h4 {
            margin-bottom: 15.008px;
        }

        img {
            margin-top: 30px;
        }

        a {
            margin-bottom: 5px;
            display: inline-block;
        }
    }

    .categories-list {
        margin-top: 20px;
    }

    .action {
        margin-top: 30px;

        @media (max-width: 767px) {
            // margin-top: 24px;

            .btn {
                // width: 100%;
            }
        }
    }
}

// Page Header
.page-header {
    padding: 3rem 0;
    .section-title {
        margin-bottom: 0;
    }
}

.bg-gradient-block {
    background-image: url('../images/img-full-bg-gradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 3rem 0;
    @media (max-width: 992px) {
        padding: 1rem;
    }
    .inner-section {
        border-radius: 20px;
        overflow: hidden;
    }
}

.single-content {
    line-height: 1.4;
    color: var(--text-black);
    p {
        color: var(--text-black);
        font-size: 1.2rem;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        @media (max-width: 767px) { 
            font-size: 1rem;
        }
    }
    h2, h3, h4, h5 {
        color: var(--text-black);
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-weight: 500;
        a {
            color: var(--text-black);
        }
    }
    h2, .h2 {
        font-size: 1.5rem;
        @media (max-width: 767px) { 
            font-size: 1.5rem !important; 
        }
    }
    h3, .h3 {
        font-size: 1.3rem;
        @media (max-width: 767px) { 
            font-size: 1.2rem;
        }
    }
    h4, .h4 {
        font-size: 1.2rem;
        @media (max-width: 767px) { 
            font-size: 1.1rem;
        }
    }
    strong {
        font-weight: 600;
    }
    ol:not(.splide__list), ul:not(.splide__list) {
        margin: 0;
        padding: 0;
    }
    ol:not(.splide__list) {
        list-style-type: decimal;
        padding-left: 20px;
        margin-bottom: 30px;
        li {
            list-style-type: decimal;
            font-size: 1.2rem;
            &:not(:last-child){
                margin-bottom: 0.5rem;
            }
            @media (max-width: 767px) { 
                font-size: 1rem;
            }
            p {
                margin-bottom: 10px;
            }
            &::marker {
                font-weight: 500;
                color: var(--purple);
            }
        }
    }
    ul:not(.splide__list, .arrow-list) {
        list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 30px;
        li {
            list-style-type: disc;
            font-size: 1.2rem;
            &:not(:last-child){
                margin-bottom: 0.5rem;
            }
            @media (max-width: 767px) { 
                font-size: 1rem;
            }
            p {
                margin-bottom: 10px;
            }
            &::marker {
                color: var(--purple);
            }
        }
    }
    a {
        color: var(--gray);
        text-decoration: underline;
        text-underline-offset: 5px;
        &:hover, &:focus {
            color: var(--black);
            text-decoration: none;
        }
    }
    u {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
    body.single & img {
        width: auto;
        &.size-full {
            width: 100%;   
        }
        @include border-radius(16px);
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 20px;
    }
    blockquote {
        background: rgba(91, 91, 91, 0.05);
        padding: 50px 40px 50px 130px;
        font-size: 22px;
        @include border-radius(20px);
        margin: 40px 0 50px;
        background-image: url(../images/icons/icon-quote.svg);
        background-repeat: no-repeat;
        background-position: 40px 45px;
        background-size: 45px;
        line-height: 1.5;
        @media (max-width: 767px) { 
            padding: 70px 20px 20px;
            background-position: 20px 20px;
            background-size: 32px;
            font-size: 18px;
        }
        .user-info-content {
            border-top: 1px solid #C8D0D9;
            margin-top: 40px;
            padding-top: 25px;
            @include flexbox;
            @include align-items(center);
            @include justify-content(space-between);
            @media (max-width: 767px) { 
                @include flex-direction(column);
                @include align-items(flex-start);
            }
            .user-info {
                .user-img {
                    margin-right: 12px;
                    img {
                        width: 56px;
                        height: 56px;
                        margin: 0;
                    }
                }
                .user-detail {
                    .name {
                        font-size: 16px;
                    }
                    span {
                        font-size: 14px;
                        display: block;
                    }
                }
            }
            .logo {
                text-align: right;
                @media (max-width: 767px) { 
                    margin-top: 24px;
                    text-align: left;
                }
                img {
                    margin: 0;
                    @include border-radius(0px);
                }
                @media (max-width: 767px) { 
                    img {
                        max-width: 80%;
                    }
                }
            }
        }
    }
    img {
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .wp-caption {
        width: 100% !important;
        padding-top: 1rem;
        text-align: center;

        &.aligncenter {
            text-align: center;
        }
        &.alignleft {
            text-align: left;
            .wp-caption-text {
                text-align: left;
            }
        }
        &.alignright {
            text-align: right;
            .wp-caption-text {
                text-align: right;
            }
        }
        img {
            margin-bottom: 10px;
            border-radius: 8px;
        }
        .wp-caption-text {
            text-align: center;
            font-size: 12px;
            color: rgba(0,0,0,0.8);
            padding-top: 0px;
            margin-bottom:3rem;
            a {
                font-weight:500;
            }
        }
    }

    table { 
        border: 1px solid var(--black); 
        padding: 0px; 
        font-size: 1rem; 
        border-collapse: collapse; 
        text-align: left; 
        margin-bottom: 1.375rem; 
        width: 100%;
        tr {
            border-bottom: 1px solid var(--black); 
        }
        th {
            font-weight: 600; 
            padding: 5px 15px; 
            background: var(--black); 
            color: #fff; 
            border-right: 1px solid var(--black);
            &:last-child {
                border-right: 0px;
            }
        }
        td { 
            padding: 5px 15px; 
            border: 1px solid var(--black); 
            vertical-align: top;
        }
        ul {
            font-size: 14px;
            li {
                margin-bottom:5px !important;
            }
        }
    }
}
.full-height-block {
    @include flexbox;
    @include flex-direction(column);
    height: 100%;
}
.testimonial-block {
    max-width: 28.125rem;
    margin-bottom: 1.875rem;
    margin-top: auto;
    .title {
        font-size: .9rem;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 1rem;
    }
    .testimonial-info-splide {
        padding-bottom: 0.5rem;
        .splide__pagination {
            right: auto;
            padding-left: 0;
        }
    }
    .testimonial-info-card {
        @include flexbox;
        @include flex-direction(column);
        height: 100%;
        .card-img {
            margin-bottom: 0.5rem;
            max-width: 6rem;
        }
        .card-body {
            margin-bottom: 1rem;
            .sort-info {
                font-size: .85rem;
                font-weight: 500;
                max-width: 21rem;
            }
        }
        .card-footer {
            .user-info {
                gap: 1rem;
                .user-img {
                    max-width: 40px;
                }
                .info {
                    font-size: .85rem;
                }
            }
        }
    }
}