@import 'parts/normalize';
@import 'bootstrap/bootstrap';
@import 'parts/mixin';
@import 'parts/variables';
@import 'parts/global';
@import 'parts/typography';
@import 'parts/button';
@import 'parts/header';
@import 'parts/footer';
@import 'parts/helpers';
