.main-content-wrapper {
    padding-top: 5.625rem;
    min-height: calc(100vh - 5.625rem);
    z-index: 1;

    @media (max-width: 992px) {
        padding-top: 4.5rem;
        min-height: calc(100vh - 4.5rem);
    }

    &>.theme-section:first-child {
        padding-top: calc(5rem + 5.625rem);
        margin-top: -5.625rem;

        @media (max-width: 992px) {
            padding-top: calc(2rem + 4.5rem);
            margin-top: -5rem;
        }
    }
}


.theme-section {
    position: relative;
    z-index: 1;
    padding-top: 5rem;
    padding-bottom: 5rem;

    @media (max-width: 992px) {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    &.bg-none:not(.bg-custom) {
        background-image: none !important;
    }

    &.is-light {
        color: var(--text-black);

        .section-title {
            color: var(--text-black);
        }
    }

    &.is-dark {
        color: var(--text-white);

        .section-title {
            color: var(--text-white);
        }
    }

    &.section-title-mw-600 {
        .section-title {
            max-width: 600px;
        }
    }

    &.section-title-mw-800 {
        .section-title {
            max-width: 800px;
        }
    }

    &.section-title-mw-900 {
        .section-title {
            max-width: 56.5rem;
        }
    }

    &.section-title-mw-55rem {
        .section-title {
            max-width: 55rem;
        }
    }

    &.with-top-curve {
        padding-top: 1rem !important;
        z-index: 2;
        overflow: unset;

        &::before {
            content: "";
            position: absolute;
            top: -8.5rem;
            left: 0;
            width: 100%;
            height: 16.875rem;
            clip-path: ellipse(60% 100% at bottom);
            background-color: var(--light-yellow);
            z-index: -1;

            @media (max-width: 992px) {
                top: -6rem;
                left: 0;
                width: 100%;
                height: 12rem;
            }

            @media (max-width: 767px) {
                top: -3.5rem;
                left: 0;
                width: 100%;
                height: 5rem;
            }
        }

        &.bg-white {
            &::before {
                background-color: var(--white);
            }
        }
    }

    &.with-top-reverse-curve {
        overflow: unset;

        &::before {
            content: "";
            position: absolute;
            top: -8rem;
            left: 0;
            width: 100%;
            height: 15rem;
            clip-path: ellipse(60% 100% at top);
            background-color: var(--light-yellow);
            z-index: -1;

            @media (max-width: 992px) {
                top: -6rem;
                left: 0;
                width: 100%;
                height: 12rem;
            }

            @media (max-width: 767px) {
                top: -4.5rem;
                left: 0;
                width: 100%;
                height: 8rem;
            }
        }
    }

    &.with-dark-plus-bg {
        background-image: url('../images/img-bg-plus-dark-vector.svg');
        background-repeat: repeat;
        background-size: contain;
        background-position: center top;
    }

    &.theme-section:has(+ .with-top-curve) {
        padding-bottom: 12rem;

        @media (max-width: 992px) {
            padding-bottom: 9rem;
        }

        @media (max-width: 767px) {
            padding-bottom: 5rem;
        }
    }
}

// Section Title CSS
.section-title {
    margin-bottom: 3rem;

    @media (max-width: 992px) {
        margin-bottom: 1.875rem;
    }

    &.text-center {
        margin: 0 auto 3rem;
        text-align: center;

        @media (max-width: 992px) {
            margin: 0 auto 1.875rem;
        }
    }

    &.sticky-title {
        position: sticky;
        top: 150px;
    }


    .tag-line {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    h1,
    h2,
    h3 {
        margin-bottom: 1.5rem;

        @media (max-width: 1200px) {
            br {
                display: none;
            }
        }
    }


    .sort-info {
        font-size: clamp(1rem, 4.5vw, 1.5rem);
        font-weight: 300;

        h3 {
            font-weight: 400;
        }

        h4 {
            margin-bottom: 1rem;
        }

        img {
            margin-top: 1.875rem;
        }

        a {
            margin-bottom: 0.5rem;
            display: inline-block;
        }

        blockquote {
            font-size: 2rem;
            line-height: 1.2;
            letter-spacing: -0.02em;
            margin: 0 0 1rem;
            font-weight: 500;

            @media (max-width: 767px) {
                font-size: 1.5rem;
            }
        }
    }

    .categories-list {
        margin-top: 1.25rem;
    }

    .action {
        margin-top: 1.875rem;

        @media (max-width: 767px) {
            .btn {
                // width: 100%;
            }
        }
    }

    & *:last-child {
        margin-bottom: 0px !important;
    }
}

.page-header {

    .section-title {
        margin: 0 auto;
        text-align: center;

        .tag-line {
            margin-bottom: 1.5rem;
            color: var(--red);
            font-weight: 800;
            font-size: 1.5rem;

            @media (max-width: 767px) {
                margin-bottom: 1rem;
                font-size: 0.875rem;

            }
        }

        h1,
        h2 {
            margin-bottom: 1.5rem;

            @media (max-width: 767px) {
                margin-bottom: 1rem;
            }
        }

        .sort-info {
            font-weight: 300;
            font-size: 1.5rem;

            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }

    &.with-vector {
        @media (max-width: 992px) {
            overflow: hidden;
        }

        &::before {
            content: '';
            background-image: url('../images/img-sm-ball-vector.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 50%;
            left: -5.125rem;
            width: 8.625rem;
            height: 8.625rem;
            display: inline-block;
            z-index: -1;
            animation: block_hero_floating_r 6s linear .3s infinite;

            @media (max-width: 992px) {
                width: 6rem;
                height: 6rem;
                left: -4.125rem;
                top: 40%;
            }

            @media (max-width: 992px) {
                width: 3.75rem;
                height: 3.75rem;
                top: 30%;
                left: -2.125rem;
            }
        }

        &::after {
            content: '';
            background-image: url('data:image/svg+xml,<svg width="225" height="100" viewBox="0 0 225 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M274.502 0.984486C246.226 6.02176 254.651 53.2741 226.375 58.3113C198.1 63.3486 189.675 16.0963 161.408 21.1384C133.133 26.1757 141.558 73.428 113.282 78.4653C85.0066 83.5025 76.5819 36.2503 48.3064 41.2875C20.0309 46.3248 28.4508 93.5859 0.175318 98.6231" stroke="rgb(250, 103, 58)" stroke-width="2" stroke-miterlimit="10" /> </svg> ');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            top: 5rem;
            right: 0;
            width: 12.188rem;
            height: 13.75rem;
            display: inline-block;
            z-index: -1;
            animation: block_hero_floating_r 6s linear .3s infinite;

            @media (max-width: 992px) {
                top: 1rem;
                right: -3rem;
            }

            @media (max-width: 767px) {
                top: 1rem;
                right: -8rem;
            }
        }
    }
}

// Blog Single
.single-content {
    line-height: 1.4;
    color: var(--text-black);

    p {
        font-weight: 300;

        &:not(:last-child) {
            margin-bottom: 1.5rem;

            @media (max-width: 767px) {
                margin-bottom: 1.1rem;
            }
        }
    }

    &>p:first-child {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        font-weight: 600;
        margin-bottom: 3.5rem;

        @media (max-width: 1200px) {
            margin-bottom: 2rem;
        }
    }

    h2,
    h3,
    h4,
    h5 {
        color: var(--text-black);
        margin-bottom: 1.5rem;
        font-weight: 500;

        @media (max-width: 767px) {
            margin-bottom: 1rem;
        }

        body.single &:not(:first-child) {
            margin-top: 3rem;
        }

        a {
            color: var(--text-black);
        }
    }

    h2,
    .h2 {
        font-size: clamp(1.375rem, 4.5vw, 2.25rem);
    }

    h3,
    .h3 {
        font-size: clamp(1.25rem, 4.5vw, 1.75rem);
    }

    h4,
    .h4 {
        font-size: clamp(1.125rem, 4.5vw, 1.375rem);
    }

    strong {
        font-weight: 600;
    }

    ol:not(.splide__list),
    ul:not(.splide__list) {
        margin: 0;
        padding: 0;
    }

    ol:not(.splide__list) {
        list-style-type: decimal;
        padding-left: 1.5rem;
        margin-bottom: 3rem;

        @media (max-width: 767px) {
            margin-bottom: 1.25rem;
        }

        li {
            list-style-type: decimal;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 10px;
            }

            &::marker {
                color: var(--black);
            }
        }
    }

    ul:not(.splide__list, .arrow-list) {
        list-style-type: disc;
        padding-left: 1.5rem;
        margin-bottom: 2.5rem;

        @media (max-width: 1200px) {
            margin-bottom: 1.25rem;
        }

        li {
            list-style-type: disc;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 10px;
            }

            &::marker {
                color: var(--black);
            }
        }
    }

    a {
        color: var(--red);
        text-decoration: underline;
        text-underline-offset: 5px;

        &>img {
            @include transition(0.3s, ease-in-out);
        }

        &:hover,
        &:focus {
            color: var(--dark-gray);
            text-decoration: none;

            &>img {
                opacity: 0.8;
            }
        }
    }

    u {
        text-decoration: underline;
        text-underline-offset: 5px;
    }

    body.single & img {
        width: auto;

        &.size-full {
            width: 100%;
        }

        @include border-radius(16px);
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 3rem;

        @media (max-width: 767px) {
            margin-bottom: 2rem;
        }
    }

    blockquote {
        border-left: 4px solid #FA673A;
        font-size: 1.25rem;
        line-height: 1.5;
        padding: 1rem 1.5rem;
        margin: 0;

        h2[id],
        h3[id] {
            padding-top: 0 !important;
            margin-top: 0 !important;
        }

        @media (max-width: 767px) {
            font-size: 1.1rem;
        }

        p {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0;

            @media (max-width: 767px) {
                font-size: 1rem;
            }
        }
    }

    img {
        margin-bottom: 2.5rem;
        border-radius: 10px;

        @media (max-width: 1200px) {
            margin-bottom: 2rem;
            margin-top: 0.8rem;
        }
    }

    .wp-caption {
        width: 100% !important;
        padding-top: 1rem;
        text-align: center;

        &.aligncenter {
            text-align: center;
        }

        &.alignleft {
            text-align: left;

            .wp-caption-text {
                text-align: left;
            }
        }

        &.alignright {
            text-align: right;

            .wp-caption-text {
                text-align: right;
            }
        }

        img {
            margin-bottom: 0.625rem;
            border-radius: 10px;
        }

        .wp-caption-text {
            text-align: center;
            font-size: 0.75rem;
            color: var(--dark-gray);
            padding-top: 0px;
            margin-bottom: 1.875rem;

            a {
                font-weight: 500;
            }
        }
    }

    table {
        border: 1px solid var(--black);
        padding: 0px;
        font-size: 1rem;
        border-collapse: collapse;
        text-align: left;
        margin-bottom: 1.375rem;
        width: 100%;

        tr {
            border-bottom: 1px solid var(--black);
        }

        th {
            font-weight: 600;
            padding: 5px 15px;
            background: var(--black);
            color: #fff;
            border-right: 1px solid var(--black);

            &:last-child {
                border-right: 0px;
            }
        }

        td {
            padding: 5px 15px;
            border: 1px solid var(--black);
            vertical-align: top;
        }

        ul {
            font-size: 14px;

            li {
                margin-bottom: 5px !important;
            }
        }
    }
}

.block-footer-cta {
    &.without-title {
        background-position: center 2rem;

        @media (min-width: 768px) {
            background-position: center 0;
            background-size: 100%;
        }

    }

    &__content {
        @media (max-width: 992px) {
            margin-bottom: 3rem;
        }

        @media (max-width: 575px) {
            margin-bottom: 1.5rem;
        }
    }

    &__monkey {
        @media (max-width: 992px) {
            bottom: 5rem;
        }

        @media (max-width: 575px) {
            bottom: 3.5rem;
        }
    }
}