.main-footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5%;
    padding-right: 5%;

    @media (max-width: 992px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .footer-logo {
        margin-bottom: 1rem;
        display: inline-block;

        img {
            max-width: 100%;
            max-height: 33px;
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    .footer-info {
        font-size: 1rem;
        line-height: 1.3;
        font-weight: 500;
        color: var(--text-white);
        margin-bottom: 2rem;
    }

    .footer-social-links {}

    .social-list {
        @include flexbox;
        @include align-items(center);
        gap: 1rem;

        @media (max-width: 575px) {
            margin-top: 2rem;
            padding-bottom: 1rem;
        }

        a {
            display: inline-block;

            svg {
                width: 22px;
                height: 22px;
            }

            &:hover,
            &:focus {
                opacity: 0.9;
            }
        }
    }

    .logo-img-block {
        @include flexbox;
        @include justify-content(flex-end);
        flex-wrap: wrap;
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;

        @media (max-width: 768px) {
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
        }

        @media (max-width: 575px) {
            @include justify-content(flex-start);
        }

        img {
            width: 70px;
            aspect-ratio: 1 / 1;

            @media (max-width: 767px) {
                width: 50px;
            }
        }
    }

    .footer-inline-menu {
        margin-top: 1.5rem;
        padding-top: 2rem;
        border-top: 1px solid #494848;

        ul {
            @include flexbox;
            @include align-items(center);
            flex-wrap: wrap;
            gap: 1.2rem;

            @media (max-width: 767px) {
                gap: .7rem;
            }

            li {
                line-height: 1;
                display: flex;
                flex-wrap: nowrap;

                &:not(:last-child) {
                    &::after {
                        content: '';
                        height: .8rem;
                        width: 1px;
                        display: inline-block;
                        background: #949494;
                        margin-left: 1.2rem;
                        margin-bottom: -2px;

                        @media (max-width: 767px) {
                            margin-left: .7rem;
                        }
                    }
                }

                a {
                    color: #949494;
                    font-size: .875rem;
                    font-weight: 500;
                    text-decoration: none;

                    @media (max-width: 767px) {
                        font-size: 0.75rem;
                    }

                    &:hover,
                    &:focus {
                        color: var(--white);
                    }
                }

                &.current-menu-item {
                    a {
                        color: var(--white);
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .copyright-text {
        padding-top: 2rem;
        font-size: .875rem;

        @media (max-width: 767px) {
            font-size: 0.75rem;
        }
    }
}