/* Make links/icons inherit navbar color */
.navbar a,
.navbar button,
.navbar svg,
.navbar .w-nav-brand,
.navbar .w-button {
    color: inherit !important;
    fill: currentColor !important;
}

.main-header {
    position: sticky;
    z-index: 99;
    inset: 0% 0% auto;
    width: 92.5%;
    padding-top: .5rem;
    margin: 0 auto;
    top: 0;

    @media (max-width: 991px) {
        width: calc(100% - 2rem);
    }

    &.is-visible {
        .navbar-container {
            .navbar-collapse {
                @media (max-width: 991px) {
                    height: calc(100vh - 100px);

                    .btn-link-arrow {
                        .icon-arrow {
                            filter: none;
                        }
                    }
                }

                .mainMenu {
                    @include transform(translateY(0));
                }
            }
        }
    }

    &.fixed-header {
        .navbar {
            transition: background-color 0.2s, ease-in-out;
            background-color: rgba(0, 0, 0, 0.60) !important;
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
        }
    }

    .navbar-container {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-columns: 1fr;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        position: static;

        @media screen and (max-width: 991px) {
            grid-template-columns: 80px 1fr;
            grid-auto-flow: dense;

            .navbar-collapse {
                grid-column: 1 / 3;
                order: 3;
                text-align: center;
                min-width: 200px;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                overflow: visible;
                background-color: #111214;
                width: 100%;
                font-size: 1.1rem;
                border-radius: 13px;
                z-index: 4;
                height: 0;
                align-items: flex-start;
                flex-direction: column;
                transition: all, height 200ms;
                overflow: hidden;
                display: block;

                .mainMenu {
                    flex-direction: column;
                    @include transform(translateY(-160%));
                    transition: all, transform 300ms;
                    width: 100%;
                    height: calc(100% - 100px);
                    @include justify-content(center);
                    overflow: hidden;
                    overflow-y: auto;

                    @media (max-height: 700px) and (orientation: landscape) {
                        @include justify-content(flex-start);
                    }

                    li {
                        width: 100%;
                        @include justify-content(center);

                        &.menu-item-has-children {
                            &>span {
                                @include inline-flex;
                                @include align-items(center);
                            }

                            .sub-menu {
                                padding-bottom: 0;
                            }
                        }
                    }
                }

                .mobile-bottom-nav {
                    align-items: center;
                    justify-content: space-between;
                    gap: 15px;
                    padding: 1.5rem;
                    width: 100%;

                    .btn {
                        width: 50%;
                    }

                    .btn-link-arrow {
                        border: 1px solid #ffffff26;
                        background: #3232325c;
                    }
                }
            }

            .nav-right {
                order: 2;
            }

            .navbar-brand {
                order: 1;
            }
        }
    }

    .navbar-brand {
        height: 40px;
        padding: 0px;
        margin: 0px;
        line-height: 1;
        display: inline-flex;
        align-items: center;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .nav-right {
        justify-self: end;
        @include flexbox;
        gap: 1rem;

        .btn {
            max-height: 38.7px;
            min-height: 38.7px;
            min-width: 100px;
            padding: .75rem 1.2rem;

            @media (min-width: 992px) {
                &.btn-link-arrow {
                    min-width: auto;
                    padding: .06rem .368rem;
                }
            }
        }
    }

    /* Dark text/icons */
    .navbar.navbar--dark {
        color: #fff;

        .navbar-toggler {
            span {
                background-color: var(--white);
            }
        }
    }

    /* Light text/icons */
    .navbar.navbar--light {
        color: #000;

        ul li.menu-item-has-children>span>a::after {
            @media (min-width: 992px) {
                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(0 0 0)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>') no-repeat center center;
            }
        }

        .navbar-toggler {
            span {
                background-color: var(--black);
            }
        }

    }

    /* Solid dark background */
    .navbar.navbar--solid.navbar--dark {
        background: rgba(0, 0, 0, 0.60) !important;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        color: #fff;
    }

    /* Solid light background */
    .navbar.navbar--solid.navbar--light {
        background: rgba(255, 255, 255, 0.60) !important;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        color: #000;

        .btn-link-arrow {
            .icon-arrow {
                filter: invert(1);
            }
        }
    }

    .navbar {
        padding: 0;
        position: unset;
        transition: background 0.28s ease, color 0.28s ease, backdrop-filter 0.28s ease;
        background: transparent !important;
        color: #fff;
        border-radius: 13px;
        padding: 1rem 2%;

        @media (max-width: 991px) {
            padding: 0.75rem;
        }


        ul {
            @include flexbox;
            @include align-items(center);
            // gap: 0.25rem;

            @media (max-width: 991px) {
                // gap: 0px;
                padding: 10px;
            }

            li {
                @media (max-width: 991px) {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }

                a {
                    font-size: 1rem;
                    font-weight: 500;
                    color: inherit;
                    text-decoration: none;
                    position: relative;
                    @include transition(0.05s, ease-in-out);
                    @include border-radius(8px);
                    @include inline-flex;
                    @include align-items(center);

                    padding: .5rem 1rem;
                    transition: color .2s;

                    @media (max-width: 991px) {
                        font-size: 2rem;
                        padding: 0 1rem;
                        color: var(--white) !important;
                    }

                    &.with-icon {
                        .icon {
                            margin-right: 8px;
                            display: inline-block;
                            line-height: 0.7;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }

                &:hover,
                &:focus {
                    &>a {
                        &:not(.btn) {
                            background-color: #ffffff07;
                            // box-shadow: 12px 0 #f7f6fd, -12px 0 #f7f6fd, inset 0 0 0 100px #f7f6fd;
                        }
                    }
                }

                &.current-menu-item,
                &.current-menu-parent {
                    &>a {
                        &:not(.btn) {
                            font-weight: 600;
                        }
                    }
                }

                &.menu-item-has-children {
                    position: relative;

                    &>span>a {
                        @include flexbox;
                        @include align-items(center);

                        @media (min-width: 992px) {
                            &::after {
                                content: '';
                                background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(256 256 256)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>') no-repeat center center;
                                width: 16px;
                                height: 16px;
                                line-height: 0.7;
                                margin-left: 5px;
                                margin-top: 1px;
                                @include transition(0.2s, ease-in-out);
                            }
                        }

                        &::before {
                            content: '';
                            width: 100%;
                            height: 12px;
                            position: absolute;
                            bottom: -12px;
                        }

                        @media (max-width: 991px) {
                            @include justify-content(center);
                        }
                    }

                    .arrow {
                        @media (min-width: 991px) {
                            display: none;
                        }

                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(255 255 255)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>');
                        background-repeat: no-repeat;
                        background-position: center;
                        width: 20px;
                        height: 20px;
                        display: inline-block;
                        @include border-radius(4px);
                        @include transition(0.2s, ease-in-out);

                        &.is-active {
                            @include transform(rotate(180deg));
                        }

                    }

                    .sub-menu {
                        @media (min-width: 992px) {
                            position: absolute;
                            top: calc(100% + 8px);
                            left: 50%;
                            display: block;
                            min-width: 240px;
                            padding: 10px 0;
                            opacity: 0;
                            pointer-events: none;
                            @include transition(0.05s, ease-in-out);
                            @include transform(rotateX(-20deg) translateX(-50%));
                            @include border-radius(8px);
                            z-index: 9;
                            @include box-shadow(0px 4px 6px rgba(0, 0, 0, 0.04));
                            border: 1px solid transparent;
                            background-image: linear-gradient(var(--black), var(--black)), linear-gradient(174deg, var(--white), #f9baf9 52%, #9470fd);
                            background-origin: border-box;
                            background-clip: padding-box, border-box;

                            &::before,
                            &::after {
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-bottom: 8px solid var(--white);
                                top: -8px;
                                content: '';
                                right: calc(50% - 3px);
                                position: absolute;
                            }

                            &::before {
                                border-left: 9px solid transparent;
                                border-right: 9px solid transparent;
                                border-bottom: 9px solid var(--white);
                                top: -9px;
                                right: calc(50% - 4px);
                            }
                        }

                        @media (max-width: 991px) {
                            display: none;
                            margin-left: 0;
                            width: 100%;
                        }

                        li {
                            padding: 0 8px;

                            &:not(:last-child) {
                                margin-bottom: 5px;
                            }

                            a:not(.btn) {
                                display: block;
                                font-weight: 500;
                                padding: 8px;
                                font-size: 14px;
                                margin: 0;
                                height: auto;
                                @include border-radius(5px);
                                color: var(--white) !important;

                                @media (max-width: 991px) {
                                    font-size: 1.3rem;
                                }

                                &:hover,
                                &:focus {
                                    @media (min-width: 992px) {
                                        background: rgba(255, 255, 255, 0.12);
                                        box-shadow: none;
                                    }

                                    @media (max-width: 991px) {
                                        color: rgba(255, 255, 255, 0.7) !important;
                                    }
                                }
                            }

                            &.current-menu-item {
                                &>a {
                                    @media (min-width: 992px) {
                                        background: rgba(255, 255, 255, 0.12);
                                        box-shadow: none;
                                    }

                                    @media (max-width: 991px) {
                                        color: rgba(255, 255, 255, 0.7) !important;
                                    }
                                }
                            }
                        }
                    }

                    &:hover,
                    &:focus {
                        &:not(.mega-menu) {
                            @media (min-width: 992px) {
                                &::after {
                                    opacity: 1;
                                }
                            }

                            &>span>a {
                                @media (min-width: 992px) {
                                    &::after {
                                        @include transform(rotate(180deg));
                                    }
                                }
                            }
                        }

                        .sub-menu {
                            @media (min-width: 992px) {
                                opacity: 1;
                                pointer-events: auto;
                                visibility: visible;
                                @include transform(rotateX(0deg) translate3d(-50%, 0, 0));
                            }
                        }
                    }
                }
            }
        }

        .mainMenu {
            &:hover {
                &>li {
                    &>a {
                        opacity: 0.5;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }


    .navbar-toggler {
        @media (min-width: 992px) {
            display: none;
        }

        display: inline-block;
        cursor: pointer;
        border: none;
        padding: 0;
        background-color: transparent;
        z-index: 10;

        &.is-visible {
            span:nth-child(1) {
                @include transform(rotate(-45deg) translate(-5px, 5px));
            }

            span:nth-child(2) {
                @include opacity(0);
                visibility: hidden;
            }

            span:nth-child(3) {
                @include transform(rotate(45deg) translate(-6px, -6.5px));
            }
        }

        span {
            width: 24px;
            height: 2px;
            margin: 6px 0;
            background-color: #f1f1f1;
            @include border-radius(4px);
            display: block;
            @include transition(0.4s, ease-in-out);
        }
    }
}

.section-header {
    position: relative;
    z-index: 99;
    inset: 0% 0% auto;
    width: 92.5%;
    margin: 0 auto 1rem;
    // top: .5rem;

    background: rgba(255, 255, 255, 0.60) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    color: #000;

    @media (max-width: 991px) {
        width: calc(100% - 2rem);
    }

    &.is--dark {
        background: rgba(0, 0, 0, 0.60) !important;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        color: #fff;

        .head-navbar {
            color: #fff !important;
        }
    }

    .head-navbar {
        padding: 0;
        position: unset;
        transition: background 0.28s ease, color 0.28s ease, backdrop-filter 0.28s ease;
        background: transparent !important;
        color: #000;
        border-radius: 13px;
        padding: 1rem 2%;
    }
}

.bg-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 145px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);

    &.is-visible {
        opacity: 1;
        z-index: 3;
    }
}