@import "../../../assets/css/scss/mixins";

.counter-section {
    position: relative;
    margin-top: -1px;
    padding: 9rem 0 12rem;
    z-index: 1;

    @media (max-width: 767px) {
        padding: 7rem 0 9rem;

    }

    &::before {
        content: '';
        background-color: var(--yellow);
        background-image: url('../../../assets/images/img-wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6.25rem;
        z-index: -1;
    }

    &::after {
        content: '';
        background-color: var(--light-yellow);
        background-image: url('../../../assets/images/img-wave.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6.25rem;
        transform: rotate(180deg);
        z-index: -1;
    }

    .section-title {
        h2 {
            font-size: clamp(1.75rem, 6.5vw, 3.438rem);
        }

        .sort-info {
            font-size: clamp(1rem, 3.5vw, 1.5rem);
        }
    }

    .counter-slider-block {
        margin: 0 -1rem;

        @media (min-width: 991px) {
            margin: 0 -1.7rem;
        }

        .counter-swiper-slider {
            overflow: visible;

            @media (min-width: 991px) {
                padding: 1.5rem 1.7rem;
            }

            .swiper-pagination {
                bottom: -2rem;

                &-bullet {
                    width: 0.938rem;
                    height: 0.938rem;
                    background-color: var(--white);
                    border: 1px solid var(--black);
                    opacity: 1;

                    &-active {
                        background-color: transparent;
                    }
                }
            }

            .swiper-wrapper {
                @media (min-width: 991px) {
                    grid-gap: 2.5rem;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }

                .swiper-slide {
                    @media (min-width: 991px) {
                        flex: 1;

                        &:nth-child(1) {
                            .counter-card {
                                transform: rotate(7deg);
                            }
                        }

                        &:nth-child(3) {
                            .counter-card {
                                transform: rotate(-9deg);
                            }
                        }

                        &:nth-child(4) {
                            .counter-card {
                                transform: rotate(-9deg);
                            }
                        }

                        &:nth-child(6) {
                            .counter-card {
                                transform: rotate(7deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .element {
        display: inline-block;
        position: absolute;
        animation: vector_floating_r 6s linear .3s infinite;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 3;

        &.element-1 {
            width: 4.375rem;
            height: 4.375rem;
            top: 15%;
            left: 10%;
            background-image: url('data:image/svg+xml;utf8,<svg width="69" height="69" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32.0386 41.1269C27.9915 51.9571 25.3898 70.493 42.7411 67.7539C47.9106 66.9378 52.8086 64.4261 56.4872 60.7035C68.8304 48.2127 52.2406 39.5201 41.0839 36.4878M32.0386 41.1269C28.939 52.5314 19.9249 69.6129 6.98523 55.6647M32.0386 41.1269C31.5135 42.5321 31.0127 44.067 30.5767 45.6684M32.0386 41.1269C31.6452 42.5743 31.1566 44.1131 30.5767 45.6684M41.0839 36.4878C52.4884 39.5874 69.5698 48.6016 55.6217 61.5412C52.363 64.5643 48.2828 66.6568 43.9264 67.5397C27.6425 70.8399 27.5776 56.683 30.5767 45.6684M41.0839 36.4878C52.1545 40.6248 71.2771 43.2512 67.497 24.5999C66.6141 20.2434 64.3125 16.1208 61.2894 12.8621C49.992 0.68418 41.687 12.1594 37.698 22.8584M6.98523 55.6647C3.96216 52.406 1.86967 48.3257 0.986755 43.9693C-2.79333 25.3179 16.3289 27.9446 27.3995 32.0816C15.995 28.9819 -1.08646 19.9678 12.8617 7.02815C16.1203 4.00508 19.9919 1.87001 24.3483 0.987094C40.6322 -2.31315 40.697 11.8438 37.698 22.8584M6.98523 55.6647C18.2826 67.8426 26.5877 56.3674 30.5767 45.6684M37.698 22.8584C37.262 24.4598 36.7612 25.9947 36.2361 27.3999C36.6295 25.9525 37.1181 24.4137 37.698 22.8584Z" stroke="black"/></svg>');

            @media (max-width: 992px) {
                top: 10%;
                left: 5%;
            }

            @media (max-width: 767px) {
                width: 2rem;
                height: 2rem;
                top: 7%;
                left: -1%;
            }
        }

        &.element-2 {
            width: 2.5rem;
            height: 2.5rem;
            top: 20%;
            right: 8%;
            background-image: url('data:image/svg+xml;utf8,<svg width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="20.4141" cy="20.4141" r="19.9141" stroke="black" /> </svg>');

            @media (max-width: 767px) {
                width: 1.5rem;
                height: 1.5rem;
                top: 18%;
                right: -1%;
            }
        }

        &.element-3 {
            width: 1.5rem;
            height: 1.5rem;
            bottom: 20%;
            left: 3%;
            background-image: url('data:image/svg+xml;utf8,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.4414" cy="12.4414" r="11.9414" fill="rgb(57 191 151)" stroke="black"/></svg>');

            @media (max-width: 767px) {
                bottom: 18%;
                left: -2%;
            }
        }

        &.element-4 {
            width: 3.375rem;
            height: 3.375rem;
            bottom: 18%;
            right: 40%;
            background-image: url('data:image/svg+xml;utf8,<svg width="53" height="53" viewBox="0 0 53 53" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M47.0949 33.2318C36.1983 32.4781 25.8292 38.0185 20.3992 47.4957L18.8665 50.1718L19.0788 47.095C19.8325 36.1984 14.2921 25.8293 4.81484 20.3993L2.13906 18.8656L5.21559 19.0789C16.1122 19.8326 26.4813 14.2922 31.9113 4.81493L33.4452 2.13822L33.2317 5.21569C32.478 16.1123 38.0184 26.4814 47.4956 31.9114L50.1726 33.4444L47.0949 33.2318Z" fill="rgb(220 230 222)" stroke="black"/></svg>');

            @media (max-width: 992px) {
                bottom: 10%;
                right: 25%;
            }

            @media (max-width: 767px) {
                width: 2.5rem;
                height: 2.5rem;
                bottom: 35%;
                right: 20%;
            }
        }
    }
}

.counter-card {
    background: var(--bg-card-color) url('data:image/svg+xml;utf8,<svg width="331" height="27" viewBox="0 0 331 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M330.131 0.5H316.754C310.195 0.5 303.879 2.97894 299.07 7.43995L286.22 19.362C281.412 23.823 275.096 26.302 268.537 26.302H165.066H61.5946C55.0357 26.302 48.7191 23.823 43.9109 19.362L31.0609 7.43995C26.2527 2.97893 19.9361 0.5 13.3772 0.5H0" stroke="black"/></svg>') no-repeat center -1px;
    background-size: auto;
    border: 1px solid #000000;
    box-shadow: 0.75rem 0.75rem 0px #000000;
    border-radius: 1.25rem;
    padding: 3.125rem 2.5rem 1.875rem;
    text-align: center;
    position: relative;
    margin-bottom: 3rem;

    @media (max-width: 1200px) {
        background-size: contain;
    }

    @media (max-width: 992px) {
        margin-bottom: 1rem;
        padding: 3.125rem 1.25rem 1.875rem;
    }

    @media (max-width: 767px) {
        box-shadow: 0.5rem 0.5rem 0px #000000;
        // max-width: 17.5rem;
        width: 100%;
    }

    &::before {
        content: '';
        position: absolute;
        top: 1.063rem;
        left: 0;
        width: 100%;
        height: 1.25rem;
        background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
        background-size: 1.25rem 1.25rem;

        @media (max-width: 767px) {
            background-size: 1rem 1rem;
            background-position: calc(0% + 0.7rem) top, calc(100% - 0.7rem) top;
        }
    }

    .card-content {
        .counter {
            font-size: clamp(2rem, 4.5vw, 4.5rem);
            margin-bottom: 1rem;

            @media (max-width: 767px) {
                margin-bottom: 0.5rem;
            }
        }

        .card-info {
            font-size: clamp(1rem, 3.5vw, 1.5rem);
        }
    }
}