.security-event-section {
    overflow: unset;
    padding-top: 3.5rem;
    z-index: 1;
    position: relative;
    background-color: var(--light-yellow);
    &::before {
        content: "";
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSIyMzUiIHZpZXdCb3g9IjAgMCAxOTIwIDIzNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwXzUzM18xMjIzKSI+CjxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjIzNSIgZmlsbD0iI0ZGQjg5RiIvPgo8cGF0aCBkPSJNOTYwIDQ4LjVDMjQ3OC4zNiA0OC41IDM3MDkuMjEgMTIwMy4xNCAzNzA5LjUgMjYyNy41SC0xNzg5LjVDLTE3ODkuMjEgMTIwMy4xNCAtNTU4LjM2IDQ4LjUgOTYwIDQ4LjVaIiBmaWxsPSIjRkRGMkQ0IiBzdHJva2U9IiMxMTEwMTMiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF81MzNfMTIyMyI+CjxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjIzNSIgZmlsbD0id2hpdGUiLz4KPC9jbGlwUGF0aD4KPC9kZWZzPgo8L3N2Zz4=') no-repeat top center;
        background-size: cover;
        height: 250px;
        left: 0;
        position: absolute;
        top: -80px;
        width: 100%;
        z-index: -1;
        @media (max-width: 767px) {
            top: 0;
            background-size: 100%;    
        }
    }

}