@import '../../../assets/css/scss/mixins';

.about-info-card-section {
    padding: 9.375rem 0 6.25rem;
    z-index: 2;
    overflow: visible;

    @media (max-width: 767px) {
        padding: 4rem 0 3.125rem;

    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 150px;
        background: #fdf2d4;
        border-top: 1px solid #fdf2d4;
        clip-path: polygon(100% 0%, 100% 0%, 0% 0%);
        z-index: -1;
        transition: clip-path 1s ease-in-out;
    }


    &.is-animated {
        &::before {
            clip-path: polygon(100% 94%, 100% 0%, 0% 0%);

            @media (max-width: 1200px) {
                clip-path: polygon(100% 75%, 100% 0%, 0% 0%);
            }

            @media (max-width: 767px) {
                clip-path: polygon(100% 45%, 100% 0%, 0% 0%);
            }

            @media (max-width: 575px) {
                clip-path: polygon(100% 25%, 100% 0%, 0% 0%);
            }
        }
    }

    .element {
        position: absolute;
        display: inline-block;
        background-size: contain !important;

        &.element-1 {
            width: 7.188rem;
            height: 7.188rem;
            background: url('../../../assets/images/img-yellow-ball-vector.svg') no-repeat center center;
            top: 6%;
            right: 8%;
            animation: vector_floating_r 6s linear .3s infinite;

            @media (max-width: 1200px) {
                top: 4%;
                width: 6.5rem;
                height: 6.5rem;
            }

            @media (max-width: 767px) {
                width: 3.875rem;
                height: 3.875rem;
                top: 2%;
            }

            @media (max-width: 575px) {
                top: 1%;
            }
        }

        &.element-2 {
            background: url('../../../assets/images/img-xl-ball-vector.svg') no-repeat center center;
            width: 54.25rem;
            height: 54.25rem;
            top: -12%;
            left: -44.125rem;
            animation: vector_rotate 50s linear .3s infinite;
            z-index: -1;

            @media (max-width: 1200px) {
                width: 40rem;
                height: 40rem;
                left: -35.125rem;
            }

            @media (max-width: 767px) {
                width: 28.5rem;
                height: 28.5rem;
                left: -22rem;
                top: 40%;
            }
        }

        &.element-3 {
            background: url('../../../assets/images/img-square-vector.svg') no-repeat center center;
            width: 9.375rem;
            height: 9.375rem;
            bottom: 2%;
            right: 5%;
            animation: vector_floating_r 6s linear .3s infinite;

            @media (max-width: 1200px) {
                width: 7rem;
                height: 7rem;
                bottom: -2%;
            }

            @media (max-width: 767px) {
                width: 5rem;
                height: 5rem;
                bottom: -2%;
            }

        }
    }

    .section-title {
        h2 {
            font-size: clamp(1.75rem, 6.5vw, 3.438rem);
        }

        .sort-info {
            font-size: clamp(1rem, 3.5vw, 1.5rem);
        }
    }

    .card-block {
        max-width: 940px;
        margin: 0 auto;

        .row {
            margin-left: -0.75rem;
            margin-right: -0.75rem;
            margin-top: -1.5rem;

            &>[class^="col-"],
            &>[class*=" col-"],
            &>.col {
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                margin-top: 1.5rem;
            }
        }
    }

    .info-card {
        background: var(--bg-card-color) url('data:image/svg+xml;utf8,<svg width="331" height="27" viewBox="0 0 331 27" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M330.131 0.5H316.754C310.195 0.5 303.879 2.97894 299.07 7.43995L286.22 19.362C281.412 23.823 275.096 26.302 268.537 26.302H165.066H61.5946C55.0357 26.302 48.7191 23.823 43.9109 19.362L31.0609 7.43995C26.2527 2.97893 19.9361 0.5 13.3772 0.5H0" stroke="black"/></svg>') no-repeat center -1px;
        border: 1px solid #000000;
        border-radius: 20px;
        padding: 3.125rem 2.5rem 2rem;
        text-align: center;
        position: relative;
        height: 100%;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);

        &::before {
            content: '';
            position: absolute;
            top: 1.063rem;
            left: 0;
            width: 100%;
            height: 1.25rem;
            background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
            background-size: 1.25rem 1.25rem;
        }

        .card-content {
            max-width: 250px;
            margin: 0 auto;

            .card-title {
                font-size: clamp(1.25rem, 4.5vw, 1.75rem);
                margin-bottom: 1rem;
            }

            .card-info {
                font-size: clamp(1rem, 4.5vw, 1.5rem);
                font-weight: 300;
            }
        }
    }
}

@keyframes vector_rotate {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}