@import "../../../assets/css/scss/mixins";

.content-section {
    background-image: url('../../../assets/images/img-bg-plus-dark-vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .section-title {
        h1 {
            font-size: ;
        }
    }
}