@import "../../../assets/css/scss/mixins";

.our-story-section {
    background-image: url('../../../assets/images/img-bg-plus-dark-vector.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .section-title {
        max-width: 900px;
        margin: 0 auto 4.5rem;

        h2 {
            font-size: clamp(1.75rem, 4.5vw, 3.438rem);
        }

        .sort-info {
            font-size: clamp(1rem, 4.5vw, 1.5rem);
            @include flexbox;
            gap: 3.5rem;
            font-weight: 300;
        }
    }
}