.btn {   
    .icon {
        line-height: 0.7;
    } 
    &-lightyellow {
        background: #FDF2D4;
    }
}
.site-header {
    &__main-menu {
        gap: 28px;
        .btn {
            &-lightyellow {
                font-weight: 600;
                font-size: 16px;
                text-transform: capitalize;
                letter-spacing: unset;
                height: 38px;
                line-height: 15px;
                text-align: center;
                padding: 9px 20px;
                gap: 4px;
                .icon {
                    margin-top: 3px;
                }
            }
        }
    }
    &.scroll-header {
        .site-header__main-menu {        
            .btn {
                &-lightyellow {
                    &:hover, &:focus {
                        box-shadow: 0 4px 0 0 #FA673A;
                    }
                }
            }
        }
    }
    &.is-visible  {
        .btn {
            &-lightyellow {
                background: #FDF2D4;
                color: #000000;
                &:hover, &:focus {
                    background: #FDF2D4;
                    box-shadow: 0 4px 0 0 #FA673A;
                }
            }
        }
    }
}