@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.image-gallery-section {
    overflow: hidden;
}
.image-gallery-slider-block {
    padding-bottom: 1rem;
    .splide__track {
        overflow: visible;
    }
    .splide__slide {
        .media-block {
            height: 100%;
            background-color: #463D59;
            @include border-radius(0.5rem);
            img {
                height: 100%;
                max-height: 23.25rem;
                @media (max-width: 992px) {
                    max-height: 12.5rem;
                }
            }
        }
    }
    .splide__arrows{
        .splide__arrow {
            background: rgba(89, 89, 89, 0.51) url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.781 12.5306L9.28104 20.0306C9.21136 20.1003 9.12863 20.1556 9.03759 20.1933C8.94654 20.231 8.84896 20.2504 8.75042 20.2504C8.65187 20.2504 8.55429 20.231 8.46324 20.1933C8.3722 20.1556 8.28947 20.1003 8.21979 20.0306C8.15011 19.9609 8.09483 19.8782 8.05712 19.7872C8.01941 19.6961 8 19.5985 8 19.5C8 19.4014 8.01941 19.3039 8.05712 19.2128C8.09483 19.1218 8.15011 19.039 8.21979 18.9694L15.1901 12L8.21979 5.03061C8.07906 4.88988 8 4.69901 8 4.49999C8 4.30097 8.07906 4.1101 8.21979 3.96936C8.36052 3.82863 8.55139 3.74957 8.75042 3.74957C8.94944 3.74957 9.14031 3.82863 9.28104 3.96936L16.781 11.4694C16.8508 11.539 16.9061 11.6217 16.9438 11.7128C16.9816 11.8038 17.001 11.9014 17.001 12C17.001 12.0986 16.9816 12.1961 16.9438 12.2872C16.9061 12.3782 16.8508 12.461 16.781 12.5306Z" fill="rgb(255, 255, 255)"/></svg>') no-repeat center center;
            backdrop-filter: blur(2px);
            border-radius: 4px;
            background-size: 1.25rem;
            left: auto;
            right: 6rem;
            bottom: -3.5rem;
            @media (max-width: 992px) {
                right: 4.8rem;
                bottom: -3rem;
            }
            &--next {
                left: auto;
                right: 3rem;
                @media (max-width: 992px) {
                    right: 2rem;
                }
            }
        }
    }
}