.logo-slider-section {
    .logo-slider {
        -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
        -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
        mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
        mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
        max-width: 500px; 
        margin: 0 auto;
        .logo-item {
            img {
                max-height: 65px;
                width: 100%;
            }
        }
    }
}