.hero-header-section {
    padding: 100px 0;
    min-height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    @media (max-width: 1200px) {
        padding: 70px 0;        
    }
    @media (max-width: 992px) {
        padding: 50px 0;        
    }
    .hero-title {
        .tag-line {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 5px;
        }
        h1 {
            margin-bottom: 25px;
        }
        .sort-info {
            font-size: 1.1rem;
            color: #f1f1f1;
        }
        .action {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
    .hero-thumb-slider-block {
        margin-top: 30px;
        max-width: 80%;
        @media (max-width: 1200px) {
            max-width: 100%;       
        }
        @media (max-width: 992px) {
            display: none;     
        }
        .slide-thumb-info {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 15px 25px;
            border-radius: 5px;
            font-weight: 500;
            .icon {
                opacity: 0;
                img {
                    margin-top: 1px;
                    box-shadow: 0 0 13px 2px rgba(255, 255, 255, 0.4);
                }
            }
            .info {
                .title {
                    font-size: 16px;
                    line-height: 1.3;
                    color: #f1f1f1;
                }
                p {
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.65);
                }
            }
        }
        .splide__slide {
            &.is-active {
                border: none;
                .slide-thumb-info {
                    background-color: #1d2428;
                    background-image: linear-gradient(rgba(65, 147, 188, 0), rgba(65, 147, 188, 0.161));
                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .outside-right {
        .hero-img-slider-block {
            width: 50vw;
            background: url(../images/img-gradient-bg.svg) no-repeat;
            background-position: top left;
            background-size: cover !important;
            border-radius: 17px;
            border: 1px solid #aa80fd;
            padding: 0.938rem;
            margin-left: 60px;
            @media (max-width: 1200px) {
                margin-left: 20px;
                width: 60vw;
            }
            @media (max-width: 992px) {
                width: 100%;
                margin-left: 0;
                margin-top: 40px;
                background: url(../images/img-bottom-gradient-bg.svg) no-repeat;
                background-position: bottom center;
                padding: 1.5rem;
            }
            @media (max-width: 767px) {
                padding: 0.938rem;
            }
            .splide__track {
                border-radius: 15px;
                @media (max-width: 992px) {
                    border-top-left-radius: 0;
                }
            }
            .slide-thumb-info {
                display: none;
                @media (max-width: 992px) {
                    margin-bottom: 1.875rem;
                    display: block;
                }
                @media (max-width: 767px) {
                    margin-bottom: 1.2rem;
                }
                .info {
                    .title {
                        font-size: 1.5rem;
                        line-height: 1.3;
                        color: #f1f1f1;
                        margin-bottom: 0.2rem;
                        @media (max-width: 767px) {                            
                            font-size: 1.125rem;
                        }
                    }
                    p {
                        font-size: 1.1rem;
                        color: rgba(255, 255, 255, 1);
                        @media (max-width: 767px) {                            
                            font-size: 0.938rem;
                        }
                    }
                }
            }
            .media-block {
                width: 570px;
                max-width: 570px;
                border: 1px solid #2b2b2b;
                border-radius: 15px;
                overflow: hidden;
                @media (max-width: 992px) {
                    width: 100%;
                    max-width: 100%;
                }
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}