.hub-hero-section {
    background: #010103;
    padding: 200px 0 120px;
    overflow: hidden;
    @media (max-width: 1200px) {
        padding: 150px 0 80px;
    }
    @media (max-width: 992px) {
        padding: 120px 0 50px;
    }
    .page-title {
        max-width: 575px;
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
        .title {
            font-weight: 500;
            font-size: 64px;
            color: #ffffff;
            line-height: 1;
            margin-bottom: 32px;
            @media (max-width: 992px) {
                font-size: 44px;
            }
            span {
                color: #87BFF3;
                display: block;
            }
        }
        .sort-info {
            font-weight: 400;
            font-size: 18px;
            color: #C8D0D9;
            max-width: 500px;
            @media (max-width: 992px) {
                max-width: 100%;
                font-size: 16px;
            }
        }
        .action {
            margin-top: 64px;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            @media (max-width: 992px) {
                margin-top: 50px;
            }
        }
    }
    .image-block {
        position: relative;
        z-index: 1;
        &::before, &::after {
            content: '';
            position: absolute;
            background-size: contain;
            width: 450px;
            height: 490px;
            display: block;
            z-index: -1;
            @media (max-width: 1200px) {
                width: 350px;
                height: 390px;
            }
            @media (max-width: 767px) {
                height: 320px;           
            }
        }
        &::before {           
            background: url(../../assets/images/img-bg-shadow-top.svg) no-repeat top left;
            top: -110px;
            left: -135px; 
        }
        &::after {
            background: url(../../assets/images/img-bg-shadow-bottom.svg) no-repeat bottom right;
            bottom: -110px;
            right: -100px;
        }
        .main-img {
            position: relative;
            z-index: 1;
            overflow: hidden;
            border-radius: 20px;
            @media (max-width: 1200px) {
                border-radius: 15px;                
            }
            @media (max-width: 992px) {
                border-radius: 20px;                
            }
            @media (max-width: 767px) {
                border-radius: 10px;                
            }
            &::before {
                content: '';
                background: linear-gradient(0deg, rgba(160, 179, 201, 0.19), rgba(160, 179, 201, 0.19)), rgba(255, 255, 255, 0.01);
                backdrop-filter: blur(17.2px);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
            img {
                width: 100%;
            }
        }
        .helper-images {
            .helper-image {
                position: absolute;
                width: 80px;
                height: 80px;
                flex: none;
                display: inline-block;
                z-index: 2;
                @media (max-width: 1440px) {
                    width: 60px;
                    height: 60px;
                }
                @media (max-width: 767px) {
                    width: 50px;
                    height: 50px;
                }
                &-1 {
                    top: 205px;
                    left: -97px;
                    @media (max-width: 1440px) {
                        left: -57px;
                    }
                    @media (max-width: 992px) {
                        left: -35px;
                    }
                    @media (max-width: 767px) {
                        top: 180px;
                        left: -15px;
                    }
                }
                &-2 {
                    top: 87px;
                    left: -35px;
                    @media (max-width: 1440px) {
                        left: -25px;
                    }
                    @media (max-width: 767px) {
                        top: 67px;
                        left: -20px;
                    }
                }
                &-3 {
                    bottom: 95px;
                    right: -57px;
                    z-index: 0;
                    @media (max-width: 1440px) {
                        right: -42px;
                    }
                    @media (max-width: 992px) {
                        right: -35px;
                    }
                    @media (max-width: 767px) {
                        right: -15px;
                        z-index: 1;
                    }
                }
                &-4 {
                    bottom: -46px;
                    right: 146px;
                    @media (max-width: 1440px) {
                        bottom: -25px;
                    }
                }
            }
        }
    }
}