@import '../../assets/css/scss/mixins';

// Filter Content
.posts-archive-categories {
    margin: 0px auto 3.5rem;
    position: relative;
    text-align: center;

    @media (max-width: 1200px) {
        text-align: left;
    }

    @media (max-width: 992px) {
        text-align: center;
    }

    @media (max-width: 767px) {
        margin: 0px auto 4rem;
        margin-left: -1rem;
        margin-right: -1rem;
    }

    ul.nav-filter {
        @include inline-flex;
        @include flex-wrap(wrap);
        gap: 0.5rem;
        margin: 0;
        position: relative;

        @media (min-width: 768px) {
            padding: 2.5rem 3rem;
            background-image: url('data:image/svg+xml,<svg width="642" height="25" viewBox="0 0 642 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M641.422 -1.44727H628.045C621.486 -1.44727 615.169 1.03166 610.361 5.49266L597.511 17.4148C592.703 21.8758 586.386 24.3547 579.827 24.3547H165.066H61.5946C55.0357 24.3547 48.7191 21.8758 43.9109 17.4148L31.0609 5.49268C26.2527 1.03167 19.9361 -1.44727 13.3772 -1.44727H0" stroke="black"/></svg>'), url('data:image/svg+xml,<svg width="642" height="23" viewBox="0 0 642 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M641.422 26.3018H628.045C621.486 26.3018 615.169 23.8228 610.361 19.3618L597.511 7.43972C592.703 2.97871 586.386 0.499783 579.827 0.499783H165.066H61.5946C55.0357 0.499783 48.7191 2.97872 43.9109 7.43973L31.0609 19.3618C26.2527 23.8228 19.9361 26.3018 13.3772 26.3018H0" stroke="black"/></svg>');
            background-repeat: no-repeat;
            background-position: center top, center bottom;
            background-color: #DCE6DE;
            border: 1px solid #000000;
            border-radius: 20px;

            &::before {
                content: '';
                position: absolute;
                top: 1.063rem;
                left: 0;
                width: 100%;
                height: 1.25rem;
                background: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="12.1382" cy="12.207" r="9.79243" transform="rotate(7 12.1382 12.207)" fill="black"/><circle cx="11.1647" cy="11.0555" r="9.92044" transform="rotate(7 11.1647 11.0555)" fill="rgb(220 230 222)" stroke="black"/><path d="M16.7177 18.5355L5.11102 3.6797" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) top, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="11.5268" cy="11.4448" r="9.79242" fill="black"/><circle cx="10.4204" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M3.51562 17.168L16.8462 3.83737" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) top;
                background-size: 1.25rem 1.25rem;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 1.063rem;
                left: 0;
                width: 100%;
                height: 1.25rem;
                background: url('data:image/svg+xml;utf8,<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="9.79242" cy="10.8176" r="9.79242" fill="black"/><circle cx="11.0513" cy="10.4204" r="9.92044" fill="rgb(220 230 222)" stroke="black"/><path d="M8.73047 1.30933L12.8936 19.6962" stroke="black"/></svg>') no-repeat calc(0% + 1.063rem) bottom, url('data:image/svg+xml;utf8,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="10.0898" cy="11.4948" r="9.79242" transform="rotate(91.7673 10.0898 11.4948)" fill="black"/><circle cx="11.1473" cy="10.4206" r="9.92044" transform="rotate(91.7673 11.1473 10.4206)" fill="rgb(220 230 222)" stroke="black"/><path d="M4.61606 3.31091L17.5292 17.0463" stroke="black"/></svg>') no-repeat calc(100% - 1.063rem) bottom;
                background-size: 1.25rem 1.25rem;
            }
        }

        @media (max-width: 767px) {
            @include flex-wrap(nowrap);
            @include align-items (flex-start);
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            overflow: hidden;
            overflow-x: auto;
            width: 100%;
            padding-bottom: 0.4rem;

            li {
                &:first-child {
                    padding-left: 1rem;
                }

                &:last-child {
                    padding-right: 1rem;
                }
            }
        }


        li {
            a {
                border: 1px solid var(--black);
                background-color: var(--light-yellow);
                @include border-radius(2.5rem);
                color: var(--text-black);
                padding: 0.625rem 1.5rem;
                font-weight: 600;
                font-size: 1.25rem;
                display: block;
                @include transition(0.2s, ease-in-out);
                white-space: nowrap;
                text-decoration: none;
                height: 2.875rem;
                text-align: center;
                line-height: 1.2;

                @media (max-width: 767px) {
                    font-size: 0.875rem;
                    height: 2.5rem;
                }

                &:hover,
                &:focus {
                    background-color: var(--yellow);
                }

                &.active {
                    background-color: var(--yellow);
                }
            }

            &.active>a {
                background-color: var(--yellow);
            }
        }
    }

    .ajax-post-search {
        @media (min-width: 992px) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}


.container-async {
    position: relative;
    z-index: 9;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icw-loading {
    text-align: center;
    display: inline-block;
    width: 16px;
    height: 16px;
    white-space: nowrap;

    &:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #fff;
        border: 2px solid #b65aff;
        border-color: #7654fc transparent #b65aff transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        -webkit-animation: lds-dual-ring 1.2s linear infinite;
    }
}

.post-search {
    position: relative;
    width: 100%;
    min-width: 15.125rem;
    max-width: 15.125rem;
    height: 2.875rem;
    font-size: 0;
    cursor: pointer;
    background-color: var(--white);
    @include flexbox();
    @include transition(0.3s, ease-in-out);
    @include border-radius(1.5rem);
    overflow: hidden;

    @media (max-width: 992px) {
        max-width: 70%;
        margin: 0 auto;
        margin-top: 2rem;
    }

    @media (max-width: 767px) {
        max-width: calc(100% - 2rem);
        margin: 2rem 1rem 0;
    }

    input[type='search'] {
        background-color: var(--white);
        border: 1px solid var(--black);
        width: 100%;
        padding: 0.625rem 1.5rem 0.625rem 3rem;
        height: 2.875rem;
        cursor: pointer;
        color: var(--text-black);
        font-family: var(--font-family-body);
        font-weight: 300;
        font-size: 1.25rem;
        @include border-radius(1.5rem);

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }

        &::placeholder {
            color: #C3C3C4;
        }

        @media (max-width: 992px) {
            width: 100%;
            cursor: initial;
            padding: 0.625rem 1.5rem 0.625rem 3rem;
        }

        &:focus-visible {
            outline: none;
        }
    }

    .q-loader {
        position: absolute;
        left: 0.063rem;
        top: 0.063rem;
        width: 2.75rem;
        height: 2.75rem;
        display: none;
        z-index: -1;
        @include border-radius(0);
        @include align-items(center);
        @include justify-content(center);

        &.show {
            z-index: 3;
            @include flexbox;
        }
    }

    .q-search-icon {
        position: absolute;
        left: 0.5rem;
        top: 0.063rem;
        width: 2.75rem;
        height: 2.75rem;
        @include border-radius(0);
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
    }

    .q-close-btn {
        position: absolute;
        right: 0.063rem;
        top: 0.063rem;
        width: 2.75rem;
        height: 2.75rem;
        cursor: pointer;
        @include border-radius(0);
        outline: none;
        @include transition(0.3s, ease-in-out);
        background: transparent;
        border: none;
        display: none;
        @include align-items(center);
        @include justify-content(center);

        &:hover,
        &:focus {
            outline: none;
        }

        &:focus-visible {
            border-color: #000;
        }

        .q-icon-close {
            display: inline-block;
            line-height: 0.7;
        }
    }

    &.active {

        @media (max-width: 992px) {
            width: 100%;
        }

        input[type='search'] {
            width: 100%;
            cursor: initial;
        }

        .q-close-btn {
            z-index: 2;
            display: flex;
        }
    }
}


.seperator {
    margin-bottom: 2rem;
    font-size: 1.125rem;

    .status {
        display: none;
    }
}

.infscr-pager {
    display: flex !important;
    justify-content: center;
    /*
    .btn {
        .icw-loading {
            background-image: none !important;

            &::after {
                position: absolute;
                left: 18px;
                @include transition(0.3s, ease-in-out);

                @media (max-width: 767px) {
                    left: 10px;
                }
            }

            &:after {
                background-color: transparent !important;
            }
        }
    }
    */

    a[disabled] {
        opacity: 0.4;
        pointer-events: none;
        border: 0px !important;
        padding: 0 inherit;
        min-height: inherit !important;
        font-weight: 400;
        background-color: #a5a5a5 !important;
    }
}

.icw-pagenavi {
    list-style: none;
    margin: 8rem 0;
    padding: 0;
    text-align: center;
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px !important;

    a,
    span {
        display: inline-block;
        padding: 0 0.75rem 0.5rem;
        text-decoration: none;
        color: #000;
        font-weight: 600;

        &:hover,
        &:focus {
            color: #7962fe;
        }
    }

    .current {
        color: #7962fe !important;
        border-bottom: 3px solid #7962fe;
    }
}