.hero-header-section {
    padding: 100px 0;
    min-height: 90vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    @media (max-width: 1200px) {
        padding: 70px 0;        
    }
    @media (max-width: 992px) {
        padding: 50px 0;        
    }
    .hero-title {
        .tag-line {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.4;
            margin-bottom: 5px;
        }
        h1 {
            margin-bottom: 25px;
        }
        .sort-info {
            font-size: 20px;
            color: #f1f1f1;
        }
        .action {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 15px;
        }
    }
    .hero-thumb-slider-block {
        margin-top: 30px;
        max-width: 90%;
        .slide-thumb-info {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            padding: 15px 25px;
            border-radius: 5px;
            font-weight: 500;
            .icon {
                opacity: 0;
                img {
                    margin-top: 1px;
                    box-shadow: 0 0 13px 2px rgba(255, 255, 255, 0.4);
                }
            }
            .info {
                .title {
                    font-size: 16px;
                    line-height: 1.3;
                    color: #f1f1f1;
                }
                p {
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.65);
                }
            }
        }
        .splide__slide {
            &.is-active {
                .slide-thumb-info {
                    background-color: #1d2428;
                    background-image: linear-gradient(rgba(65, 147, 188, 0), rgba(65, 147, 188, 0.161));
                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .outside-right {
        .hero-img-slider-block {
            width: 50vw;
            background: url(../images/img-gradient-bg.svg) no-repeat;
            background-position: top left;
            background-size: cover;
            border-radius: 17px;
            border: 1px solid #aa80fd;
            padding: 15px 15px;
            margin-left: 60px;
            .splide_track {
                border-radius: 15px;
            }
            .media-block {
                width: 570px;
                max-width: 570px;
                border: 1px solid #2b2b2b;
                border-radius: 15px;
                overflow: hidden;
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
        }
    }
}