.main-footer {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: $black;
    color: $white;
    z-index: 5;

    @media (max-width: 767px) {
        padding: 40px 0 16px;
    }

    .container {
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    a {
        text-decoration: none;
    }

    .copyright-text {
        font-size: 12px;

        @media (max-width: 992px) {
            text-align: left;
        }

        @media (max-width: 767px) {
            margin-top: 16px;
        }
    }

    .footer-grid-block {
        display: grid;
        grid-template-columns: 380px auto;
        grid-gap: 200px;

        @media (max-width: 1200px) {
            grid-template-columns: 250px auto;
            grid-gap: 100px;
        }

        @media (max-width: 992px) {
            grid-template-columns: 160px auto;
            grid-gap: 60px;
        }

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            grid-gap: 0px;
        }
    }

    .footer-logo-block {
        height: 100%;
        text-align: center;
        @include flexbox;
        @include flex-direction(column);
        position: relative;

        @media (min-width: 767px) {
            &::before {
                content: '';
                width: 1px;
                height: 100%;
                background: rgba(#D4D6E5, 0.4);
                position: absolute;
                top: 0;
                right: -100px;

                @media (max-width: 1200px) {
                    right: -50px;
                }

                @media (max-width: 992px) {
                    right: -20px;
                }
            }
        }

        @media (max-width: 767px) {
            height: auto;
        }

        .footer-logo {
            margin-top: 35px;
            margin-bottom: 60px;

            @media (max-width: 767px) {
                margin-top: 0px;
                margin-bottom: 30px;
            }

            img {
                width: 100%;
                max-height: 145px;

                @media (max-width: 1200px) {
                    max-height: 80px;
                }

                @media (max-width: 767px) {
                    width: 100%;
                    max-height: 200px;
                }
            }
        }
    }

    .footer-info-block {
        padding-top: 60px;

        @media (max-width: 767px) {
            padding-top: 0px;
            @include flexbox;
            @include flex-direction(column);
        }

        .footer-desc {
            margin-bottom: 40px;

            @media (max-width: 992px) {
                order: 1;
                margin-bottom: 30px;
            }
        }

        .social-menu-block {
            @include flexbox;
            @include align-items(center);
            gap: 15px;
            margin-bottom: 30px;

            @media (max-width: 767px) {
                @include justify-content(center);
                padding: 16px 0;
                border-top: 1px solid rgba(#D4D6E5, 0.4);
                border-bottom: 1px solid rgba(#D4D6E5, 0.4);
                margin: 0 -15px;
                margin-bottom: 20px;
                order: 3;
            }

            li {
                a {
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);

                    svg {
                        max-height: 20px;

                        path {
                            @include transition(0.05s, ease-in-out);
                        }
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        svg {
                            path {
                                fill: rgba($white, 0.6);
                            }
                        }
                    }
                }
            }
        }

        .contact-menu-list {
            @include flexbox;
            @include align-items(center);
            @include flex-wrap(wrap);
            gap: 20px;
            margin-bottom: 40px;

            @media (max-width: 992px) {
                margin-bottom: 30px;
            }

            @media (max-width: 767px) {
                @include flex-wrap(wrap);
                gap: 15px 40px;
                margin-bottom: 30px;
                order: 2;
            }

            li {
                color: $white;
                font-size: 17px;
                font-weight: 700;

                @media (max-width: 767px) {
                    font-size: 14px;
                }

                span {
                    display: block;
                    font-size: 13px;
                    font-weight: 600;
                    margin-bottom: 5px;
                    text-transform: uppercase;
                    line-height: 1;
                    color: rgba($white, 0.5);

                    @media (max-width: 767px) {
                        font-size: 12px;
                    }
                }

                a.info {
                    color: $white;
                    text-decoration: none;
                    text-underline-offset: 4px;
                    white-space: nowrap;

                    &:hover,
                    &:focus,
                    &:active {
                        text-decoration: underline
                    }
                }
            }
        }

        .footer-menu-inline {
            @include flexbox;
            @include align-items(center);
            gap: 12px;
            margin-left: -12px;

            @media (max-width: 767px) {
                order: 4;
            }

            li {
                margin-bottom: 0;

                a {
                    color: $white;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1;
                    padding: 5px 12px;
                    @include border-radius(20px);

                    @media (max-width: 767px) {
                        font-size: 12px;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background: #F7F6FD;
                        color: $black;
                    }
                }
            }
        }
    }
}