@import '../../assets/css/scss/mixins';

.logos-section {

    .trusted-logos {

        @include align-items(center);
        @include justify-content(center);
        @include flexbox;
        gap: 0.5rem;
        @include flex-wrap(wrap);

        @media (max-width: 767px) {
            gap: 1rem;
        }

        &.logo-style-grid {

            display: -ms-grid;
            display: grid;
            -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            @include align-items(stretch);

            @media (min-width: 768px) {
                &.logo-col-1 {
                    .logo-item {
                        grid-column-start: 2;
                    }
                }

                &.logo-col-2 {
                    -ms-grid-columns: 1fr 2rem 1fr;
                    grid-template-columns: repeat(2, 1fr);
                }

                &.logo-col-3 {
                    -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
                    grid-template-columns: repeat(3, 1fr);
                }
            }


            @media (max-width: 767px) {
                grid-gap: 1rem;
                -ms-grid-columns: 1fr 2rem 1fr;
                grid-template-columns: repeat(2, 1fr);

                &.logo-col-3 {
                    .logo-item:last-child {
                        grid-column: span 2;
                        /*same rule as*/
                        grid-column-start: span 2;
                        grid-column-end: auto;
                    }
                }
            }

            .logo-item {
                border-radius: 12px;
                border: 1px solid #E6EAEA;
                padding: 1rem;
                text-align: center;

                @include align-items(center);
                @include justify-content(center);
                @include flexbox;

                @media (max-width: 767px) {
                    padding: 1rem;
                }

                img {
                    width: auto;
                    max-height: 90px;
                    aspect-ratio: 3/2;
                    object-fit: contain;
                }
            }
        }

        .logo-item {
            img {
                width: auto;
                height: 40px;
                aspect-ratio: 3/2;
                object-fit: contain;

                @media (max-width: 767px) {
                    height: 24px;
                }
            }
        }

        a.logo-item {
            img {
                @include transition(0.3s, ease-in-out);
            }

            &:hover,
            &:focus {
                img {
                    @include transform(scale(1.04));
                }
            }
        }
    }

    // Slider
    &.trusted-logo-slider-full {
        &>.container {
            max-width: inherit;
        }

        .mw-full {}
    }

    .logo-style-slider {
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0)90%, rgba(0, 0, 0, 0) 100%);

        .splide__arrows {
            opacity: 0px;
            visibility: hidden;
        }


        // .splide__arrow--prev {
        // 	left: -10px;	
        // }
        // .splide__arrow--next {
        // 	right:-10px;	
        // }

        &:hover {
            .splide__arrows {
                opacity: 1px;
                visibility: visible;
            }
        }

        .splide__slide {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);
        }

        .logo-item {
            @include flexbox();
            @include align-items(center);
            @include justify-content(center);

            img {
                max-height: 70px;
                width: auto;

                @media (min-width:992px) {
                    flex: none;
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    aspect-ratio: 3/2;
                    object-fit: contain;
                }
            }
        }

        a.logo-item {
            img {
                @include transition(0.3s, ease-in-out);
                opacity: 0.5;
            }

            &:hover,
            &:focus {
                img {
                    opacity: 1;
                    @include transform(scale(1.03));
                }
            }
        }
    }

}