@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.trusted-logo-section {
    .section-title {
        margin-bottom: 2.5rem;
        h2 {
            font-size: 1rem !important;
            font-weight: 500;
            letter-spacing: 0;
        }
    }
    .logo-slider {
        -webkit-mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
        -webkit-mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
        mask-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, #000), color-stop(90%, #000), to(transparent));
        mask-image: linear-gradient(to right, transparent 0%, #000 10%, #000 90%, transparent 100%);
        .logo-item {
            position: relative;
            @include transition(0.2s, ease-in-out);
            .logo-img {
                img {
                    max-height: 2.813rem;
                    width: 100%;
                }
            }
            a {
                position: unset;
                opacity: 0.7;
                visibility: hidden;
                font-weight: 500;
                font-size: 0.875rem;
                gap: 0.375rem;
                @include transition(0.2s, ease-in-out);
                .icon-arrow {
                    width: 0.525rem;
                    height: 0.525rem;
                    margin-top: 0.188rem;
                }
                &:hover, &:focus {
                    opacity: 1;
                }
            }
            &:hover, &:focus {
                a {
                    visibility: visible;
                }
            }
        }
    }
}