// Footer
.main-footer {
    z-index: 2;
    position: relative;
    padding: 100px 0 0;
    background: var(--dark);
    overflow: hidden;

    @media (max-width: 992px) {
        padding: 70px 0 0;
    }

    @media (max-width: 767px) {
        padding: 50px 0 0;
    }

    .container {
        max-width: 1320px;
        margin: 0 auto;
    }

    a {
        text-decoration: none;
    }

    .footer-logo {
        display: inline-block;

        img {
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            max-height: 48px;

            @media (max-width: 992px) {
                max-height: 38px;
            }

            @media (max-width: 767px) {
                max-height: 28px;
            }
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    .social-list {
        @include flexbox;
        @include align-items(center);
        gap: 8px;
        margin-top: 30px;

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        li {
            a {
                width: 56px;
                height: 56px;
                flex: none;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                border: 1px solid var(--gray400);
                @include border-radius(12px);
                @include transition(0.1s, ease-in-out);

                @media (max-width: 767px) {
                    width: 48px;
                    height: 48px;
                }

                &:hover,
                &:focus {
                    border-color: var(--primary);
                }
            }
        }
    }

    .footer-menu-block {
        @include flexbox;
        @include justify-content(space-between);

        @media (max-width: 575px) {
            @include justify-content(unset);
            gap: 0 100px;
            flex-wrap: wrap;
        }
    }

    .footer-menu {
        @media (max-width: 575px) {
            &:last-child {
                margin-top: 40px;
                flex-basis: 100%;
            }
        }

        li {
            line-height: 1;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                @include inline-flex;
                color: var(--white);
                font-size: 14px;
                font-weight: 600;
                @include transition(0.1s, ease-in-out);

                &:hover,
                &:focus {
                    color: var(--primary);
                }
            }

            &.current-menu-item,
            body.single-post &.current_page_parent {
                &>a {
                    color: var(--primary);
                }
            }
        }
    }

    .copyright-block {
        border-top: 1px solid rgba(#fff, 0.1);
        margin-top: 50px;
        padding: 50px 0;

        @media (max-width: 992px) {
            margin-top: 30px;
            padding: 30px 0;
        }

        .copyright-text {
            color: var(--white);
            font-size: 14px;

            @media (max-width: 992px) {
                text-align: center;
                margin-top: 25px;
            }

            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }

    .footer-menu-inline {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
        gap: 25px;

        @media (max-width: 992px) {
            @include justify-content(center);
        }

        @media (max-width: 767px) {
            gap: 15px;
        }

        li {
            a {
                @include inline-flex;
                color: var(--white);
                font-size: 12px;
                font-weight: 500;
                @include transition(0.1s, ease-in-out);
                text-transform: uppercase;
                text-decoration: underline;
                text-underline-offset: 4px;
                text-decoration-color: rgba(#fff, 0.3);

                @media (max-width: 767px) {
                    font-size: 10px;
                }

                &:hover,
                &:focus {
                    color: var(--primary);
                    text-decoration-color: var(--primary);
                }
            }

            &.current-menu-item {
                &>a {
                    color: var(--primary);
                    text-decoration-color: var(--primary);
                }
            }
        }
    }

    .site-logo-block {
        padding: 0px 20px;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        svg {
            max-width: 100%;
        }

        &.is-animate {
            animation: slide-up 0.5s forwards;
        }
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

// Footer goto
@-webkit-keyframes border-transform {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}