// Footer
.main-footer {
    z-index: 2;
    position: relative;
    padding: 100px 0 0;
    background: var(--dark);
    overflow: hidden;

    @media (max-width: 992px) {
        padding: 70px 0 0;
    }

    @media (max-width: 767px) {
        padding: 50px 0 0;
    }

    .container {
        max-width: 1320px;
        margin: 0 auto;
    }

    .footer-menu-content {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    a {
        text-decoration: none;
    }

    .footer-logo {
        display: inline-block;

        img {
            pointer-events: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            max-height: 48px;

            @media (max-width: 992px) {
                max-height: 38px;
            }

            @media (max-width: 767px) {
                max-height: 28px;
            }
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    .social-list {
        @include flexbox;
        @include align-items(center);
        gap: 8px;
        margin-top: 30px;

        @media (max-width: 992px) {
            margin-bottom: 40px;
        }

        li {
            a {
                width: 56px;
                height: 56px;
                flex: none;
                @include flexbox;
                @include align-items(center);
                @include justify-content(center);
                border: 1px solid var(--gray400);
                @include border-radius(12px);
                @include transition(0.1s, ease-in-out);

                @media (max-width: 767px) {
                    width: 48px;
                    height: 48px;
                }

                &:hover,
                &:focus {
                    border-color: var(--primary);
                }
            }
        }
    }

    .footer-menu-block {
        @include flexbox;
        @include justify-content(space-between);

        @media (max-width: 575px) {
            @include justify-content(unset);
            gap: 0 100px;
            flex-wrap: wrap;
        }
    }

    .footer-menu {
        @media (max-width: 575px) {
            &:last-child {
                margin-top: 40px;
                flex-basis: 100%;
            }
        }

        li {
            line-height: 1;
            margin-bottom: 25px;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                @include inline-flex;
                color: var(--white);
                font-size: 14px;
                font-weight: 600;
                @include transition(0.1s, ease-in-out);

                &:hover,
                &:focus {
                    color: var(--primary);
                }
            }

            &.current-menu-item,
            body.single-post &.current_page_parent {
                &>a {
                    color: var(--primary);
                }
            }
        }
    }

    .footer-logos {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 30px;
        margin-top: 30px;

        @media (min-width: 992px) {
            margin-top: 50px;
            padding-top: 50px;
        }

        &__container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            align-items: center;

            @media (min-width: 992px) {
                gap: 65px;
                justify-content: space-between;
            }
        }
    }

    .footer-form {
        margin-top: 84px;

        &__container {
            max-width: 536px;

            @media (max-width: 576px) {
                display: flex;
                flex-direction: column;
            }
        }

        &__title {
            color: #ffffff;
            margin: 0 0 28px;

            @media (max-width: 767px) {
                font-size: 24px;
                line-height: 30px;
            }
        }

        &__info {
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
            margin-top: 14px;
        }

        .hbspt-form {
            @media (max-width: 576px) {
                display: contents;
            }

            form {
                width: 100%;
                display: contents;

                @media (min-width: 577px) {
                    display: flex;
                    gap: 8px;
                    justify-content: space-between;
                }
            }

            .hs-form-field {
                margin: 0;
                flex-grow: 1;

                label {
                    font-size: 14px;
                    line-height: 20px;
                    color: #ffffff;
                    margin-bottom: 7px;
                    font-weight: 400;
                    display: inline-block;

                    @media (min-width: 768px) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                input {
                    background-color: transparent;
                    border-radius: 12px;
                    border: 1px solid #65717F;
                    color: #ffffff;
                    height: 64px;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 400;
                    padding: 0 20px;
                    line-height: 1;
                    &.error {
                        border-color: #f36161;
                    }


                }
            }

            .hs-submit {
                margin: 34px 0 0;

                @media (max-width: 992px) {
                    margin: 29px 0 0;
                }

                @media (max-width: 576px) {
                    margin: 15px 0 0;
                    order: 1;
                }

                .actions {
                    position: relative;

                    &::before {
                        content: "";
                        @include flexbox;
                        @include align-items(center);
                        @include justify-content(center);
                        width: 56px;
                        height: 56px;
                        border: 1px solid transparent;
                        background-color: #090A0C;
                        background-image: url('data:image/svg+xml,<svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 6.99997H9.086L6.793 9.29297C6.69749 9.38522 6.62131 9.49556 6.5689 9.61757C6.51649 9.73957 6.4889 9.87079 6.48775 10.0036C6.4866 10.1363 6.5119 10.268 6.56218 10.3909C6.61246 10.5138 6.68671 10.6255 6.7806 10.7194C6.8745 10.8133 6.98615 10.8875 7.10905 10.9378C7.23194 10.9881 7.36362 11.0134 7.4964 11.0122C7.62918 11.0111 7.7604 10.9835 7.8824 10.9311C8.00441 10.8787 8.11475 10.8025 8.207 10.707L12.207 6.70697C12.3001 6.61408 12.374 6.50373 12.4244 6.38224C12.4748 6.26075 12.5008 6.1305 12.5008 5.99897C12.5008 5.86743 12.4748 5.73719 12.4244 5.6157C12.374 5.49421 12.3001 5.38386 12.207 5.29097L8.207 1.29097C8.01923 1.10346 7.76466 0.998226 7.49929 0.998413C7.23393 0.998601 6.97951 1.1042 6.792 1.29197C6.60449 1.47974 6.49926 1.73431 6.49944 1.99968C6.49963 2.26504 6.60523 2.51946 6.793 2.70697L9.086 4.99997H1.5C1.23478 4.99997 0.98043 5.10533 0.792893 5.29286C0.605357 5.4804 0.5 5.73475 0.5 5.99997C0.5 6.26519 0.605357 6.51954 0.792893 6.70708C0.98043 6.89461 1.23478 6.99997 1.5 6.99997Z" fill="white"/></svg>');
                        background-size: 12px;
                        background-position: 22px center;
                        background-repeat: no-repeat;
                        @include box-shadow(0px 2px 2px rgba(11, 32, 55, 0.37));
                        @include border-radius(12px);
                        position: absolute;
                        transition: all 0.3s cubic-bezier(0.65, 0, 0.076, 1);
                        left: 0.25rem;
                        top: 0.25rem;
                        z-index: 1;
                    }

                    .hs-button {
                        min-height: 64px;
                        font-weight: 600;
                        font-size: 14px;
                        position: relative;
                        border: 4px solid #ffffff;
                        @include inline-flex;
                        @include align-items(center);
                        @include justify-content(center);
                        line-height: 1;
                        @include border-radius(1rem);
                        padding: 4px;
                        white-space: nowrap;
                        background-color: #ffffff;
                        background-image: url(../images/icons/icon-black-arrow.svg);
                        background-position: -2px 0;
                        background-repeat: no-repeat;
                        background-size: 59px !important;
                        color: #090A0C;
                        padding: 0 20px 0 75px;
                        transition: background-color 0.3s ease-in-out;
                        cursor: pointer;
                        @media (max-width: 992px) {
                            min-height: 54px;
                            background-size: 49px !important;
                        }

                        @media (max-width: 767px) {
                            min-height: 48px;
                            background-size: 43px !important;
                        }

                        &:hover,
                        &:focus {
                            background-color: #090A0C;
                            color: #ffffff;
                        }
                    }
                }
            }

            .hs-error-msgs {
                margin-top: 10px;

                .hs-error-msg {
                    color: #f36161;
                }

                .submitted-message {
                    color: #ffffff;
                }
            }
        }
    }

    .copyright-block {
        border-top: 1px solid rgba(#fff, 0.1);
        margin-top: 50px;
        padding: 50px 0;

        @media (max-width: 992px) {
            margin-top: 30px;
            padding: 30px 0;
        }

        .copyright-text {
            color: var(--white);
            font-size: 14px;

            @media (max-width: 992px) {
                text-align: center;
                margin-top: 25px;
            }

            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }

    .footer-menu-inline {
        @include flexbox;
        @include align-items(center);
        @include justify-content(flex-end);
        gap: 25px;

        @media (max-width: 992px) {
            @include justify-content(center);
        }

        @media (max-width: 767px) {
            gap: 15px;
        }

        li {
            a {
                @include inline-flex;
                color: var(--white);
                font-size: 12px;
                font-weight: 500;
                @include transition(0.1s, ease-in-out);
                text-transform: uppercase;
                text-decoration: underline;
                text-underline-offset: 4px;
                text-decoration-color: rgba(#fff, 0.3);

                @media (max-width: 767px) {
                    font-size: 10px;
                }

                &:hover,
                &:focus {
                    color: var(--primary);
                    text-decoration-color: var(--primary);
                }
            }

            &.current-menu-item {
                &>a {
                    color: var(--primary);
                    text-decoration-color: var(--primary);
                }
            }
        }
    }

    .site-logo-block {
        padding: 0px 20px;
        overflow: hidden;
        opacity: 0;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        svg {
            max-width: 100%;
        }

        &.is-animate {
            animation: slide-up 0.5s forwards;
        }
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

// Footer goto
@-webkit-keyframes border-transform {

    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }

    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }

    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }

    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }

    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }

    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }

    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}