/* Make links/icons inherit navbar color */
.navbar a,
.navbar button,
.navbar svg,
.navbar .w-nav-brand,
.navbar .w-button {
    color: inherit !important;
    fill: currentColor !important;
}

.main-header {
    position: sticky;
    top: 0;
    z-index: 100;

    &.is-dark {
        .navbar {
            background: var(--dark);
            color: var(--white);
            .navbar-inner {
                .logo {
                    img {
                        filter: unset;
                    }
                }
                .nav-right {
                    .search-form {
                        .input-group {
                            .search-icon {
                                filter: unset;
                            }
                        }

                        input {
                            border-color: rgba(255,255,255,0.5);
                            background-color: var(--dark);
                            color: var(--white);
                        }
                    }

                    .profile-menu {
                        &>a {
                            border: 1px solid rgba(255,255,255,0.5);
                            @include border-radius(50%);
                        }
                    }
                }
                .nav-menu {
                    .mainMenu {
                        li {
                            &.current-menu-item {
                                a {
                                    background-color: rgba(255, 255, 255, 0.2);
                                }
                            }
                        }
                    }
                }
                .navbar-toggler {

                    span {
                        background-color: var(--white);
                    }
                }
            }
        }
    }

    .navbar {
        padding: 0.5rem 1rem;
        height: 4rem;
        background: var(--white);
        @include box-shadow(rgba(0, 0, 0, 0.1) 0px 1px 2px 0px);
        color: var(--dark900);

        .navbar-inner {
            @include flexbox;
            @include align-items(center);
            gap: 1rem;
            height: 100%;

            .logo {
                line-height: 0.7;

                img {
                    min-width: 8.5rem;
                    height: 1.125rem;
                    max-height: 1.125rem;
                    filter: invert(1);
                }
            }

            .nav-right {
                margin-left: auto;
                @include flexbox;
                @include align-items(center);
                gap: 1rem;

                .search-form {
                    width: 100%;
                    max-width: 12.5rem;
                    .input-group {
                        position: relative;
                        @include flexbox;
                        @include align-items(center);

                        .search-icon {
                            position: absolute;
                            left: 0.625rem;
                            top: calc(50% - 0.625rem);
                            filter: brightness(0.5);
                            line-height: 0.7;
                        }
                    }

                    input {
                        border: 1px solid #dadde1;
                        @include border-radius(0.5rem);
                        background-color: #ebedf0;
                        font-size: 14px;
                        padding: 0.625rem 1rem 0.625rem 2.1rem;
                        width: 100%;

                        &:-internal-autofill-selected {
                            background-color: transparent !important;
                        }

                        &:hover {
                            border-color: var(--primary);
                        }

                        &:focus {
                            outline: none;
                            border-color: var(--primary);
                        }
                    }
                }

                .profile-menu {
                    &>a {
                        @include flexbox;
                        @include align-items(center);
                        overflow: hidden;

                        img {
                            @include border-radius(50%);
                            width: 38px;
                            height: 38px;
                            flex: none;
                            object-fit: cover;
                            object-position: center;
                        }
                    }

                    .sub-menu {
                        box-shadow: 0 8px 26px -4px hsla(0deg, 0%, 8%, 0.15), 0 8px 9px -5px hsla(0deg, 0%, 8%, 0.06);
                        transition: all 0.3s ease-in-out;
                        position: absolute;
                        display: block;
                        opacity: 0;
                        top: 0;
                        right: 0;
                        transform-origin: 50% 0;
                        pointer-events: none;
                        transform: rotateX(-20deg) translateZ(0) translate3d(0, 37px, 0) !important;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        will-change: transform, box-shadow;
                        background: #ffffff;
                        border: 1px solid #d3d3d3;
                        padding: 0.25rem;
                        min-width: 200px;
                        @include border-radius(12px);
                        margin-top: 20px;
                        z-index: 100;

                        li {
                            &:not(:last-child) {
                                border-bottom: 1px solid #e3e3e3;
                            }

                            &:last-child {
                                a {
                                    margin-bottom: 0;
                                }
                            }

                            a {
                                font-size: 0.875rem;
                                line-height: 1;
                                padding: 0.75rem 0.8rem;
                                margin: 0.15rem 0;
                                text-decoration: none;
                                @include flexbox;
                                @include align-items(center);
                                @include transition(0.2s, ease-in-out);
                                @include border-radius(0.25rem);
                                color: var(--dark900) !important;
                                &.user-info {
                                    @include flexbox;
                                    @include align-items(center);
                                    gap: 0.5rem;

                                    .user-img {
                                        overflow: hidden;
                                        line-height: 0.7;

                                        img {
                                            @include border-radius(50%);
                                            width: 2.25rem;
                                            height: 2.25rem;
                                            flex: none;
                                            object-fit: cover;
                                            object-position: center;
                                        }
                                    }

                                    .info {
                                        line-height: 1;

                                        .name {
                                            font-size: 1rem;
                                            display: block;
                                            font-weight: 600;
                                            line-height: 1.2;
                                        }

                                        .designation {
                                            font-size: 0.75rem;
                                        }
                                    }
                                }

                                &:hover,
                                &:focus {
                                    background: rgba(23, 77, 100, 0.05);
                                    font-weight: 600;
                                }
                            }
                        }

                        &.is-open {
                            opacity: 1;
                            pointer-events: auto;
                            visibility: visible;
                            transform: rotateX(0deg) translateZ(0) translate3d(0, 37px, 5px) !important;
                        }
                    }
                }
            }

            .nav-menu {
                margin-left: 1rem;
                @media (max-width: 992px) {
                    display: none;
                }
                .mainMenu {
                    @include flexbox;
                    @include align-items(center);
                    gap: 0.25rem;

                    li {
                        a:not(.btn) {
                            font-size: 1rem;
                            text-decoration: none;
                            white-space: nowrap;
                            padding: 0.4rem 0.75rem 0.42rem;
                            line-height: 1.3;
                            border-radius: 6px;
                            display: inline-block;

                            &:hover,
                            &:focus {
                                font-weight: 500;
                            }
                        }

                        &.current-menu-item {
                            a {
                                background-color: #ebf2fc;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }

            .navbar-toggler {
                @media (min-width: 991px) {
                    display: none;
                }

                display: inline-block;
                cursor: pointer;
                border: none;
                padding: 0px;
                background-color: transparent;
                z-index: 10;
                height: 25px;
                width: 25px;

                span {
                    width: 25px;
                    height: 2px;
                    margin: 5px 0;
                    background-color: var(--dark);
                    border-radius: 2px;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    display: block;
                    position: relative;
                    @include transition(0.2s, ease-in-out);
                }

                &.is-visible {
                    span {
                        @include transition(0.2s, ease-in-out);

                        &:nth-child(1) {
                            @include transform(rotate(45deg));
                            width: 25px;
                            top: 7px;
                        }

                        &:nth-child(2) {
                            opacity: 0;
                            left: 0px;
                            width: 25px;
                        }

                        &:nth-child(3) {
                            @include transform(rotate(-45deg));
                            width: 25px;
                            top: -7px;
                        }
                    }
                }
            }
        }
    }
}