.main-header {
    position: sticky;
    top: 0;
    z-index: 100;

    .navbar {
        padding: 0.5rem 1rem;
        height: 4rem;
        background: var(--dark);

        .navbar-inner {
            @include flexbox;
            @include align-items(center);
            gap: 1rem;
            height: 100%;

            .logo {
                line-height: 0.7;

                img {
                    min-width: 8.5rem;
                    height: 1.125rem;
                    max-height: 1.125rem;
                }
            }

            .nav-search {
                width: 100%;
                max-width: 18rem;
                margin-left: auto;

                form {
                    .input-group {
                        position: relative;
                        @include flexbox;
                        @include align-items(center);
                        border: 1px solid rgba(#ffffff, 0.5);
                        @include border-radius(0.5rem);
                        background-color: var(--dark);

                        .search-icon {
                            position: absolute;
                            left: 0.625rem;
                            top: calc(50% - 0.625rem);
                        }
                    }

                    input {
                        color: var(--white);
                        font-size: 14px;
                        background: transparent;
                        border: none;
                        padding: 0.625rem 1rem 0.625rem 2.5rem;
                        @include border-radius(0.5rem);
                        width: 100%;

                        &:-internal-autofill-selected {
                            background-color: transparent !important;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            .nav-menu {
                margin-left: 1rem;

                .mainMenu {
                    @include flexbox;
                    @include align-items(center);
                    gap: 1.5rem;

                    li {
                        a:not(.btn) {
                            font-size: 0.875rem;
                            font-weight: 600;
                            color: var(--white);
                            text-decoration: none;
                            white-space: nowrap;

                            &:hover,
                            &:focus {
                                color: var(--primary);
                            }
                        }
                    }
                }
            }

            .navbar-toggler {
                @media (min-width: 991px) {
                    display: none;
                }

                display: inline-block;
                cursor: pointer;
                border: none;
                padding: 0px;
                background-color: transparent;
                z-index: 10;
                margin-left: 15px;
                height: 25px;
                width: 25px;

                span {
                    width: 25px;
                    height: 2px;
                    margin: 5px 0;
                    background-color: var(--white);
                    border-radius: 2px;
                    -moz-border-radius: 2px;
                    -webkit-border-radius: 2px;
                    display: block;
                    position: relative;
                    @include transition(0.2s, ease-in-out);
                }

                &.is-visible {
                    span {
                        @include transition(0.2s, ease-in-out);

                        &:nth-child(1) {
                            @include transform(rotate(45deg));
                            width: 25px;
                            top: 7px;
                        }

                        &:nth-child(2) {
                            opacity: 0;
                            left: 0px;
                            width: 25px;
                        }

                        &:nth-child(3) {
                            @include transform(rotate(-45deg));
                            width: 25px;
                            top: -7px;
                        }
                    }
                }
            }
        }
    }
}