.main-content-wrapper {
    @include flexbox;
    @include flex-direction(column);
    flex: 1 0 auto;

    .main-content-container {
        width: 100%;
        @include flexbox;

        .main-content-block {
            width: 100%;
            max-width: calc(100% - 19.375rem);
            flex-grow: 1;
            @media (max-width: 992px) {
                max-width: 100%;
            } 
            .main-content {
                max-width: 1320px;
                margin: 0 auto;
                padding: 1rem;
                display: grid;
                grid-template-columns: auto 330px;
                @media (max-width: 992px) {
                    grid-template-columns: 100%;
                } 
                .page-title {
                    h1 {
                        margin-top: 0;
                        font-size: 48px;
                        margin-bottom: 1.5rem;
                        font-weight: 700;
                    }
                }
                .table-of-contents {
                    @media (max-width: 992px) {
                        display: none;
                    }
                }
            }
        }

    }
}
.content-block {
    p {
        margin-bottom: 1.25rem;
        line-height: 1.65;
    }
    ul {
        padding-left: 2rem;
        li {
            list-style-type: disc;
            margin-top: 1rem;
            margin-bottom: 1.25rem;
        }
    }
}