.main-content-wrapper {
    @include flexbox;
    @include flex-direction(column);
    flex: 1 0 auto;

    .main-content-container {
        width: 100%;
        @include flexbox;

        .main-content-block {
            width: 100%;
            max-width: calc(100% - 19.375rem);
            flex-grow: 1;
            @media (max-width: 992px) {
                max-width: 100%;
            } 
            .main-content {
                max-width: 82.5rem;
                margin: 0 auto;
                padding: 1rem 1rem 2rem 1.5rem;
                display: grid;
                grid-template-columns: auto 18.75rem;
                @media (max-width: 1200px) {
                    grid-template-columns: auto 25%;
                } 
                @media (max-width: 992px) {
                    grid-template-columns: 100%;
                    & > .table-of-contents-block { 
                        display: none;
                    }
                }
                .content-wrapper {
                    padding-right: 1rem;
                    @media (max-width: 992px) {
                        order: 2;
                    }
                    .page-title {
                        h1 {
                            margin-top: 0;
                            margin-bottom: 1.5rem;
                        }
                    }
                    & > .table-of-contents-block { 
                        @media (min-width: 991px) {
                            display: none;
                        }
                    }
                }
                .table-of-contents-block {
                    @media (max-width: 992px) {
                        margin: 1rem 0; 
                    }
                    .table-of-contents {
                        max-height: calc(100vh - 6rem);
                        top: 5rem;
                        position: sticky;
                        overflow-y: auto;
                        border-left: 1px solid #dadde1;
                        padding: 0.5rem 0.5rem;
                        margin-left: 1rem;
                        @media (max-width: 992px) {
                            border: none;
                            position: relative;
                            top: unset;
                            background: rgba(0, 0, 0, 0.05);
                            padding: 0;
                            @include border-radius(0.4rem);
                            &.active {
                                .collapse-title {
                                    &::after {                                        
                                        @include transform(rotate(270deg));
                                    }
                                }
                            }
                        }
                        .collapse-title {
                            display: none;
                            @media (max-width: 992px) {
                                @include flexbox;
                                @include align-items(center);
                                @include justify-content(space-between);
                                padding: 0.4rem 0.8rem;
                                cursor: pointer;
                                &::after {
                                    content: '';
                                    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNyAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuNzQyNjcgNC45NzMxMkw4LjgwNTYyIDguMDIzNUw1Ljc2MTkzIDExLjA5MzFMNi43MDQ4OCAxMi4wMzAxTDEwLjY5MjMgOC4wMTc1Nkw2LjY3OTcxIDQuMDMwMTZMNS43NDI2NyA0Ljk3MzEyWiIgZmlsbD0iYmxhY2siIGZpbGwtb3BhY2l0eT0iMC41Ii8+Cjwvc3ZnPgo=") no-repeat center center;
                                    background-size: 1.875rem;
                                    display: inline-block;
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    @include transform(rotate(90deg));
                                    margin-top: 0.188rem;
                                    @include transition(0.3s, ease-in-out);
                                }
                            }
                        }
                        ul {
                            @media (max-width: 992px) {
                                display: none;
                                border-top: 1px solid #dadde1;
                                padding: 0.5rem 0;
                            }
                            li {
                                padding: 0.5rem;
                                line-height: 1;
                                @media (max-width: 992px) {
                                    margin: 0 0.8rem;
                                }
                                &.sub-heading {
                                    padding-left: 1rem;
                                }
                                a {
                                    color: #525860;
                                    font-size: 0.9rem;
                                    text-decoration: none;
                                    line-height: 1.5;
                                    @include transition(0.3s, ease-in-out);
                                    @media (max-width: 992px) {
                                        font-size: 0.938rem;
                                    }
                                    &.active, &:hover, &:focus {
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}
.content-block {
    scroll-behavior: smooth;
    h2 {        
        margin-top: 2.5rem;
        margin-bottom: 1.25rem;
    }
    h3 {        
        margin-top: 1.875rem;
        margin-bottom: 1.25rem;
    }
    h4 {        
        margin-top: 1.5rem;
        margin-bottom: 1.25rem;
    }
    p {
        margin-bottom: 1.25rem;
        line-height: 1.65;
    }
    ul {
        padding-left: 2rem;
        li {
            list-style-type: disc;
            margin-top: 1rem;
            margin-bottom: 1.25rem;
        }
    }
    a {
        text-underline-offset: 0.15rem;
        @include inline-flex;
        @include align-items(center);
        gap: 0.15rem;
        line-height: 1.3;
        @include transition(0.2s, ease-in-out);
        &::after {
            content: '';
            background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBmaWxsPSJyZ2IoMyAxMTMgMjM4KSIgZD0iTTM4NCA5NmMwLTE3LjctMTQuMy0zMi0zMi0zMkwxMjggNjRjLTE3LjcgMC0zMiAxNC4zLTMyIDMyczE0LjMgMzIgMzIgMzJMMjc0LjcgMTI4IDkuNCAzOTMuNGMtMTIuNSAxMi41LTEyLjUgMzIuOCAwIDQ1LjNzMzIuOCAxMi41IDQ1LjMgMEwzMjAgMTczLjMgMzIwIDMyMGMwIDE3LjcgMTQuMyAzMiAzMiAzMnMzMi0xNC4zIDMyLTMybDAtMjI0eiIvPjwvc3ZnPg==') no-repeat center center;
            background-size: contain;
            width: 0.75rem;
            height: 0.75rem;
            display: inline-block;
            @include transition(0.2s, ease-in-out);
        }
        &:hover, &:focus {
            color: var(--dark900);
            &::after {
                filter: brightness(0);
            }
        }
    }
    blockquote {
        background: rgba(84, 199, 236, 0.15);
        border-left: 0.313rem solid #4cb3d4;
        margin: 0 0 1rem;
        padding: 1rem;
        @include border-radius(0.4rem);
        @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.102));
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    h2[id],
    h3[id] {
        scroll-margin-top: 5rem;
        position: relative;
        .anchor-link {
            position: absolute;
            top: 0;
            left: -1.25rem;
            font-weight: 400;
            text-decoration: none;
            opacity: 0;
            @include transition(0.2s,ease-in-out);
        }
        &:hover, &:focus {
            .anchor-link { 
                opacity: 1;
            }
        }
    }
    h2[id] {
        .anchor-link {left: -1.5rem;}
    }
}
.last-update-text {
    font-size: 0.875rem;
    color: var(--dark900);
    font-style: italic;
    text-align: right;
    margin-top: 3rem;
}
.pagination-nav-block {
    @include flexbox;
    @include align-items(center);
    gap: 1rem;
    margin-top: 3rem;
    .pagination-link {
        border: 1px solid #dadde1;
        height: 100%;
        padding: 1rem;
        @include border-radius(0.4rem);
        @include transition(0.3s, ease-in-out);
        text-decoration: none;
        width: 100%;
        span {
            display: block;
            font-size: 0.875rem;
            color: #525860;
            margin-bottom: 0.25rem;
        }
        .page-label {
            color: var(--primary);
            font-size: 1rem;
            font-weight: 700;
            
        }
        &.prev-link {
            text-align: left;
            .page-label {
                &::before {
                    content: "« ";
                }
            }
        }
        &.next-link {
            text-align: right;
            .page-label {
                &::after {
                    content: " »";
                }
            }
        }
        &:hover, &:focus {
            border-color: var(--primary);
        }
    }
}