.main-content-wrapper {
    @include flexbox;
    @include flex-direction(column);
    flex: 1 0 auto;

    .main-content-container {
        width: 100%;
        @include flexbox;

        .main-content-block {
            width: 100%;
            max-width: calc(100% - 19.375rem);
            flex-grow: 1;
            .main-content {
                max-width: 1320px;
                margin: 0 auto;
                padding: 1rem;
                display: grid;
                grid-template-columns: auto 330px;
                .content-block {
                    
                }
            }
        }

    }
}