@import '../../assets/css/scss/mixins';

.morden-card-blocks {
    max-width: 70rem;
    margin: 0 auto;

    .row {
        &>* {
            margin-bottom: 1.5rem;
        }

        .arrow-line {
            position: relative;

            @media (max-width: 992px) {
                display: none;
            }

            svg {
                position: absolute;
                width: 450px;
                top: -195px;
                left: 120px;
                z-index: 5;
                height: auto;

                @media (max-width: 1200px) {
                    width: 360px;
                    top: -138px;
                    left: 130px;
                }
            }
        }

    }

    .morden-card {
        justify-content: space-between;
        width: 100%;
        display: flex;
        gap: 6.25rem;
        border-radius: 1.063rem;
        // overflow: hidden;
        height: 100%;
        z-index: 6;
        position: relative;

        @media (min-width: 1400px) and (max-width: 1680px) {
            gap: 5rem;
        }

        @media (max-width: 992px) {
            flex-direction: column;
            gap: 1.875rem;
        }

        &.br-bg-card {
            background: #1a1a1a url('../../assets/images/img-br-gradient-bg.svg') no-repeat;
            background-position: -40% 60%;
            background-size: cover;
            padding: 2rem 0 0 2rem;

            @media (max-width: 767px) {
                padding: 1.1rem 0 0 1.1rem;
                background-position: 10% 60%;
            }

            .card-image {
                margin-top: -2rem;

                @media (max-width: 992px) {
                    margin-top: 0;
                }
            }
        }

        &.center-bg-card {
            background: #1a1a1a url('../../assets/images/img-center-gradient-bg.svg') no-repeat;
            background-position: 220% 70%;
            background-size: cover;
            padding: 2rem 2rem 0;

            @media (max-width: 767px) {
                padding: 1.1rem 1.1rem 0;
                background-position: 100% 50%;
            }

            .card-image {
                margin-bottom: -2rem;

                @media (max-width: 992px) {
                    margin-top: 0;
                }
            }
        }

        &.flex-lg-column {
            grid-row-gap: 7rem;
            align-items: stretch;

            @media (max-width: 1200px) {
                grid-row-gap: 5rem;
            }

            @media (max-width: 992px) {
                gap: 1.875rem;
            }

            &.br-bg-card {
                background-position: 100% 100%;
                padding: 2rem 0 0 2rem;

                @media (max-width: 767px) {
                    padding: 1.1rem 0 0 1.1rem;
                }
            }

            &.center-bg-card {
                background-position: 100% 90%;
                background-size: 280%;
                padding: 2rem 0 2rem 2rem;

                @media (max-width: 767px) {
                    padding: 1.1rem 0 1.1rem 1.1rem;
                }
            }

            .card-image {
                max-width: 31.875rem;
                margin-left: auto;

                @media (max-width: 992px) {
                    max-width: 100%;
                    order: 2;
                }
            }

            .card-content {
                letter-spacing: .1px;

                @media (max-width: 992px) {
                    order: 1;
                }
            }
        }

        .card-content {
            max-width: 25.6rem;

            @media (min-width: 1400px) and (max-width: 1680px) {
                max-width: 27.3rem;
            }

            @media (max-width: 992px) {
                max-width: 100%;
                order: 1;
            }

            h3 {
                font-size: 1.5rem;
                line-height: 1.1;
                color: var(--text-white);
                margin-bottom: 1rem;

                @media screen and (max-width: 767px) {
                    font-size: 1.25rem;
                }
            }

            .sort-info {
                color: rgba(255, 255, 255, 0.65);
                font-size: 1.2rem;
                letter-spacing: .1px;
                font-weight: 400;
                line-height: 1.4;

                @media (max-width: 1680px) {
                    font-size: 1.1rem;
                }

                @media (max-width: 992px) {
                    font-size: 1rem;
                    padding-right: 1.1rem;
                }
            }
        }

        .card-image {
            max-width: 37.5rem;

            @media (max-width: 992px) {
                order: 2;
            }
        }
    }
}