@import '../../assets/css/scss/mixins';

.theme-section.icw-sections .acf-innerblocks-container {
    overflow: hidden;
}

.testimonial-section {
    .testimonial-splide {
        @media (max-width: 992px) {
            margin: 0 -0.75rem;
            padding-bottom: 1rem;
        }

        .splide__list {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .splide__track {
            @include border-radius(8px);
            overflow: visible;
        }

        .splide__pagination {
            bottom: -15px;
        }

        .splide__arrows {
            .splide__arrow {
                @media (max-width: 992px) {
                    top: calc(50% - 13px);
                    left: 0;

                    &--next {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    .testimonial-card {
        height: 100%;
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        gap: 1.25rem;
        padding: 1.88rem 1.25rem;
        box-shadow: 0 0 8px 3px #0000001a;
        border: 1px solid #e5e7e7;
        color: var(--text-black);
        @include border-radius(8px);

        @media (max-width: 992px) {
            width: 350px;
            max-width: 100%;
        }

        @media (max-width: 575px) {
            width: 250px;
            max-width: 100%;
            padding: 1.25rem;
        }

        .client-img {
            text-align: center;

            img {
                @include border-radius(50%);
                aspect-ratio: 1 / 1;
                width: 100%;
                max-width: 56px;
            }
        }

        .client-body {
            flex: 1 1 auto;
            margin-bottom: 3.75rem;
            text-align: center;

            @media (max-width: 767px) {
                margin-bottom: 1.875rem
            }

            .sort-info {
                text-align: center;
                max-width: 300px;
                margin: 0 auto;
                line-height: 1.5;
            }
        }

        .client-footer {
            text-align: center;

            .client-name {
                margin-bottom: 0.625rem;

                a {
                    color: var(--text-black);
                    text-decoration: underline;
                    // font-weight: 700;

                    &:hover,
                    &:focus {
                        color: var(--purple);
                    }
                }

                em {
                    font-style: italic;
                    font-weight: 400;
                    opacity: 0.7;
                }
            }

            .client-logo {
                height: 1.5rem;

                img {
                    max-height: 1.5rem;
                }
            }
        }
    }
}