// footer
.main-footer {
    background: #000000 url('../images/img-footer-bg.png') no-repeat bottom right;
    position: relative;
    overflow: hidden;
    padding: 70px 0;
    @media (max-width: 1200px) {
        padding: 50px 0;
    }
    @media (max-width: 767px) {
        padding: 30px 0;
    }
    .footer-link-section {
        border-top: 1px solid #303245;
        border-bottom: 1px solid #303245;
        .footer-link-block {  
            background: linear-gradient(97.24deg, rgba(255, 255, 255, 0.05) 1.72%, rgba(153, 153, 153, 0.05) 98.28%);          
            border-left: 1px solid #303245;
            border-right: 1px solid #303245;            
            padding: 70px 70px 56px;
            backdrop-filter: blur(32px);
            position: relative;
            @media (max-width: 1200px) {
                padding: 50px 40px 40px;
            }
            @media (max-width: 767px) {
                padding: 30px 20px 30px;
            }
            &::before {
                content: '';
                height: 70px;
                width: calc(100% + 2px);      
                border-left: 1px solid #303245;
                border-right: 1px solid #303245;            
                position: absolute;
                top: -70px;
                left: -1px;                
                @media (max-width: 1200px) {
                    height: 50px;
                    top: -50px;
                }
                @media (max-width: 767px) {
                    height: 30px;
                    top: -30px;
                }
            }
            &::after {
                content: '';
                height: 70px;
                width: calc(100% + 2px);      
                border-left: 1px solid #303245;
                border-right: 1px solid #303245;            
                position: absolute;
                bottom: -70px;
                left: -1px;              
                @media (max-width: 1200px) {
                    height: 50px;
                    bottom: -50px;
                }
                @media (max-width: 767px) {
                    height: 30px;
                    bottom: -30px;
                }
            }
        }
        h2 {
            font-size: 16px;
            color: $white;
            font-weight: 500;
            margin-bottom: 15px;
            text-transform: uppercase;
            padding: 8px 0 0;
        }

        .menu {
            margin-bottom: 20px;

            li {
                padding: 5px 0;
                @include flexbox();
                @include flex-wrap(wrap);

                &.footer-title>a {
                    font-size: 16px;
                    color: $white;
                    font-weight: 500;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }


                a {
                    color: #ffffff;
                    font-weight: normal;
                    font-size: 14px;
                    font-weight: 500;
                    position: relative;
                    z-index: 1;
                    @include transition(0.1s, ease-in-out);
                    text-underline-offset: 4px;

                    &:hover,
                    &:focus {
                        color: rgba(255, 255, 255, 0.7);
                        text-decoration: underline;
                    }
                }

                .sub-menu {
                    margin-top: 5px;
                    width: 100%;
                    display: block;

                    li {
                        padding: 5px 0px 5px;
                    }

                    a {
                        font-size: 14px;
                        line-height: 1.2;
                        position: relative;
                    }
                }

                &.current-menu-item>a {
                    color: #fff;

                    &:after {
                        width: 100%;
                        right: auto;
                        left: 0;
                    }
                }

                &.footer-title.current-menu-item>a {
                    color: #fff;

                    &:after {
                        width: 0%;
                    }
                }
            }
        }

        .newsletter-input-block {
            @include flexbox();
            padding-top: 10px;
            max-width: 370px;
            width: 100%;
            margin-bottom: 35px;
            gap: 15px;
            .form-control {
                border: none;
                padding-left: 24px;
                background: transparent;
                border-radius: 0 !important;
                border-bottom: 1px solid #ffffff;
                padding: 0 !important;
                &::placeholder {
                    color: #fff;
                }
            }

            .btn-primary {
                background: transparent !important;
                border-radius: 0 !important;
                border: 1px solid #ffffff;
                letter-spacing: -0.02em;
                &:hover, &:focus {
                    background: #fff !important;
                    color: #303245 !important;
                }
            }
        }

    }
    .footer-logo-list {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        margin: 24px 0 0;
        max-width: 405px; 
        gap: 10px 15px;
        li img {
            max-height: 50px;
        }
        @media (max-width: 575px) {
            margin: 24px auto 0;
        }
    }
        

    .social-icon {
        @include flexbox();

        li {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }

            img {
                max-width: 24px;
            }

            a {
                @include flexbox();
            }
        }
    }
    .summary-block {
        margin-top: 140px;
        @media (max-width: 1200px) {
            margin-top: 80px;
        }
        @media (max-width: 767px) {
            margin-top: 40px;
            text-align: center;
        }
        .title {
            font-size: 16px;
            font-weight: 500;
            color: #fff;
            margin-bottom: 20px;
        }
        .ai-logo-block {
            @include flexbox;
            @include align-items(center);
            gap: 22px;
            @media (max-width: 767px) {
                @include justify-content(center);
            }
            li {
                img {
                    width: 30px;
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }
    .site-logo-block {
        margin-top: 60px;
        margin-bottom: 40px;
    }
    .footer-copyright-section {
        padding: 15px 0 0;
        // background: rgba(#FFFFFF, 0.05);
        color: rgba(#FFFFFF, 0.6);
        font-size: 12px;
        font-weight: 700;

        p {
            font-size: 12px;
        }

        .footer-links {
            @include flexbox();

            li {
                margin-right: 30px;
                @include flexbox();

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: #ffffff;
                    font-weight: normal;
                    font-size: 12px;
                    font-weight: 500;
                    position: relative;
                    white-space: nowrap;
                    z-index: 1;

                    &:hover,
                    &:focus {
                        color: #fff;

                        &:after {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: -2px;
                        background: #fff;
                        width: 0;
                        height: 1px;
                        @include transition(0.3s, ease-in-out);
                    }
                }
            }
        }
    }

    @media(max-width:991px) {
        .footer-link-section {
            h2 {
                font-size: 18px;
                margin-bottom: 10px;
            }

            .footer-links {
                margin-bottom: 20px;

                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }

        .footer-bg-logo {
            height: 400px;
            left: -70px;
            top: -125px;
        }
    }

    @media(max-width:767px) {
        .footer-logo {
            display: inline-block;
            margin-bottom: 30px;
        }
        .footer-copyright-section {
            text-align: center;

            .footer-links {
                @include justify-content(center);
                flex-wrap: wrap;
                margin-bottom: 10px;

                li {
                    margin: 0px 15px 10px;
                }
            }
        }

        .newsletter-input-block {
            margin-bottom: 30px;
        }

    }

    @media(max-width:575px) {

        .footer-link-section {
            .footer-links {
                margin-bottom: 25px;

                li {
                    @include justify-content(center);
                    padding: 4px 0;

                }
            }

            .newsletter-input-block {
                display: block;
                max-width: 100%;

                .form-control {
                    min-height: 46px;
                }

                .btn-primary {
                    margin: 12px 0 0 0;
                }
            }
        }

        .social-icon {
            @include justify-content(center);
            margin-top: 35px;

            li {
                margin-right: 50px;
            }
        }
    }
}