.main-header {
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
    max-width: 100vw;
    --header-h: 56px;
    .header-note {
        background: #303245;
        text-align: center;
        padding: 5px 0;
        position: relative;
        z-index: 11;
        .note-text {
            font-weight: 700;
            font-size: 14px;
            color: $white;
            padding-right: 15px;
            .line {
                display: inline-block;
                font-weight: 300;
                color: rgba($white, 0.4);
                padding: 0 8px;
            }
            a {
                font-weight: 500;
                position: relative;
                color: $white;
                @include transition(0.1s, ease-in-out);
                .text,
                .text-nowrap {
                    padding: 0;
                    display: inline-block;
                    z-index: 1;
                    position: relative;
                    color: $white;

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: -1px;
                        background: $white;
                        width: 0;
                        height: 1px;
                        @include transition(0.1s, ease-in-out);
                    }
                }
                .btn-icon {
                    padding: 0;
                    padding-left: 3px;
                    display: inline-block;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(0.1s, ease-in-out);
                }
                &:hover,
                &:focus {
                    .text,
                    .text-nowrap {
                        &:after {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }
                    .btn-icon {
                        opacity: 1;
                        visibility: visible;
                        @include transform(translateX(5px));
                    }
                }
            }
        }
        @media (max-width:767px) {
            .note-text {
                line-height: 1.2;
                font-size: 12px;
            }
        }
    }

    .header-nav-wrap {
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 10;
        @include transition(0.1s, ease-in-out);

        body:not(.home) & {
            background: rgba(255, 255, 255, 0.99);
        }

        &.fixed-header {
            background: rgba(255, 255, 255, 0.7) !important;
            backdrop-filter: blur(50px);
            z-index: 10;
        }
    }

    .navbar {
        padding: 24px 0;
        min-height: 80px;
        >.theme-container {
            display: block;

            @media (min-width: 992px) {
                max-width: 100%;
            }
            @media (min-width: 1200px) {
                max-width: 1400px;
            }
            @media (min-width: 1441px) {
                max-width: 1630px;
            }
        }

        .header-logo {
            @media (max-width: 767px) {
                img {
                    max-width: 160px;
                }
            }
        }
    }

    .navbar-nav {
        @include justify-content(flex-end);
    }

    .menu-list {
        margin-left: auto;

        >ul {
            @include align-items(center);
            margin: 0 auto;

            &.navbar-nav-right {
                margin-left: 10px;
                margin-right: 0;

                li {
                    margin: 0 4px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .mainMenu {
            &>li {
                padding: 4px 12px 8px;
                margin: 0 5px;

                @media (max-width:1320px) {
                    padding: 3px 10px 6px;
                    margin: 0 3px;
                }
            }
        }

        li {
            margin: 0 15px;
            position: relative;
            @include transition(0.1s, ease-in-out);
            @include border-radius(10px);
            background: transparent;

            @media (min-width:992px) {
                margin: 0 10px;
            }

            @media (min-width:1400px) {
                margin: 0 12px;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #303245;
                position: relative;
                z-index: 1;
                font-weight: 500;
                font-size: 16px;
                @include inline-flex;
                @include align-items(center);
                @include transition(0.1s, ease-in-out);

                &.btn {
                    min-width: auto;
                    padding: 0 20px;
                    font-weight: 600;
                    min-height: 56px;
                    @include border-radius(8px);
                    letter-spacing: -0.02em;

                    @media (max-width:1320px) and (min-width: 1200px) {
                        padding: 0 15px;
                    }

                    &::before {
                        content: none;
                    }
                }
            }

            &.current-menu-item {
                &>a {
                    color: #000 !important;
                    font-weight: 800;

                    &::before {
                        width: 100%;
                        right: auto;
                        left: 0;
                    }
                }
            }

        }
    }

    .github-btn {
        @include justify-content(space-between);
        transition: none !important;
        padding: 0 15px !important;
        .btn-icon {
            max-width: 24px;
            max-height: 24px;
            width: 24px;
            height: 24px;
            // @include transition(0.3s, ease-in-out);
        }

        .review-text {
            color: #0C111D;
            font-size: 16px;
            line-height: normal;
            @include border-radius(5px);
            @include flexbox();
            @include align-items(center);
            // @include box-shadow(0px 6px 30px rgba(75, 83, 98, 0.12));
        }

        &:hover,
        &:focus {
            .btn-icon {
                filter: invert(1);
            }

            .review-text {
                color: $white;
            }
        }
    }

    .sub-menu {
        @media (max-width: 1200px) {
            margin-left: 5px !important;
            margin-top: 10px !important;
            margin-bottom: 15px !important;
        }    
        li {
            margin: 0;
            &:last-child {
                a {
                    margin-bottom: 0;
                }
            }

            a {
                font-size: 20px !important;
                font-weight: 700;
                margin-bottom: 20px;
                line-height: 1;
                &[rel] {
                    font-size: 18px !important; 
                    color: #303245;
                    font-weight: 500;
                    letter-spacing: -0.03rem;                    
                    margin-bottom: 30px;
                    position: relative;
                    pointer-events: none;    
                    @media (max-width: 1200px) {
                        color: $purple !important;
                        font-size: 16px !important;                   
                        margin-bottom: 15px;
                    }                
                }
            }
            
            .menu-feature-card {
                background: #F9F1F9;
                padding: 15px;
                border-radius: 15px;
                @include flexbox;
                @include flex-direction(column);
                gap: 20px;
                position: relative;
                @include transition(0.1s, ease-in-out);
                height: 100%;
                @media (max-width: 1200px) {
                    padding: 8px;
                    border-radius: 8px;
                    gap: 15px;
                }
                .card-img {
                    border-radius: 15px;
                    overflow: hidden;
                    @media (max-width: 1200px) {
                        border-radius: 8px;
                    }
                    img {                                
                        border-radius: 15px;
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        @media (max-width: 1200px) {
                            border-radius: 8px;
                        }
                    }
                }
                .card-body {
                    padding: 0;
                    .card-title {
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                    .sort-info {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
                .card-footer {
                    padding: 0;
                    background: transparent;
                    border: none;
                    .btn {
                        min-height: 46px !important;
                        position: unset;
                        @media (max-width: 1200px) {
                            font-size: 16px !important;
                            padding: 0 15px !important;
                        }
                        &::before {
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            z-index: 1;
                            content: "";
                        }
                    }
                }
                &:hover, &:focus {
                    box-shadow: 0px 4px 4px rgba(76, 53, 112, 0.34);                            
                }
            }
        }
    }

    .header-first-block {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        position: relative;
    }

    @media (min-width:1200px) {
        .mega-menu-item {
            position: unset !important;
        }
        .sub-menu {
            @include opacity(0);
            visibility: hidden;
            position: absolute;
            background-color: #F4F5F7;
            top: 100%;
            left: 0;
            z-index: 1;
            padding: 30px;
            @include transform(translateY(-10px));
            @include border-radius(6px);
            @include box-shadow(0 5px 20px rgba(0,0,0,.2));
            transition-property: opacity, transform, visibility;
            transition-duration: 0.2s;
            transition-timing-function: cubic-bezier(.08,.52,.52,1);
            min-width: 210px;

            &.is-menu {
                @include opacity(1);
                visibility: visible;
                @include transform(translateY(-1px));
                z-index: 99;
                &.mega-menu {
                    @include transform(translateX(-50%) translateY(-1px));
                }
            }
            &.mega-menu {
                width: 100%;
                max-width: 1000px;
                left: 50%;
                @include transform(translateX(-50%) translateY(-10px));
                display: grid;
                grid-template-columns: 250px auto;
                background: #ffffff;
                padding: 0;
                & > li {
                    border-radius: 0;
                    &:first-child {
                        border-right: 1.5px solid #DEE0E9;                    
                        padding: 20px;
                    }
                    &:last-child {                    
                        padding: 20px;
                    }
                    & > ul.card-list {                        
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 20px;
                        li {
                            &:first-child {
                                grid-column: 1 / -1;
                                a {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .menu-list {
            @include flexbox();

            li {
                &:hover {
                    ul.sub-menu {
                        @include opacity(1);
                        visibility: visible;
                        @include transform(translateY(-1px));
                        z-index: 99;
                        &.mega-menu {
                            @include transform(translateX(-50%) translateY(-1px));
                        }
                    }
                }

                a {
                    word-break: inherit;

                    &:hover,
                    &:focus {
                        color: $purple;
                    }
                }

                &.menu-item-has-children {
                    >a {
                        @include align-items(center);

                        &:after {
                            vertical-align: middle;
                            content: "";
                            background: url(../images/arrow-down.svg) no-repeat center right;
                            background-size: contain;
                            width: 10px;
                            height: 10px;
                            margin-left: 8px;
                            display: inline-block;
                            @include transition(0.1s, ease-in-out);
                            // filter: brightness(100);
                            // -webkit-filter: brightness(100);
                        }
                    }

                    &:hover,
                    &:focus {
                        >a {
                            &:before {
                                width: 50%;
                                left: 0;
                            }

                            &:after {
                                @include transform(rotate(180deg));
                                filter: inherit;
                                -webkit-filter: inherit;
                            }
                        }
                    }
                }
            }

            .mainMenu {
                &>li {
                    &>a {
                        &::before {
                            content: none;
                        }
                    }

                    &:hover {                       

                        & > a {
                            color: $purple;
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 1400px) {
        .sub-menu.mega-menu {
            max-width: 1200px;
            grid-template-columns: 280px auto;
            & > li:first-child {
                padding: 30px
            }
            & > li:last-child {
                padding: 30px
            }
            li {
                ul.card-list {   
                    gap: 30px;
                }
                .menu-feature-card { 
                    gap: 30px;
                }
            }
        }
    }
    @media (max-width:1499px) {
        .menu-list {
            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width:1199px) {
        &.is-visible {
            background-color: $white;

            .header-first-block {
                background-color: $white;
            }

            .header-nav-wrap {
                background-color: $white;
            }

            .menu-list {
                @include transform(translateX(0px));
            }
        }
        .navbar {
            padding: 0 15px;
            min-height: 56px !important;

            .header-first-block {
                padding: 10px 0px;
                min-height: 56px !important;
            }
        }

        .header-first-block {
            @include justify-content(flex-start);
        }
        .header-logo {
            margin-left: 30px;
        }
        .sidebar-icon {
            display: inline-block;
            cursor: pointer;
            border: none;
            padding: 0;
            background-color: transparent;
            position: absolute;
            left: 0;
            z-index: 10;

            &.is-visible {
                .line1 {
                    @include transform(rotate(-45deg) translate(-3px, 4px));
                }

                .line2 {
                    @include opacity(0);
                    visibility: hidden;
                }

                .line3 {
                    @include transform(rotate(45deg) translate(-3px, -4px));
                }
            }

            span {
                width: 15px;
                height: 2px;
                margin: 3px 0;
                background-color: #303245;
                @include border-radius(4px);
                display: block;
                @include transition(0.4s, ease-in-out);
            }
        }

        .menu-list {
            >ul {
                width: 100%;
                align-items: flex-start;

                >li {
                    margin: 0 !important;
                    padding: 0px 0 15px !important;

                    >a {
                        font-size: 18px;
                        color: $purple;
                        font-weight: 700;
                        white-space: nowrap;
                    }
                }

                &.mainMenu {
                    >li {
                        width: 100%;
                        a {
                            color: #303245;
                        }
                        &:last-child {
                            width: 100%;
                        }
                    }
                    .menu-item-has-children {
                        & > a {
                            position: relative;
                            display: block;
                            color: #303245;
                        }
                        .arrow {
                            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16"><path stroke="rgb(48 50 69)" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m4 7 4 4 4-4"></path></svg>');
                            position: absolute;
                            top: 3px;
                            right: 0px;
                            width: 18px;
                            height: 18px;
                            transition: all 0.05 ease;
                            z-index: 10;
                        }
                    }
                    .sub-menu {
                        padding-top: 10px;
                        margin-left: 0px;
                        display: none;
                        width: 100%;

                        a {
                            font-size: 14px;
                            &:hover, &:focus {
                                color: $purple;
                            }
                        }
                        
                        &.mega-menu {
                            & > li {
                                & > ul.card-list {                        
                                    display: grid;
                                    grid-template-columns: 1fr 1fr;
                                    gap: 10px;
                                    li {
                                        &:first-child {
                                            grid-column: 1 / -1;
                                            a {
                                                margin-top: 30px;
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.navbar-nav-right {
                    margin-bottom: 90px;
                }
            }

            ul.navbar-nav-right {
                >li {
                    padding: 0px !important;
                    margin-right: 15px !important;

                    &:last-child {
                        margin-right: 0px !important;
                    }
                }
            }

            ul.navbar-nav-right {
                @include flexbox();
                @include align-items(flex-start);
                @include flex-wrap(wrap);
                @include flex-direction(row);
                @include justify-content(start);
                gap: 20px;
                margin: 20px 0 30px;
                .nav-item {
                    flex: 1;
                    margin: 0 !important;
                    .btn {
                        width: 100%;
                        justify-content:center;
                    }
                }
            }

            overflow-y: auto;
            width: 100%;
            max-width: 350px;
            display: flex;
            flex-direction: column;
            padding: 110px 15px 15px;
            background-color: $white;
            @include transition(0.4s, ease-in-out);
            @include transform(translateX(-100%));
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;

            height: 100%;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
        }
    }

    @media (max-width:450px) {
        .menu-list {
            >ul {
                >li {
                    width: 100%;
                }
            }

            ul.navbar-nav-right {
                margin-left: 0px;
                >li {
                    width: 100%;

                    &:last-child {
                        width: 100%;

                        .btn-primary {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .header-first-block {
            @include justify-content(flex-start);

            .header-logo {
                margin-left: 30px;
            }
        }
    }
}
.bg-overly {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 87px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);

    &.is-visible {
        opacity: 1;
        z-index: 3;
    }
}