.main-header {
    position: sticky;
    top: 0;
    z-index: 9;
    width: 100%;
    max-width: 100vw;

    --header-h: 56px;

    .header-note {
        background: #303245;
        text-align: center;
        padding: 5px 0;
        position: relative;
        z-index: 11;

        // overflow-x: hidden;
        // & + .header-nav-wrap {
        //     top: 37px; 
        //     @media (max-width:767px) {
        //         top: 30px;
        //     }
        // }
        .note-text {
            font-weight: 700;
            font-size: 14px;
            color: $white;
            padding-right: 15px;

            .line {
                display: inline-block;
                font-weight: 300;
                color: rgba($white, 0.4);
                padding: 0 8px;
            }

            a {
                font-weight: 500;
                position: relative;
                color: $white;
                @include transition(0.3s, ease-in-out);

                .text,
                .text-nowrap {
                    padding: 0;
                    display: inline-block;
                    z-index: 1;
                    position: relative;
                    color: $white;

                    &:after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: -1px;
                        background: $white;
                        width: 0;
                        height: 1px;
                        @include transition(0.3s, ease-in-out);
                    }
                }

                .btn-icon {
                    padding: 0;
                    padding-left: 3px;
                    display: inline-block;
                    opacity: 0;
                    visibility: hidden;
                    @include transition(0.3s, ease-in-out);
                }

                &:hover,
                &:focus {

                    .text,
                    .text-nowrap {
                        &:after {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }

                    .btn-icon {
                        opacity: 1;
                        visibility: visible;
                        @include transform(translateX(5px));
                    }
                }


            }
        }

        @media (max-width:767px) {
            .note-text {
                // overflow-y: auto;
                // white-space: nowrap;
                line-height: 1.2;
                font-size: 12px;
            }
        }
    }

    .header-nav-wrap {
        position: relative;
        top: 0px;
        left: 0;
        right: 0;
        z-index: 10;
        @include transition(0.3s, ease-in-out);
        // background: rgba(255, 255, 255, 0.7);

        body:not(.home) & {
            background: rgba(255, 255, 255, 0.99);
        }

        &.fixed-header {
            background: rgba(255, 255, 255, 0.7) !important;
            backdrop-filter: blur(50px);
            // top: 0;
            z-index: 10;
            // .navbar{
            //     padding-top: 5px;
            //     padding-bottom: 5px;
            //     min-height: 70px;
            // }
        }
    }

    .navbar {
        padding: 24px 0;
        min-height: 80px;
        >.container {
            display: block;

            @media (min-width: 1320px) {
                max-width: 1600px;
            }
        }

        .header-logo {
            @media (max-width: 767px) {
                img {
                    max-width: 160px;
                }
            }
        }
    }

    .navbar-nav {
        @include justify-content(flex-end);
    }

    .menu-list {
        margin-left: auto;
        width: 100%;

        >ul {
            @include align-items(center);
            margin: 0 auto;

            &.navbar-nav-right {
                margin-left: 10px;
                margin-right: 0;

                li {
                    margin: 0 4px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }

        .mainMenu {
            &>li {
                padding: 4px 12px 8px;
                margin: 0 5px;

                @media (max-width:1320px) {
                    padding: 3px 10px 6px;
                    margin: 0 3px;
                }
            }
        }

        li {
            margin: 0 15px;
            position: relative;
            @include transition(0.3s, ease-in-out);
            @include border-radius(10px);
            background: transparent;

            @media (min-width:992px) {
                margin: 0 10px;
            }

            @media (min-width:1400px) {
                margin: 0 12px;
            }

            &:last-child {
                margin-right: 0;
            }

            a {
                color: #303245;
                position: relative;
                z-index: 1;
                font-weight: 500;
                font-size: 16px;
                @include inline-flex;
                @include align-items(center);
                @include transition(0.3s, ease-in-out);

                &.btn {
                    min-width: auto;
                    padding: 0 20px;
                    font-weight: 600;
                    min-height: 56px;
                    @include border-radius(8px);
                    letter-spacing: -0.02em;

                    @media (max-width:1320px) and (min-width: 1200px) {
                        padding: 0 15px;
                    }

                    &::before {
                        content: none;
                    }
                }
            }

            &.current-menu-item {
                &>a {
                    color: #000 !important;
                    font-weight: 800;

                    &::before {
                        width: 100%;
                        right: auto;
                        left: 0;
                    }
                }
            }

        }
    }

    .github-btn {
        @include justify-content(space-between);
        transition: none !important;
        padding: 0 8px 0 15px !important;
        .btn-icon {
            max-width: 24px;
            max-height: 24px;
            width: 24px;
            height: 24px;
            // @include transition(0.3s, ease-in-out);
        }

        .review-text {
            color: #0C111D;
            font-size: 16px;
            line-height: normal;
            @include border-radius(5px);
            @include flexbox();
            @include align-items(center);
            // @include box-shadow(0px 6px 30px rgba(75, 83, 98, 0.12));
        }

        &:hover,
        &:focus {
            .btn-icon {
                filter: invert(1);
            }

            .review-text {
                color: $white;
            }
        }
    }

    .sub-menu {
        li {
            margin: 0 !important;
            padding: 0 0 8px;

            a {
                font-size: 15px;
            }
        }
    }

    .header-first-block {
        @include flexbox();
        @include align-items(center);
        @include justify-content(space-between);
        position: relative;
    }

    @media (min-width:1200px) {
        .sub-menu {
            @include opacity(0);
            visibility: hidden;
            position: absolute;
            background-color: #F4F5F7;
            left: -1.5rem;
            z-index: 1;
            padding: 1rem;
            margin: 0.75rem 0 0 0;
            // @include transform(translateY(5px));
            @include border-radius(6px);
            // @include box-shadow(0 2px 10px 8px rgba(0, 0, 0, 0.1));
            @include transition(0.1s, ease-in-out);
            min-width: 210px;

            &.is-menu {
                @include opacity(1);
                visibility: visible;
                // @include transform(translateY(0));
                z-index: 99;
            }
        }

        .menu-list {
            @include flexbox();

            li {
                &:hover {
                    ul.sub-menu {
                        @include opacity(1);
                        visibility: visible;
                        // @include transform(translateY(0));
                        z-index: 99;
                    }
                }

                a {
                    word-break: inherit;

                    &:hover,
                    &:focus {
                        color: $purple;

                        &:before {
                            width: 100%;
                            right: auto;
                            left: 0;
                        }
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        right: 0;
                        bottom: 0;
                        background: #000;
                        width: 0;
                        height: 1px;
                        @include transition(0.3s, ease-in-out);
                    }
                }

                &.menu-item-has-children {
                    >a {
                        @include align-items(center);

                        &:after {
                            vertical-align: middle;
                            content: "";
                            background: url(../images/arrow-down.svg) no-repeat center right;
                            background-size: contain;
                            width: 10px;
                            height: 10px;
                            margin-left: 8px;
                            display: inline-block;
                            @include transition(0.3s, ease-in-out);
                            // filter: brightness(100);
                            // -webkit-filter: brightness(100);
                        }
                    }

                    &:hover,
                    &:focus {
                        >a {
                            &:before {
                                width: 50%;
                                left: 0;
                            }

                            &:after {
                                @include transform(rotate(180deg));
                                filter: inherit;
                                -webkit-filter: inherit;
                            }
                        }
                    }
                }
            }

            .mainMenu {
                &>li {
                    &>a {
                        &::before {
                            content: none;
                        }
                    }

                    &:hover {
                        background: rgba($bodyfontcolor, 0.1);

                        a {
                            color: $bodyfontcolor;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:1499px) {
        .menu-list {
            li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    @media (max-width:1199px) {

        /*
        .header-note{
            & + .header-nav-wrap {
                .menu-list{
                    // min-height: calc(100vh - 91px);
                    // margin-top: 91px;
                    min-height: calc(100vh - var(--header-h));
                    top: var(--header-h);
                    @media (max-width:767px) {
                        min-height: calc(100vh - var(--header-h));
                        top: var(--header-h);  
                    }
                }
            }
        }
        */
        &.is-visible {
            background-color: $white;

            .header-first-block {
                background-color: $white;
            }

            .header-nav-wrap {
                background-color: $white;
            }

            .menu-list {
                @include transform(translateX(0px));
            }
        }

        /*
        .header-nav-wrap{
            &.fixed-header{
                .menu-list{
                    min-height: calc(100vh - 56px);
                    // top: 56px;
                    @media (max-width:767px) {
                        // min-height: calc(100vh - 98px);
                        // margin-top: 98px;  
                        min-height: calc(100vh - 56px);
                        // top: 56px;
                    }
                }
            }
        }
        */
        .navbar {
            padding: 0 15px;
            min-height: 56px !important;

            .header-first-block {
                padding: 10px 0px;
                min-height: 56px !important;
            }
        }

        .header-first-block {
            @include justify-content(center);
        }

        .sidebar-icon {
            display: inline-block;
            cursor: pointer;
            border: none;
            padding: 0;
            background-color: transparent;
            position: absolute;
            left: 0;
            z-index: 10;

            &.is-visible {
                .line1 {
                    @include transform(rotate(-45deg) translate(-3px, 4px));
                }

                .line2 {
                    @include opacity(0);
                    visibility: hidden;
                }

                .line3 {
                    @include transform(rotate(45deg) translate(-3px, -4px));
                }
            }

            span {
                width: 15px;
                height: 2px;
                margin: 3px 0;
                background-color: #303245;
                @include border-radius(4px);
                display: block;
                @include transition(0.4s, ease-in-out);
            }
        }

        .menu-list {
            >ul {
                // @include align-items(flex-start);
                // @include flex-wrap(wrap);
                // @include flex-direction(inherit);
                // @include justify-content(start);
                margin-left: 5px;
                width: 100%;
                display: block;
                min-width: 100%;

                >li {
                    margin: 0 !important;
                    padding: 0px 0 15px !important;

                    >a {
                        font-size: 18px;
                        color: $purple;
                        font-weight: 700;
                        white-space: nowrap;
                    }
                }

                &.mainMenu {
                    >li {
                        width: 100%;

                        &:last-child {
                            width: 100%;
                        }
                    }

                    .sub-menu {
                        padding-top: 10px;
                        margin-left: 0px;

                        a {
                            font-size: 14px;
                        }
                    }
                }

                &.navbar-nav-right {
                    margin-bottom: 90px;
                }
            }

            ul.navbar-nav-right {
                >li {
                    padding: 0px !important;
                    margin-right: 15px !important;

                    &:last-child {
                        margin-right: 0px !important;
                    }
                }
            }

            ul.navbar-nav-right {
                @include flexbox();
                @include align-items(flex-start);
                @include flex-wrap(wrap);
                @include flex-direction(inherit);
                @include justify-content(start);
            }

            // min-height: calc(100vh - 56px);
            overflow-y: auto;
            width: 100%;
            display: block;
            padding: 100px 15px 15px;
            background-color: $white;
            @include transition(0.4s, ease-in-out);
            @include transform(translateX(-100%));
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            z-index: -1;
            // margin-top: 56px;

            height: 100%;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);

            // min-height: calc(100vh - var(--header-h));
            // padding-top: var(--header-h);
            // @media (max-width:767px) {
            //     min-height: calc(100vh - var(--header-h));
            //     padding-top: var(--header-h);  
            // }
        }
    }

    @media (max-width:450px) {
        .menu-list {
            >ul {
                >li {
                    width: 100%;
                }
            }

            ul.navbar-nav-right {
                margin-left: 0px;
                flex-wrap: nowrap !important;

                >li {
                    width: auto;

                    &:last-child {
                        width: 100%;

                        .btn-primary {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .header-first-block {
            @include justify-content(flex-start);

            .header-logo {
                margin-left: 30px;
            }
        }
    }
}